<%
  @title = t('views.contributions.search.heading')
  @javascripts[:page] = 'search'
%>


<div class="section search top">
  
  <h2 class="search-results-title"><%= @title %></h2>
    
  <ul id="results-tabs">
    <%- for provider in registered_search_providers -%>
      <%- if provider_stem = search_provider_stem(provider) -%>
        <li><%= link_to search_provider_name(provider), search_provider_href(provider), :id => "results-tab-#{provider_stem}", :'data-search-action' => search_provider_href(provider), :'data-content-id' => "#results-#{provider_stem}", :'data-hash' => "##{provider_stem}", :class => (provider_stem == current_search_provider_stem ? 'active' : '') %></li>
      <%- end -%>
    <%- end -%>
  </ul>
  
  <div id="results">
    
    <%- for provider in registered_search_providers -%>
      <%- provider_stem = search_provider_stem(provider) -%>
      <div id="results-<%= provider_stem %>">
        <%- if provider_stem == current_search_provider_stem -%>
          <% if @results.size == 0 -%>
            <p><%= t('views.contributions.search.no_matches') %></p>
          <% else -%>
            <div id="results-items">
              <%=
              render :partial => 'search/results',
                :locals => {
                  :results => @results,
                  :query => @query,
                  :term => @term
                }
              %>
            </div>
            
            <div id="results-facets">
              <%= render :partial => 'search/facets', :object => @facets, :locals => { :query => @query, :provider => provider } %>
            </div>
            
          <% end -%>
        <%- end -%>
      </div>
    <%- end -%>
  
  </div>
  
</div>
