<%

	provide :javascripts_page, 'explore'
	provide :title, t('views.explore.heading')

%>
<div class="section top">
	
	<div id="explore-featured" class="carousel two-thirds-right">
		<ul>
			<%=
				render :partial => 'blog_posts/list',
				:locals => {
					:blog => 'europeana',
					:category => 'explore-featured',
					:tag => :li,
					:relocale => true
				}
			%>
		</ul>
		<div class="carousel-overlay"></div>
	</div>
	
	<div id="explore-introduction" class="one-third-left">
		<%= render :partial => 'blog_posts/list', :locals => { :category => 'explore-introduction', :titles => true } %>
	</div>
	
</div>


<div id="explore-featured-categories" class="section border-top">
	
	<h2><%= t('common.featured-categories') %></h2>
	
		<ol>
			<%=
				render :partial => 'blog_posts/list',
				:locals => {
					:blog => 'europeana',
					:category => 'explore-featured-categories',
					:tag => :li,
					:relocale => true,
					:deblogger => true
				}
			%>
		</ol>

</div>


<div class="section border-top">
	
	<h2><%= t('common.from-collection-days') %></h2>
	
		<div id="explore-collection-days" class="carousel">
			<ul>
				<%=
					render :partial => 'blog_posts/list',
					:locals => {
						:category => 'collection-days',
						:tag => :li,
						:relocale => true,
						:deblogger => true
					}
				%>
			</ul>
			<div class="carousel-overlay"></div>
		</div>

	
</div>


<div id="explore-editors-picks" class="section border-top">
	
	<h2><%= t('common.editors_pick.heading') %></h2>
		
		<%=
			render :partial => 'blog_posts/list',
			:locals => {
				:blog => 'gwa',
				:tag => 'div',
				:html_class => 'article',
				:titles => true,
				:limit => 2,
				:deblogger => true,
				:read_more => true
			}
		%>
	
</div>
