<%

	@javascripts[:gmap_locate] = true
	@javascripts[:language_other] = true
	@javascripts[:collapsible] = true
	@javascripts[:contributions_edit] = true
	
	@fieldset_class = 'collapsed'
	if 'cataloguer' == current_user.role.name
		@fieldset_class = 'collapsible'
	end
	
	@title = t('views.contributions.story.step1')
	
%>
<div class="section top">
  
	<h2><%= @title %></h2>
	
	  <% if current_user.may_delete_contribution?(@contribution) -%>
		  <div class="action-links">
				<ul>					
					<li><%= link_to t('formtastic.actions.contribution.delete'), delete_contribution_path(@contribution) %></li>
					<li><%= link_to t('formtastic.actions.attachment.add_edit'), ( new_contribution_attachment_path(@contribution) ) %> (<%= @contribution.attachments.size %>)</li>
					<% if @contribution.ready_to_submit? %>
						<li><%= link_to t('formtastic.actions.contribution.submit'), new_contribution_attachment_path( @contribution ) %></li>
					<% end %>
					<%- if current_user.may_view_contribution_status_log?(@contribution) -%>
            <%= link_to( t('views.contributions.status.title'), status_contribution_path(@contribution) ) %>
          <%- end -%>
				</ul>
		  </div>
	  <% end -%>
		
	  <%= render :partial => 'form', :locals => { :contribution => @contribution } %>
	  
	  <% if @contribution.draft? -%>
		<%= render :partial => 'progress', :locals => { :step => 1 } %>
	  <% end -%>

</div>
