<%
  @javascripts[:autocomplete] = true
  @javascripts[:masonry] = true
  @javascripts[:search] = true
  @title = t('views.contributions.search.heading')
%>
<div class="section top">
  
  <h2><%= @title %></h2>

    <%= render :partial => '/shared/search_form', :locals => { :query => @query, :count => 48 } %>
    
    <ul id="results-tabs">
      
      <%- if europeana_api_configured? -%>
        <li><%= link_to 'Europeana 1914-1918', '#results-1914', :id => 'results-tab-1914', :'data-search' => '/contributions/search' %></li>
        <li><%= link_to t('views.contributions.search.related-europeana'), @field.present? ? explore_europeana_path(@field.name, @term) : search_europeana_path(:q => @query), :id => 'results-tab-europeana', :'data-search' => '/europeana/search' %></li>
      <%- end -%>
      
    </ul>
    
    <div id="results">    
      
      <div id="results-1914">
        
        <% if @contributions.size == 0 -%>
          <p><%= t('views.contributions.search.no_matches') %></p>
        <% else -%>    
          <%=
          render :partial => 'search-results',
          :locals => {
            :contributions => @contributions,
            :query => @query,
            :term => @term
          }
          %>    
        <% end -%>
        
      </div>
      
      <div id="results-europeana"></div>
      
    </div>
  
</div>

