<%

  @javascripts[:gmap_display] = true
  @javascripts[:images_loaded] = true
  @javascripts[:carousel] = true
  @javascripts[:truncate] = true
  @javascripts[:lightbox] = true
  @javascripts[:translate] = true
  @javascripts[:contributions_show] = true
  @title = t('views.contributions.show.title')
  
%>
<section class="border-top">
  
  <div class="two-thirds-right">
	
	<div id="contributions-featured" class="carousel">	
	  <ul>		
		<% if @contribution.attachments.present? -%>
		  <%= render :partial => '/attachments/display-images', :locals => { :size => :medium, :prettyphoto => true } %>
		<% end %>
	  </ul>	  
	  <div class="carousel-overlay"></div>	
	</div>
	
	
	<div id="contributions-thumbnails" class="carousel">		
		<ul>
		  <% if @contribution.attachments.present? -%>
			<%= render :partial => '/attachments/display-images', :locals => { :size => :preview } %>
		  <% end %>		  
		</ul>		
		<div class="carousel-overlay"></div>	  
	</div>
	
	
	<ul id="images-extra">	  
	  <li>image x of x <%= @contribution.attachments.size %></li>
	  <li>license</li>	  
	</ul>
	
	
	<div id="banner">
	  <%=
		render :partial => '/blog_posts/list',
		:locals => {
			:blog => 'europeana',
			:category => 'story-banner',
			:relocale => true,
			:deblogger => true
		}
	  %>
	</div>
	
  </div>
  
  
  <div id="story-info" class="one-third-left">
	
	<h2><%= contribution_title(@contribution) %></h2>
	
	<dl id="story-metadata" class="metadata">
	  <%=
		render :partial => '/metadata/display',
		:locals => {
		  :show_title => false,
		  :contribution => @contribution,
		  :metadata => @contribution.metadata,
		  :field_options => {
			:name => [
			  'alternative',
			  'description',
			  'author',
			  'subject',
			  'keywords',
			  # 'date',
			  'date_from', # use this field to summarize the date fields
			  'date_to',
			  'location_map',
			  'location_placename',
			  'file_type',
			  'source',
			  'format',
			  'content',
			  'contributor_behalf',
			  'page_number',
			  'page_total',
			  'editor_pick',
			  'cataloguer',
			  'notes',
			  'lang',
			  'forces',
			  'theatres',
			  'collection_day',
			  'lang_other',
			  'object_side',
			  'cover_image',
			  'creator_family_name',
			  'creator_given_name',
			  'license',
			  'character1_family_name',
			  'character1_given_name',
			  'character2_family_name',
			  'character2_given_name',
			  'attachment_description',
			  'summary',
			  'ticket',
			  'location_zoom'
			],
			:name_order => true
		  }
		}
	  %>
	</dl>
	
	<div id="avatar" class="responsive-box">
	  
	  <img src="/images/profile-placeholder.jpg" width="200" />
	  <%= @contribution.metadata.fields['contributor_behalf'] %> shared this story about
	  <%= @contribution.metadata.fields['character1_given_name'] %> <%= @contribution.metadata.fields['character1_family_name'] %> and
	  <%= @contribution.metadata.fields['character2_given_name'] %> <%= @contribution.metadata.fields['character2_family_name'] %>
	
	</div>
	
  </div>

</section>