<%

  @javascripts[:gmap_display] = true
  @javascripts[:images_loaded] = true
  @javascripts[:carousel] = true
  @javascripts[:truncate] = true
  @javascripts[:lightbox] = true
  @javascripts[:translate] = true
  @javascripts[:contributions_show] = true
  @title = contribution_title(@contribution)
  
%>
<section class="top">
  
  <h2><%= contribution_title(@contribution) %></h2>
  
	<div class="one-half-right">
	  
	  <div id="contributions-featured" class="carousel">	
		<ul>		
		  <% if @contribution.attachments.present? -%>
			<%=
			  render :partial => '/attachments/display-images',
			  :locals => {
				:size => :medium,
				:prettyphoto => true
			  }
			%>
		  <% end %>
		</ul>	  
		<div class="carousel-overlay"></div>
	  </div>
	  
	  
	  <div id="contributions-thumbnails" class="carousel">		
		  <ul>
			<% if @contribution.attachments.present? -%>
			  <%= render :partial => '/attachments/display-images', :locals => { :size => :preview } %>
			<% end %>
		  </ul>		
		  <div class="carousel-overlay"></div>
	  </div>
	  
	  
	  <ul id="thumbnail-counts"></ul>
	  
	  
	  <!-- <div id="banner"> -->
		<%
		#  render :partial => '/blog_posts/list',
		#  :locals => {
		#	  :blog => 'europeana',
		#	  :category => 'story-banner',
		#	  :relocale => true,
		#	  :deblogger => true
		#  }
		%>
	  <!-- </div> -->
	  
	</div>
  
  <div id="story-info" class="one-half-left">
	  
	  <dl id="story-metadata" class="metadata">
		<%=
		  render :partial => '/metadata/display',
		  :locals => {
			:show_title => false,
			:contribution => @contribution,
			:metadata => @contribution.metadata,
			:field_options => {
			  :cataloguing => false, 
			  :contribution => true,
			  :name => [
				'alternative',
				'creator_family_name',
				'creator_given_name',
			  ],
			  :name_order => true
			}
		  }
		%>
		
		<%- unless (contributor = contribution_field_value(@contribution, 'contributor')).blank? -%>
  		<dt><b><%= contribution_field_title('contributor') %></b></dt>
      <dd><%= link_to contributor, search_contributions_path(:contributor_id => @contribution.contributor_id) %></dd>
    <%- end -%>
    
    <%=
		  render :partial => '/metadata/display',
		  :locals => {
			:show_title => false,
			:contribution => @contribution,
			:metadata => @contribution.metadata,
			:field_options => {
			  :cataloguing => false, 
			  :contribution => true,
			  :name => [
				
				'contributor_behalf'
			  ],
			  :name_order => true
			}
		  }
		%>
		
		<% unless (character1 = Contact.full_name(@contribution.metadata.fields['character1_given_name'], @contribution.metadata.fields['character1_family_name'])).blank? %>
		  <dt><b><%= t('formtastic.titles.story_character1') %></b></dt>
		  <dd><%= link_to character1, search_contributions_path(:q => character1) %></dd>
	  <% end -%>
	  
	  <% unless (character2 = Contact.full_name(@contribution.metadata.fields['character2_given_name'], @contribution.metadata.fields['character2_family_name'])).blank? %>
		  <dt><b><%= t('formtastic.titles.story_character2') %></b></dt>
		  <dd><%= link_to character2, search_contributions_path(:q => character2) %></dd>
	  <% end -%>
	  
		<%=
		  render :partial => '/metadata/display',
		  :locals => {
			:show_title => false,
			:contribution => @contribution,
			:metadata => @contribution.metadata,
			:field_options => {
			  :cataloguing => false, 
			  :contribution => true,
			  :name => [
				
				'subject',
				'description',
				'summary',
				
				'date_from', # use this field to summarize the date fields
				'date_to', # do we need to display this field if date_from takes care of all possibilities?
				
				'lang',
				'lang_other',
				'keywords',
				'theatres',
				'forces',
				
				#'content',
				#'author',
				#'page_number',
				#'page_total',
				#'notes',
				#'object_side',
				#'cover_image',
				#'license',
				#'attachment_description',
				
				# need these to be available for google map
				# they are output as input type="hidden"
				'location_map',
				'location_placename',
				'location_zoom'
			  ],
			  :name_order => true
			}
		  }
		%>
		
	  <% if current_user.may_catalogue_contributions? -%>
	    <%=
		    render :partial => '/metadata/display',
		      :locals => {
			      :show_title => false,
			      :contribution => @contribution,
			      :metadata => @contribution.metadata,
			      :field_options => {
			        :cataloguing => true, 
      			  :contribution => true,
			        :name => [
				        'ticket',
#				        'cataloguer', # this is the old cataloguer field (see story 074)
				        ],
			        :name_order => true
			      }
		      }
		  %>
      
      <dt><b><%= t('activerecord.attributes.contribution.catalogued_by') %></b></dt>
      <dd><%= @contribution.cataloguer.present? ? @contribution.cataloguer.contact.full_name : '' %></dd>
  
      <%=
		    render :partial => '/metadata/display',
		      :locals => {
			      :show_title => false,
			      :contribution => @contribution,
			      :metadata => @contribution.metadata,
			      :field_options => {
			        :cataloguing => true, 
      			  :contribution => true,
			        :name => [
				        'file_type',
				        'source',
				        'format', # this can also be considered the medium
				        'collection_day',
				        'editor_pick_text',
				        'editor_pick_sig',
				        'editor_pick',
				        'date',
				        ],
			        :name_order => true
			      }
		      }
		  %>
     
      <dt><b><%= t('activerecord.attributes.contribution.created_at') %></b></dt>
      <dd><%= l @contribution.created_at, :format => :short %></dd>
      
      <% end -%>      
	  </dl>
	  
	  <%- if @contribution.contributor.picture.present? -%>
	    <%
	      people = {
	        :contributor => @contribution.contact.full_name,
	        :principal =>   @contribution.metadata.fields['contributor_behalf'],
	        :character1 =>  full_name(@contribution.metadata.fields['character1_given_name'], @contribution.metadata.fields['character1_family_name']),
	        :character2 =>  full_name(@contribution.metadata.fields['character2_given_name'], @contribution.metadata.fields['character2_family_name'])
        } 
	    %>
	    <div id="avatar" class="responsive-box">
		    <%= image_tag(@contribution.contributor.picture.url(:thumb)) %>
		    <%- if people[:contributor].present? -%>
		      <%= people[:contributor] %>
		      <%#= people[:principal] %> 
		      <% if people[:character1].present? || people[:character2].present? -%>
  		      <%= t('views.contributions.show.shared-this-story') %>
		        <%= [ people[:character1], people[:character2] ].reject { |p| p.blank? }.join(t('support.array.two_words_connector')) %>
  	      <%- end -%>
	      <%- end -%>
		  </div>
		<%- end -%>
	  
	</div>

</section>
