<%
  @javascripts[:gmap_display] = true
  @javascripts[:contributions] = true
  @javascripts[:lightbox] = true
  @title = t('views.contributions.show.title')
%>

<h2><%= contribution_title(@contribution) %></h2>

<div id="image-viewer" class="es-carousel-wrapper boxed featured">
  <div class="es-carousel">
    <ul>
      <% if @contribution.attachments.present? -%>
        <%= render :partial => '/attachments/display-images', :locals => { :size => :medium, :prettyphoto => true } %>
      <% end %>
    </ul>
  </div>
</div>

<div id="thumbnail-viewer" class="es-carousel-wrapper boxed-grey">
  <div class="es-carousel">
    <ul>
      <% if @contribution.attachments.present? -%>
        <%= render :partial => '/attachments/display-images', :locals => { :size => :preview } %>
      <% end %>
    </ul>
  </div>
</div>

<ul id="images-extra">
  <li>image x of x <%= @contribution.attachments.size %></li>
  <li>license</li>
</ul>


<div id="story-info">
	
	
	<div style="overflow: hidden;">
		<div id="story-map"></div>
		<div id="avatar" class="boxed">
		  <img src="/images/profile-placeholder.jpg" width="200" />
		  <%= @contribution.metadata.fields['contributor_behalf'] %> shared this story about
		  <%= @contribution.metadata.fields['character1_given_name'] %> <%= @contribution.metadata.fields['character1_family_name'] %> and
		  <%= @contribution.metadata.fields['character2_given_name'] %> <%= @contribution.metadata.fields['character2_family_name'] %>
		</div>
	</div>
	
	<div style="text-align: right;">
		<b>Translate details:</b><br/>
    
    <select>    
      <option></option>    
    </select>
	</div>
	
  <dl id="story-metadata">
    
      <%=
      render :partial => '/metadata/display',
      :locals => {
        :contribution => @contribution,
        :metadata => @contribution.metadata,
        :field_options => {
          :name => [
            'description',
            'alternative',
            'author',
            'subject',
            'keywords',
            # 'date',
            'date_from', # use this field to summarize the date fields
            'date_to',
            'location_map',
            'location_placename',
            'file_type',
            'source',
            'format',
            'content',
            'contributor_behalf',
            'page_number',
            'page_total',
            'editor_pick',
            'cataloguer',
            'notes',
            'lang',
            'forces',
            'theatres',
            'collection_day',
            'lang_other',
            'object_side',
            'cover_image',
            'creator_family_name',
            'creator_given_name',
            'license',
            'character1_family_name',
            'character1_given_name',
            'character2_family_name',
            'character2_given_name',
            'attachment_description',
            'summary',
            'ticket',
            'location_zoom'
          ],
          :name_order => true
        }
      }
    %>
    
	</dl>

</div>

<div id="banner" class="boxed-grey">
	<div>
		<a href="contributor"><img src="/themes/v2/images/banners/tell-us-your-story.jpg" alt="Tell us your story" /></a>
		<h2><a href="contributor">Tell us your story</a></h2>
		Was someone in your family involved in the First World War?<br/>
		Do you have a collection of maps or items used in the trenches?
	</div>
</div>