<% content_for :title, t('views.admin.europeana.index.title') %>
<div class="section top">
  
  <h2><%= yield :title %></h2>
  
  <p><%= t('views.admin.europeana.index.introduction', :count => EuropeanaRecord.count) %></p>
  
  <p><%= t('views.admin.europeana.index.instructions') %></p>
  
  <%= semantic_form_for(@options, :as => :options, :url => admin_harvest_europeana_path, :html => { :method => 'put' }) do |form| %>
    <%= form.inputs :options do %>
      <%= form.input :query %>
      <%= form.input :limit %>
      <%= form.input :start %>
    <% end %>
    <%= form.buttons do %>
      <%= redirect_field %>
      <%= form.commit_button t('actions.submit') %>
      <%= form_cancel_link admin_root_path %>
    <% end %>
  <% end %>
  
</div>
