<%# http://localhost:3000/fr/europeana/record/09102/_CM_0160490.html %>


<% if record['proxies'] && record['proxies'][0] %>


	<%  
		proxy          = record['proxies'][0]
		aggregation    = record['aggregations'] ? record['aggregations'][0] : {}
		edmObject      = aggregation['edmObject']
		carouselImages = aggregation['hasView']
	%> 


	<div class="one-half-left">

		<img src="<%=edmObject%>"/>

		<% if carouselImages %>
			<% carouselImages.each do |img| %>
				<img src="<%=img%>" style="max-width:100px;"/>
			<% end %>
		<% end %>
	
	</div>

	<style type="text/css">
	
		.meta ul{
			list-style: none;
			margin:		0;
			padding:	0;
		}
	
		.meta .title{
			font-weight: bold;
		}
	</style>

	<div class="one-half-right meta">
		<h2> <%= edm_proxy_field(proxy, 'dcTitle') %></h2>
	
		<ul>
			<% if dcContributor = edm_proxy_field(proxy, 'dcContributor') %>
				<li>
					<span class="title">
						dc:contributor
					</span>
					<span>
						<%= dcContributor %>
					</span>
				</li>
	
			<% end %>
		
			<% if dcCoverage = edm_proxy_field(proxy, 'dcCoverage') %>
				<li>
					<span class="title">
						dc:coverage
					</span>
					<span>
						<%= dcCoverage %>
					</span>
				</li>
			<% end %>

			<% if dcDate = edm_proxy_field(proxy, 'dcDate') %>
				<li>
					<span class="title">
						dc:date
					</span>
					<span>
						<%= dcDate %>
					</span>
				</li>
			<% end %>
	
			<% if dcSubject = edm_proxy_field(proxy, 'dcSubject') %>
				<li>
					<span class="title">
						dc:subject
					</span>
					<span>
						<%= dcSubject %>
					</span>
				</li>
			<% end %>
	
			<% if dcDescription = edm_proxy_field(proxy, 'dcDescription') %>
				<li>
					<span class="title">
						dc:description
					</span>
					<span>
						<%= dcDescription %>
					</span>
				</li>
			<% end %>
		
			<% if dcLanguage = edm_proxy_field(proxy, 'dcLanguage') %>
				<li>
					<span class="title">
						dc:language
					</span>
					<span>
						<%= dcLanguage %>
					</span>
				</li>
			<% end %>		
		
		
			<% if dcType = edm_proxy_field(proxy, 'dcType') %>
				<li>
					<span class="title">
						dc:type
					</span>
					<span>
						<%= dcType %>
					</span>
				</li>
			<% end %>
		
			<% if contextInformation = edm_proxy_field(record, 'Context information') %>
				<li>
					<span class="title">
						Context Information
					</span>
					<span>
						<%= contextInformation %>
					</span>
				</li>
			<% end %>
	
		</ul>
	</div>

<% end %>





<div style="clear:both;">


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<div><code><%= record.inspect %></code></div>



<% if oembed = oembed_html(record) %>
  <div class="oembed"><%= oembed.html_safe %></div>
<% end %>
