    <% tags = [] unless local_assigns[:tags].present? -%>
    
    <% if (tags.length > 0) || current_user.may_tag_contribution?(contribution) -%>
        <div class="add-tags">
            <span class="icon-tag"><%= t('views.contributions.show.headings.tags') %></span>
        </div>
    <%- end -%>
  
    <%- if current_user.may_tag_contribution?(contribution) -%>
        <%= form_tag contribution_tags_path(contribution), :method => :post, :id => "add_tags_form" do %>
            <div class="add-tag-panel">
                <div class="h-flex-container">
                
                  <%#= text_field_tag "tags", "", :size => 50 -%>
                  <%# :size => 50 breaks layout-%>
                  

                  <div class="h-flex-fill">
                    <%= text_field_tag "tags", "" %>
                  </div>
                  
                  <div class="h-flex-fixed">
                    <input type="submit" value="<%= t('views.tags.add') %>" class="button">
                  </div>
                </div>
		       <span class="tag-info"><%= t('views.tags.info') -%></span>
            </div>
        <% end %>
    <%- end -%>
  
    <% if (tags.length > 0) -%>
      
        <div class="tags-panel">
        
        
            <ul class="tags clearfix">
                
                <%- for tag in tags -%>
                    <li>
                        
                        <%= link_to tag.name, tag_search_contributions_path(tag.name), :class=> 'search-tags' %>

                        <%- if current_user.may_untag_contribution?(contribution, tag) -%>
                        
                            <%= link_to ('<span class="icon-remove" title="' + t('actions.delete') + '"></span>').html_safe, delete_contribution_tag_path(contribution, tag.name), :class => 'delete' %>
                            
                        <%- end -%>
                        
                        
                        <%- if current_user.may_flag_contribution_tag?(contribution, tag) -%>
                            <div class="action-links">
                                <ul>
                                    <li>
                                        <%= link_to t('actions.flag') + '-flag', flag_contribution_tag_path(contribution, tag.name), :title => t('formtastic.actions.tag.flag') %>
                                    </li>
                                </ul>
                            </div>
                        <%- end -%>
                    </li>
                <%- end -%>
                
            </ul>
        </div>
        
    <%- end -%>
    
  
  
  
