<% @title = t('views.admin.taxonomy_terms.delete.title') %>

<p><%= raw t 'views.admin.taxonomy_terms.delete.question', :term => "<strong>#{@term.term}</strong>" %></p>

<p><%= raw t 'views.admin.taxonomy_terms.delete.warning' %></p>

<p><%= t 'views.common.permanent' %></p>

<%= semantic_form_for @term, :url => admin_metadata_field_taxonomy_term_path(@term.metadata_field, @term), :html => { :method => :delete } do |form| %>
  <%= form.buttons do %>
    <%= redirect_field %>
    <%= form.commit_button :label => t('formtastic.actions.delete') %>
    <%= form_cancel_link admin_metadata_field_taxonomy_terms_path(@term.metadata_field) %>
  <% end %>
<% end %>

