<div id="site-title"><%= configuration(:site_name) %></div>

<ul id="session-links">
  <% if user_signed_in? -%>
    <li><%= link_to 'Account', user_account_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path %></li>
  <% else -%>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><%= link_to 'Register', new_user_registration_path %></li>
  <% end -%>
</ul>

<% if user_signed_in? -%>
  <div id="session-id"><span class="label">You are signed in as</span> <%= current_user.email %></div>
<% end -%>

<% if configuration(:ui_locales) -%>
  <ul id="locale-links">
    <%- for locale in configuration(:ui_locales) -%>
      <%- if I18n.locale.to_s == locale.to_s -%>
        <li><strong><%= t('locale', :locale => locale) %></strong></li>
      <%- else -%>
        <li><%= link_to t('locale', :locale => locale), url_for(url_options.merge({:locale => locale})) %></li>
      <%- end -%>
    <%- end -%>
  </ul>
<% end -%>
