<% content_for :title, t('views.devise.sessions.new.title') %>
<div class="section top">
  
  <h2><%= yield :title %></h2>
  <p><%= t('views.devise.sessions.new.instructions') %></p>
  
  <%= render :partial => "devise/shared/links" %>
  
  <%= semantic_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'devise' } do |form| %>
    <%= form.inputs "#{resource_name.to_s}_session".to_sym do %>
      <li><p><%= t('views.users.sign-in.help') %></p></li>
      <%= form.input :username, :required => false, :hint => false %>
      <%= form.input :email, :hint => false %>
      <%= form.input :password, :hint => false %>
      <% if devise_mapping.rememberable? -%>
        <%= form.input :remember_me %>
      <% end -%>
      
    <% end %>
    
    <%= form.buttons do %>
      <%= redirect_field -%>
      <%= form.commit_button :label => t('formtastic.actions.sign_in') %>
    <% end %>
    
  <% end %>
  
</div>