<h2><%= t('views.users.register.terms.heading') %></h2>

	<p><%= raw t( 'views.users.register.terms.p1', :contribution_terms => link_to( t('common.links.contribution_terms'), page_path('about/terms'), :title => t('common.links.titles.contribution_terms') ) ) %></p>
	<p><%= raw t('views.users.register.terms.p2') %></p>
	<ul class="point">
		<li><%= t('views.users.register.terms.item1') %></li>
		<li><%= t('views.users.register.terms.item2') %></li>
		<li><%= t('views.users.register.terms.item3') %></li>
		<li><%= t('views.users.register.terms.item4') %></li>
		<li><%= t('views.users.register.terms.item5') %></li>
	</ul>
	<p><%= t('views.users.register.terms.p3') %></p>
