<%
  @javascripts[:generate_password] = true
  @javascripts[:collapsible] = true
%>
<% @title = t('views.devise.registrations.new.title') %>

  <% if @user.errors.present? %>
    <% flash.now[:alert] = t("flash.users.register.alert") %>
  <% end %>
  
  <div class="action-links">
    <ul>
      <li><%= link_to t('views.links.privacy_policy'), page_path('about/privacy') %></li>
    </ul>
  </div>
  
  <%= semantic_form_for @user, :as => 'user', :url => user_registration_path, :html => { :class => 'devise', :multipart => true } do |form| -%>
    <%- form.object.build_contact unless form.object.contact.present? -%>
    <%= form.inputs :account_details do %>
      <%= form.input :username %>
      <%= form.semantic_fields_for :contact do |contact| %>
        <%= contact.input :full_name %>
      <% end %>
      <%= form.input :email %>
      <%= form.input :picture, :label => t('views.register.labels.profile_photo'), :hint => t('views.register.help_text.profile_photo') %>
      <%= form.input :password, :input_html => { :type => 'text' } %>
      <li>
        <label class="no-script">Password strength</label>
        <div id="password-strength" class="is0 no-script"></div>
        <a href="#" id="password-generate" class="no-script">generate password</a>
      </li>
      <%= form.input :password_confirmation %>
    <% end %>
    
    <%= form.inputs :optional_details, :class => 'collapsed' do %>
      
      <%= form.semantic_fields_for :contact do |contact| %>
        <%= contact.input :street_address, :input_html => { :rows => 4 } %>
        <%= contact.input :locality %>
        <%= contact.input :region %>
        <%= contact.input :postal_code %>
        <%= contact.input :country, :priority_countries => ['AU', 'CA', 'DE', 'GB', 'US'], :include_blank => '' %>
        <%= contact.input :gender, :as => :select, :collection => { t('activerecord.options.contact.gender.female') => 'F', t('activerecord.options.contact.gender.male') => 'M' } %>
        <%= contact.input :age, :as => :select, :collection => %w(0-17 18-24 25-44 45-59 60+) %>
      <% end %>
      
    <% end %>
    
    <%= render :partial => 'terms' %>
    
    <%= form.inputs :accept_terms do %>
      <%= form.input :terms, :as => :boolean %>
    <% end %>
    
    <%= form.buttons do %>
      <%= redirect_field %>
      <%= form.commit_button %>
      <%= form_cancel_link home_path %>
    <% end %>
    
  <% end -%>
