<%

	@javascripts[:images_loaded] = true
	@javascripts[:carousel] = true
	@javascripts[:lightbox] = true
	@javascripts[:truncate] = true
	@javascripts[:translate] = true
	@javascripts[:edm_object_page] = true

	@stylesheets[:item] = true

	if record['aggregations'].first['edmProvider'].blank? ||
		( record['aggregations'].first['edmProvider']['def'].first != "Europeana 1914 - 1918" )

		proxy          = record['proxies'][0]
		places         = record['places'] ? record['places'] : {}
		aggregation    = record['aggregations'] ? record['aggregations'][0] : {}
		euAggregation  = record['europeanaAggregation']
		edmPreview     = euAggregation['edmPreview'] ? euAggregation['edmPreview'] : '/images/style/icons/mimetypes/unknown.png'
		edmIsShownAt   = aggregation['edmIsShownAt'] ? aggregation['edmIsShownAt'] : nil
		edmIsShownBy   = aggregation['edmIsShownBy'] ? aggregation['edmIsShownBy'] : edmPreview
		carouselImages = aggregation['hasView']
-%>
<div class="container">
	<div class="col left">
		<% if referred_by_search? -%>
			<div class="col-cell hide-on-item-collapsed">
				<%= link_to t('views.links.back-to-search'), :back %>
			</div>
		<% end -%>
		<div class="col-cell">
			<%
				title = proxy ? edm_proxy_field(proxy, 'dcTitle') : 'unknown'
				oembed = oembed_fields( record )
				image_html = ''
				video_html = ''
				view_html = ''
				link_attrs = {
					:title => title,
					'class' => 'image',
					'data-description' => title,
					:rel => 'prettyPhoto[gallery]'
				}

				html = '<div class="img-panel">'
					html += '<div id="institution-featured" class="carousel">'
						html += '<ul>'
							if oembed
								img_html = '<img src="' + edmPreview + '" alt="' + title + '"/>'
								if oembed['provider_name'] == 'Vimeo'
									video_html = '//player.vimeo.com/video/' + oembed['video_id'].to_s + '?iframe=true&width=100%&height=100%'
								elsif edmPreview.present?
									video_html = '<img src="' + edmPreview + '" alt="' + title + '"/>'
								end
								view_html = '<p class="view-item">' +  link_to( t( 'common.links.play-video' ), video_html, link_attrs ) + '</p>'
								html += '<li>' + link_to( img_html.html_safe, video_html, link_attrs ) + view_html + '</li>'
							elsif carouselImages
								carouselImages.each do |img_src|
									img_html = '<img src="' + img_src + '" alt="' + title + '"/>'
									view_html = '<p class="view-item">' +  link_to( t( 'common.links.view-image' ), img_src, link_attrs ) + '</p>'
									html += '<li>' + link_to( img_html.html_safe, img_src, link_attrs ) + view_html + '</li>'
								end
							else

								img_html = '<img src="' + edmPreview + '" alt="' + title + '"/>'
								
								if edmIsShownAt &&
									(
									  params[:controller] == 'federated_search/dpla'	  ||
									  params[:controller] == 'federated_search/trove' ||
									  params[:controller] == 'federated_search/digitalnz' 		  
									)
								
									html += '<script type="text/javascript"> window.blockLightbox = true; </script>'
									
									view_html = '<p class="view-item">' +  link_to( t( 'common.links.view-image' ), img_html, link_attrs ) + '</p>'
									
									if readVal = edm_proxy_field(aggregation, 'edmIsShownAt')
										html += ('<li><a href="' + readVal + '" target="_new" class="original-context">' + img_html + '</a></li>').html_safe
									else
										html += ('<li>n link' + img_html + '</li>').html_safe									
									end
									
								else
								
									view_html = '<p class="view-item">' +  link_to( t( 'common.links.view-image' ), img_html, link_attrs ) + '</p>'
									html += '<li>' + link_to( img_html.html_safe, edmIsShownBy, link_attrs ) + view_html + '</li>'
								
								end
								
							end
						html += '</ul>'
						html += '<div class="carousel-overlay"></div>'
					html += '</div>'
				html += '</div>'
				html += '<p class="subtitle">' + title + '</p>'
			-%>
			<%= html.html_safe %>
		</div>
		<%= render :partial => '/layouts/navigation/sharethis' %>
		<% if latLong = edm_places_latlng(record['places']) -%>
			<div class="col-cell">
				<div id="map-container">
					<div id="map">
						<script type="text/javascript">
							var latLong = "<%= latLong %>".split(',');
						</script>
					</div>
				</div>
			</div>
		<% end -%>
	</div>

	<div id="story-metadata" class="col middle metadata">

		<h2 class="dcTitle hide-on-item-collapsed"> <%= edm_proxy_field(proxy, 'dcTitle') %></h2>

		<div class="col-cell">
			<%=
				render :partial => '/metadata/display_edm',
					:locals => {
						:proxy => proxy,
						:aggregation => aggregation,
						:euAggregation => euAggregation,
						:record => record
					}
			-%>
		</div>
		
		<%- if readVal = edm_proxy_field(aggregation, 'edmIsShownAt') -%>
			<div class="col-cell">
			  <a href="<%= readVal -%>" target="_new"><%= t('formtastic.labels.content.metadata.edm.partner_site') -%></a>
			</div>
		<%- end -%>

	</div>
</div>
<% end -%>
