<%

	@javascripts[:images_loaded] = true
	@javascripts[:carousel] = true
	@javascripts[:lightbox] = true
	@javascripts[:truncate] = true
	@javascripts[:translate] = true
	@javascripts[:edm_object_page] = true

	@stylesheets[:item] = true

	if record['aggregations'].first['edmProvider'].blank? ||
		( record['aggregations'].first['edmProvider']['def'].first != "Europeana 1914 - 1918" )

		proxy          = record['proxies'][0]
		places         = record['places'] ? record['places'] : {}
		aggregation    = record['aggregations'] ? record['aggregations'][0] : {}
		euAggregation  = record['europeanaAggregation']
		edmObject      = euAggregation['edmPreview']
		carouselImages = aggregation['hasView']
-%>
<div class="container">
	<div class="col left">
		<% if referred_by_search? -%>
			<div class="col-cell">
				<%= link_to t('views.links.back-to-search'), :back %>
			</div>
		<% end -%>
		<div class="col-cell">
			<%
				title = proxy ? edm_proxy_field(proxy, 'dcTitle') : 'unknown'
				oembed = oembed_fields( record )
				image_html = ''
				video_html = ''
				link_attrs = {
					:title => title,
					'class' => 'image',
					'data-description' => title,
					:rel => 'prettyPhoto[gallery]'
				}

				html = '<div class="img-panel">'
					html += '<div id="institution-featured" class="carousel">'
						html += '<ul>'
							if oembed
								img_html = '<img src="' + edmObject + '" alt="' + title + '"/>'
								if oembed['provider_name'] == 'Vimeo'
									video_html = '//player.vimeo.com/video/' + oembed['video_id'].to_s + '?iframe=true&width=100%&height=100%'
								else
									video_html = '<img src="' + edmObject + '" alt="' + title + '"/>'
								end
								html += '<li>' + link_to( img_html.html_safe, video_html, link_attrs ) + '</li>'
							elsif carouselImages
								carouselImages.each do |img|
									img_html = '<img src="' + img + '" alt="' + title + '"/>'
									html += '<li>' + link_to( img_html.html_safe, img, link_attrs ) + '</li>'
								end
							elsif edmObject.present?
								img_html = '<img src="' + edmObject + '" alt="' + title + '"/>'
								html += '<li>' + link_to( img_html.html_safe, edmObject, link_attrs ) + '</li>'
							else
								html += '<li><img src="/images/style/icons/mimetypes/unknown.png" alt="' + title + '"/></li>'
							end
						html += '</ul>'
						html += '<div class="carousel-overlay"></div>'
					html += '</div>'
				html += '</div>'
				html += '<p class="subtitle">' + title + '</p>'
			-%>
			<%= html.html_safe %>
		</div>
		<%= render :partial => '/layouts/navigation/sharethis' %>
		<% if latLong = edm_places_latlng(record['places']) -%>
			<div class="col-cell">
				<div id="map-container">
					<div id="map">
						<script type="text/javascript">
							var latLong = "<%= latLong %>".split(',');
						</script>
					</div>
				</div>
			</div>
		<% end -%>
	</div>
	
	<div id="story-metadata" class="col middle metadata">
	
		<h2 class="dcTitle hide-on-item-collapsed"> <%= edm_proxy_field(proxy, 'dcTitle') %></h2>
	
		<div class="col-cell">
			<%=
				render :partial => '/metadata/display_edm',
					:locals => {
						:proxy => proxy,
						:aggregation => aggregation,
						:euAggregation => euAggregation,
						:record => record
					}
			-%>
		</div>
	</div>
</div>
<% end -%>
