<% @title = t('views.about.terms.heading') %>

<div class='section top'>
	
	<h2><%= raw t('views.about.terms.user_contributions.heading') %></h2>
	
		<p><%= raw t('views.about.terms.user_contributions.p1') %></p>
		<p><%= raw t('views.about.terms.user_contributions.p2') %></p>
		<p><%= raw t('views.about.terms.user_contributions.p3') %></p>
		<p><%= raw t('views.about.terms.user_contributions.p4') %></p>
		
		<p><%= raw t('views.about.terms.user_contributions.p5') %></p>
		<ul>
			<li><%= raw t('views.about.terms.user_contributions.item1') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item2') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item3') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item4') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item5') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item6') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item7') %></li>
		</ul>
		
		<p><%= raw t('views.about.terms.user_contributions.p6') %></p>
		
		<hr/>
		
			<p><%= raw t('views.about.terms.user_contributions.p7') %></p>
			<ul>
				<li><%= link_to( t('common.links.takedown_policy'), page_path('about/takedown') ) %></li>
				<li><%= link_to( t('common.links.privacy_policy'), page_path('about/privacy') ) %></li>
			</ul>
			
		<hr/>
	
	
	<h2><%= raw t('views.about.terms.summary.heading') %></h2>
	
		<p><%= raw t('views.about.terms.summary.p1') %></p>
		
		<p><%= raw t('views.about.terms.summary.p2') %></p>
		<ul>
			<li><%= raw t('views.about.terms.summary.item1') %></li>
			<li><%= raw t('views.about.terms.summary.item2') %></li>
			<li><%= raw t('views.about.terms.summary.item3') %></li>
			<li><%= raw t('views.about.terms.summary.item4') %></li>
			<li><%= raw t('views.about.terms.summary.item5') %></li>
		</ul>
		
		<p><%= raw t('views.about.terms.summary.p3') %></p>

	
		<h3><%= raw t('views.about.terms.full_details.heading') %></h3>
		
			<p><a href='/pdfs/Europeana-Terms-for-User-Contributions.pdf'><%= t('common.links.contribution_terms') %></a></p>
		
</div>