<% @title = t('views.contributor.dashboard_contributor.title') %>

  <p><%= t('views.contributor.index.p1') %></p>
  <ol class="number">
    <li>Enter information about your story.</li>
    <li>Save your story as a draft.</li>
    <li>Add one or more digital objects (images, text documents, audio, video etc).</li>
    <li>Confirm your agreement to the terms and conditions and submit for review.</li>
  </ol>
  
  
  
  <div class="link-buttons">
    <!-- link_to t('views.contributor.dashboard_contributor.links.new'), new_contribution_path, :class => 'new-member' -->
    <!-- #link_to t('views.contributor.dashboard_contributor.links.new'), page_path('story') -->
    <a href="/en/story">Add a new story</a> 
  </div>
  
  
  
  <h2><%= t('views.contributor.dashboard_contributor.headings.contributions') %></h2>

    <p>Below are the stories you have already added. Edit or delete them as necessary.</p>
    <% if current_user.contributions.present? %>
      
      <div class="contributions-drafts" style="float: none;">
        <%- if current_user.contributions.draft.present? -%>
          <%= render :partial => '/contributions/table', :locals => { :contributions => current_user.contributions.draft, :caption => t('views.contributor.dashboard_contributor.captions.draft') } %>
        <%- else -%>
          <p><%= t('views.contributor.dashboard_contributor.empty.draft') %></p>
        <%- end -%>
      </div>
    
      <div style="clear: both;" class="contributions-submitted">
        <%- if current_user.contributions.submitted.present? -%>
          <%= render :partial => '/contributions/table', :locals => { :contributions => current_user.contributions.submitted, :caption => t('views.contributor.dashboard_contributor.captions.submitted') } %>
        <%- else -%>
          <p><%= t('views.contributor.dashboard_contributor.empty.submitted') %></p>
        <%- end -%>
      </div>
      
    <% else %>
      
      <p><%= t('views.contributor.dashboard_contributor.empty.all') %></p>
      
    <% end %>
