<% @title = t('views.contributor.dashboard_contributor.title') %>
<p>Vielen Dank, dass Sie am Projekt Erster Weltkrieg in Alltagsdokumenten teilnehmen möchten. Ein Objekt oder eine Geschichte beizusteuern ist ganz einfach. Klicken Sie auf „Neuer Beitrag“, um das Dialogfenster zu öffnen, das Sie in wenigen Schritten durch das Anmeldeformular führen wird:</p>
<ol class="number">
<li>Lesen Sie die Bedingungen für Benutzerbeiträge und stimmen Sie ihnen zu.</li>
<li>Fügen Sie Informationen zu Ihrem Beitrag hinzu.</li>
<li>Prüfen Sie noch einmal Ihren Eintrag und laden Sie ggf. eine oder mehrere Dateien hoch (z. B. digitalisierte Bilder, Word-Dokumente, PDFs, Audiodateien, Videodateien).</li>
<li>Speichern Sie Ihre Eingaben als Entwurf oder geben Sie sie sofort für die Datenbank frei.</li></ol>
<p><a href="/de/help/form" title="Schritt-für-Schritt-Anleitung zum Online-Formular" target="_blank">Schritt-für-Schritt-Anleitung zum Online-Formular</a> (öffnet sich in neuem Fenster)</p>
<div class="link-buttons">
<%= link_to t('views.contributor.dashboard_contributor.links.new'), new_contribution_path, :class => 'new-member' %>
</div>

<h2><%= t('views.contributor.dashboard_contributor.headings.contributions') %></h2>
<p>Zum Ansehen oder Bearbeiten Ihrer bisherigen Einträge klicken Sie auf den Titel des Eintrags in der unten stehenden Tabelle.</p>

<% if current_user.contributions.present? %>
  <div class="contributions-drafts">
    <%- if current_user.contributions.draft.present? -%>
      <%= render :partial => '/contributions/table', :locals => { :contributions => current_user.contributions.draft, :caption => t('views.contributor.dashboard_contributor.captions.draft') } %>
    <%- else -%>
      <p><%= t('views.contributor.dashboard_contributor.empty.draft') %></p>
    <%- end -%>
  </div>

  <div class="contributions-submitted">
    <%- if current_user.contributions.submitted.present? -%>
      <%= render :partial => '/contributions/table', :locals => { :contributions => current_user.contributions.submitted, :caption => t('views.contributor.dashboard_contributor.captions.submitted') } %>
    <%- else -%>
      <p><%= t('views.contributor.dashboard_contributor.empty.submitted') %></p>
    <%- end -%>
  </div>
<% else %>
  <p><%= t('views.contributor.dashboard_contributor.empty.all') %></p>
<% end %>

