<% @title = t('views.contributor.dashboard_contributor.title') %>

  <p><%= t('views.contributor.index.p1') %></p>
  <ol class="number">
    <li><%= t('views.contributor.index.item1') %></li>
    <li><%= t('views.contributor.index.item2') %></li>
    <li><%= t('views.contributor.index.item3') %></li>
    <li><%= t('views.contributor.index.item4') %></li>
  </ol>
  
  
  
  <div class="link-buttons">
    <%= link_to t('views.contributor.dashboard_contributor.links.new'), page_path('story') %>
  </div>
  
  
  
  <h2><%= t('views.contributor.dashboard_contributor.headings.contributions') %></h2>

    <p><%= t('views.contributor.dashboard_contributor.p1') %></p>
    <p style="clear:both;"><span class="highlight">[ link on title to be removed; add actions column with options edit delete submit ( submit only present if not yet submitted ) ]</span></p>
    
    <% if current_user.contributions.present? %>
      
      <div class="contributions-drafts" style="float: none;">
        <%- if current_user.contributions.draft.present? -%>
          <%= render :partial => '/contributions/table', :locals => { :contributions => current_user.contributions.draft, :caption => t('views.contributor.dashboard_contributor.captions.draft') } %>
        <%- else -%>
          <p><%= t('views.contributor.dashboard_contributor.empty.draft') %></p>
        <%- end -%>
      </div>
      
      <div style="clear: both;" class="contributions-submitted">
        <%- if current_user.contributions.submitted.present? -%>
          <%= render :partial => '/contributions/table', :locals => { :contributions => current_user.contributions.submitted, :caption => t('views.contributor.dashboard_contributor.captions.submitted') } %>
        <%- else -%>
          <p><%= t('views.contributor.dashboard_contributor.empty.submitted') %></p>
        <%- end -%>
      </div>
      
    <% else %>
      
      <p><%= t('views.contributor.dashboard_contributor.empty.all') %></p>
      
    <% end %>
