<% @title = t('views.contributor.dashboard_contributor.title') %>

  <p><%= t('views.contributor.index.p1') %></p>
  <ol class="number">
    <li><%= t('views.contributor.index.item1') %></li>
    <li><%= t('views.contributor.index.item2') %></li>
    <li><%= t('views.contributor.index.item3') %></li>
    <li><%= t('views.contributor.index.item4') %></li>
  </ol>
  
  <div class="link-buttons">
    <%= link_to t('views.contributor.dashboard_contributor.links.new'), new_contribution_path, :class => 'new-member' %>
  </div>
  
  <h2><%= t('views.contributor.dashboard_contributor.headings.contributions') %></h2>

  <% if current_user.contributions.present? %>
    
    <div class="contributions-drafts">
      <%- if current_user.contributions.draft.present? -%>
        <%= render :partial => '/contributions/table', :locals => { :contributions => current_user.contributions.draft, :caption => t('views.contributor.dashboard_contributor.captions.draft') } %>
      <%- else -%>
        <p><%= t('views.contributor.dashboard_contributor.empty.draft') %></p>
      <%- end -%>
    </div>
  
    <div class="contributions-submitted">
      <%- if current_user.contributions.submitted.present? -%>
        <%= render :partial => '/contributions/table', :locals => { :contributions => current_user.contributions.submitted, :caption => t('views.contributor.dashboard_contributor.captions.submitted') } %>
      <%- else -%>
        <p><%= t('views.contributor.dashboard_contributor.empty.submitted') %></p>
      <%- end -%>
    </div>
    
  <% else %>
    
    <p><%= t('views.contributor.dashboard_contributor.empty.all') %></p>
    
  <% end %>
