<% @title = t('common.links.add_your_story') %>

	<p><%= raw t('views.contributor.registration_required.p1', :sign_in => link_to(t('common.links.sign_in'), new_user_session_path(:redirect => new_contribution_path)), :register => link_to(t('common.links.register'), new_user_registration_path ) ) %></p>
	
	
	<h2><%= raw t('common.links.help') %></h2>
	
		<p><%= raw t('views.contributor.help.p1', :about => link_to( t('common.menus.main.about'), page_path('about') ) ) %></p>
		
		<ul>
			<li><%= raw t('views.contributor.help.item1') %></li>
			<li><%= raw t('views.contributor.help.item2', :privacy_policy => link_to( t('common.links.privacy_policy'), page_path('help/privacy') ) ) %></li>
			<li><%= raw t('views.contributor.help.item3', :takedown_policy => link_to( t('common.links.takedown_policy'), page_path('about/takedown') ) ) %></li>
			<li><%= raw t('views.contributor.help.item4', :contribution_terms => link_to( t('common.links.contribution_terms'), page_path('about/terms') ) ) %></li>
			<li><%= raw t('views.contributor.help.item5', :about_the_project => link_to( t('common.links.about_the_project'), page_path('about') ) ) %></li>
		</ul>
	
	
	<h2 id="add_something"><%= raw t('views.contributor.help.adding_your_story.heading') %></h2>
	
		<p><%= raw t('views.contributor.help.adding_your_story.p1') %></p>
	
	
	<h2 id="add_something"><%= raw t('views.contributor.help.how_to_use.heading') %></h2>
	
		<p><%= raw t('views.contributor.help.how_to_use.p1', :sign_in => link_to(t('common.links.sign_in'), new_user_session_path), :register => link_to(t('common.links.register'), new_user_registration_path ) ) %></p>
		<p><%= raw t('views.contributor.help.how_to_use.p2') %></p>
		
		<ol>
			<li><%= raw t('views.contributor.help.how_to_use.item1', :sign_in => link_to(t('common.links.sign_in'), new_user_session_path), :register => link_to(t('common.links.register'), new_user_registration_path ) ) %></li>
			<li><%= raw t('views.contributor.help.how_to_use.item2') %></li>
			<li><%= raw t('views.contributor.help.how_to_use.item3') %></li>
			<li><%= raw t('views.contributor.help.how_to_use.item4') %></li>
			<li><%= raw t('views.contributor.help.how_to_use.item5') %></li>
		</ol>
