<%
  show_errors = false if local_assigns[:show_errors].nil?
  field_options = {} if local_assigns[:field_options].nil?
  fields = metadata_record_fields(field_options)
  geo_field = fields.select { |f| (f.field_type == 'geo') && !metadata[f.column_name].blank? }.present?
  
  if geo_field
    @javascripts[:gmap_display] = true
  end
-%>
<% unless fields.blank? || metadata.blank? -%>
  <table class="member-record">
    <caption><% if field_options[:cataloguing] %><%= t('formtastic.titles.cataloguing_metadata') %><% else %><%= t('formtastic.titles.metadata') %><% end %></caption>
    <%- fields.each do |field| %>
      <tr>
        <% if ( 'location_zoom' == field.name ) %>
          <th scope="row"><%= field.title %></th>
          <td>
            <%= metadata_record_field_value(metadata, field) %>
            <input type="hidden" id="location-zoom" value="<%= metadata['field_location_zoom'] %>" />
          </td>
        <% elsif ( 'location_map' == field.name ) %>
          <th scope="row"><%= field.title %></th>
          <td>
            <%= metadata_record_field_value(metadata, field) %>
            <input type="hidden" id="location-map" value="<%= metadata['field_location_map'] %>" />
          </td>
        <% else %>
          <th scope="row"><%= field.title %></th>
          <td>
            <%= metadata_record_field_value(metadata, field) %>
            <%= inline_errors_for(metadata, (field.field_type == 'taxonomy' ? field.collection_id : field.column_name), { :content_tag => :div } ) if show_errors %>
          </td>
        <% end %>
      </tr>
    <%- end %>
  </table>
<% end -%>
