<% @title = t('views.admin.users.show.title') %>
<div class="section top">
  
  <h2><%= @title %></h2>
  
    <div class="action-links">
      <ul>
        <li><%= link_to t('views.admin.users.show.links.edit'), edit_admin_user_path(@user, :redirect => request_uri), :class => 'edit-member' %></li>
        <li><%= link_to t('views.admin.users.show.links.contributions'), admin_contributions_path(:contributor_id => @user, :redirect => request_uri) %></li>
      </ul>
    </div>
    <%= render :partial => '/users/summary', :locals => { :user => @user } %>
    
    <% if @user.contact -%>
      <%= render :partial => '/contacts/summary', :locals => { :contact => @user.contact, :caption => t('views.admin.users.show.caption'), :email => false } %>
    <% end -%>
    
    <p class="back"><%= raw t 'views.links.back', :link => link_to(t('views.admin.users.show.links.back'), admin_users_path) %></p>

</div>