<%
  if local_assigns[:url].nil?
    url = search_contributions_path 
  end
  
  if local_assigns[:count].nil?
    count = false
  end
%>



<%= form_tag( url, { :method => :get, :id => 'search' } ) do %>

	<%- if count -%>
		<input type="hidden" name="count" value="<%= count %>">
	<%- end -%>

	<table cellspacing="0" cellpadding="0" class="t-query" style="visibility:hidden;">
		<tbody>
			<tr>
				<td class="query-cell">
					<%= text_field_tag 'q', query, { :type => 'text', :placeholder => 'Search Europeana 1914-1918' } %>
				</td>
			
				<td class="submit-cell hide-cell-on-phones">
					<button type="submit" class="icon-mag europeana-button" style="border-left: 1px solid rgb(76, 126, 207);"><%= t('formtastic.actions.search.submit') %></button>
				</td>
			</tr>
		
			<tr>
				<td class="submit-cell show-cell-on-phones" colspan="2" style="width: 80px;">
					<input type='submit' class='europeana-button' value='<%= t('formtastic.actions.search.submit') %>' xstyle="border-left: 1px solid rgb(76, 126, 207);" />
				</td>
			</tr>
		
		</tbody>		
	</table>


<% end %>


<!-- OLD STUFF -->

<%
=begin %> 

<%= form_tag( url, { :method => :get, :id => 'search' } ) do %>

  <%- if count -%>
    <input type="hidden" name="count" value="<%= count %>">
  <%- end -%>
  
  <%= text_field_tag 'q', query, { :type => 'text', :placeholder => 'Search Europeana 1914-1918' } %>
  
  <input type='submit' class='button' value='<%= t('formtastic.actions.search.submit') %>' />
  
<% end %>

<!-- END OLD STUFF -->

<%
=end %>