<div><b><%= t('views.contributions.search.matches-for') %></b> <%= query || term %> ( <%= results.total_entries %> results  )</div>
  
  <ul class="stories">
    <%- for result in results -%>
      <%- title = result['title'].blank? ? '' : result['title'].first.to_s -%>
      <li>
        <a href="<%= europeana_record_url(result['id']) %>" title="<%= title %>">
          <%- if result['type'] == 'VIDEO' -%>
            <%-
            # Display video linked to in edmIsShownBy aggregation,
            # where provider is EFG:
            # if result['aggregations'].select { |a| a.has_key?('edmProvider') && a['edmProvider']['def'].include?("EFG - The European Film Gateway") }.size > 1
            #   efg_videos = result['aggregations'].select { |a| a.has_key?('edmIsShownBy') }.collect { |a| a['edmIsShownBy'] }
            # end
            -%>
          <%- end -%>
          <%- unless result['edmPreview'].blank? -%>
            <img src="<%= result['edmPreview'].first %>" alt="" /><br />
          <%- end -%>
          <%- unless title.blank? -%>
            <b><%= title %></b>
          <%- end -%>
          <%- unless result['dcCreator'].blank? -%>
            <%- result['dcCreator'].each do |field_value| -%>
              <br/><%= field_value %>
            <%- end -%>
          <%- end -%>
          <%- unless result['year'].blank? -%>
            <%- if result['year'].size == 2 -%>
              <br/><%= result['year'].first %>&ndash;<%= result['year'].last %>
            <%- else -%>
              <%- result['year'].each do |field_value| -%>
                <br/><%= field_value %>
              <%- end -%>
            <%- end -%>
          <%- end -%>
          <%- [ 'dataProvider', 'provider' ].each do |field_name| -%>
            <%- unless result[field_name].blank? -%>
              <%- result[field_name].each do |field_value| -%>
                <br/><%= field_value %>
              <%- end -%>
            <%- end -%>
          <%- end -%>
        </a>
      </li>
    <%- end -%>
  </ul>
  
<%= will_paginate results %>
