<%= semantic_form_for contribution, :url => submit_contribution_path(contribution) do |form| %>

  <%=
    form.inputs :submit,
    :id => 'submit',
    :class => @submit_class,
    :input_html => { :style => @submit_wrapper_style } do
  %>
    
    <li><p><%= raw t('views.contributions.digital_object.help_text.submit_contribution2') %></p></li>
    
    <%= form.buttons do %>
      <% 
        button_html = {
          :confirm => t('views.contributions.show.button_confirm')
        }
        button_html.merge!({ :disabled => 'disabled'}) unless contribution.ready_to_submit?
      %>
      <%=
        form.commit_button :label => t('formtastic.actions.contribution.submit'),
        :button_html => button_html
      %>
    <%- end %>
    
  <% end %>
  
<%- end %>
