<% provide :title, t('views.contributions.status.title') %>

<%= render :partial => 'summary', :locals => { :contribution => @contribution } %>

<table class="member-record">
  <caption><%= t('views.contributions.status.title') %></caption>
  <tr>
    <th scope="col"><%= t 'activerecord.attributes.contribution_status.created_at' %></th>
    <th scope="col"><%= t 'activerecord.model.user' %></th>
    <th scope="col"><%= t 'views.contributions.status.label' %></th>
  </tr>
  <%- for status in @contribution.statuses -%>
    <tr>
      <td><%= l status.created_at, :format => :short %></td>
      <td>
        <%- if status.user.present? -%>
          <%- if current_user.may_administer_users? -%>
            <%= link_to contact_name(status.user.contact), admin_user_path(status.user) %>
          <%- else -%>
            <%= contact_name(status.user.contact) %>
          <%- end -%>
        <% end -%>
      </td>
      <td><%= raw t("views.contributions.status.#{status.to_sym.to_s}") %></td>
    </tr>
  <%- end -%>
</table>

<p class="back"><%= raw t 'views.links.back', :link => link_to(t('activerecord.models.contribution'), contribution_path(@contribution)) %></p>
