<% provide :title, t('views.statistics.index.title') %>

<div class="section top">
  
  <h2><%= t 'views.statistics.index.contributions.heading' %></h2>
  
  <div class="usage-statistics">
    <h3><%= t 'views.statistics.index.contributions.ugc' %></h3>
    <ul>
      <li><%= t('activerecord.models.contribution').pluralize %>: <%= number_with_delimiter(Contribution.published.count, :delimiter => ',') %></li>
      <li><%= t('activerecord.models.attachment').pluralize %>: <%= number_with_delimiter(Attachment.published.count, :delimiter => ',') %></li>
      <li><%= t('activerecord.models.tag').pluralize %>: <%= number_with_delimiter(ActsAsTaggableOn::Tagging.where(:context => 'tags').count, :delimiter => ',') %></li>
      <li><%= t('activerecord.models.annotation').pluralize %>: <%= number_with_delimiter(Annotation.count, :delimiter => ',') %></li>
    </ul>
  </div>
  
  <div class="usage-statistics">
    <h3><%= t 'views.statistics.index.contributions.institutional' %></h3>
    <ul>
      <%- for provider in [ 'europeana', 'dpla', 'digitalnz', 'trove', 'canadiana' ] -%>
        <%- if provider_count = send(:"count_all_#{provider}_items") -%>
          <li><%= t "views.statistics.index.providers.#{provider}" %>: <%= number_with_delimiter(provider_count, :delimiter => ',') %></li>
        <%- end -%>
      <%- end -%>
    </ul>
  </div>
  
  <%- if @results.present? -%>
    
    <h2><%= content_for :title %></h2>
    <%- @results.each_pair do |interval, statistics| -%>
    
      <div class="usage-statistics">
        <h3><%= t interval, :scope => "views.statistics.index.intervals" %></h3>
        <% if statistics[:label] %><p><%= raw statistics[:label] %></p><% end %>
        <ul>
          <li><%= t 'views.statistics.index.metrics.visits' %>: <%= number_with_delimiter(statistics[:visits]) %></li>
          <li><%= t 'views.statistics.index.metrics.avgtimeonsite' %>: <%= distance_of_time_in_words(statistics[:avgTimeOnSite]) %></li>
          <li><%= t 'views.statistics.index.metrics.object_pageviews' %>: <%= number_with_delimiter(statistics[:object_pageviews]) %></li>
          <li><%= t 'views.statistics.index.metrics.europeana_pageviews' %>: <%= number_with_delimiter(statistics[:europeana_pageviews]) %></li>
        </ul>
      </div>
    
    <%- end -%>
    
  <%- else -%>
    <p><%= t 'views.statistics.index.no_results' %></p>
  <%- end -%>
  
</div>
