<%
# Options recognised by this partial when passed in the :locals hash:
#
# * :blog       The blog to retrieve posts from, either "europeana" or "gwa"; defaults to "europeana".
# * :category   The blog category to retrieve posts from, without the locale; defaults to none.
# * :deblogger  If true, remove Blogger elements from entry HTML content
# * :limit      Only output a maximum of this many posts.
# * :locale     The locale to retrieve posts for.
# * :offset     Retrieve entry(ies) starting from this offset
# * :read_more  If true, display a read more link
# * :relocale   If true, reapply the locale to absolute local links in the posts' content.
# * :tag        If set, wrap each post in an HTML element of this type, e.g. 'li'.
# * :titles     If true, output the post title wrapped in an h3 element before the post content.
#
# FEED PARSING
# https://github.com/hpricot/hpricot
#
#
# NOTE: spacing is important for html rendering, especially when using
#    display : inline-block e.g., below the 2nd example will receive
#    whitespace between the two li elements which creates an issue
#    in a carousel. maybe there's a ruby method to trim all whitespace
#    for this output between the elements and not within the elements?
#
#    <li></li><li>
#    vs
#    <li></li>
#    <li></li>
#
blog_post_entries = blog_posts(local_assigns) 
-%>
<% if blog_post_entries.present? -%>
  <%- for entry in blog_post_entries -%><% if local_assigns[:tag] %><%= raw "<#{tag.to_s} class='article'>" %><% end %><% if local_assigns[:titles] %><h3><%= entry.title %></h3><% end %><%= raw entry.content %><% if local_assigns[:tag] %><%= raw "</#{tag.to_s}>" %><% end %><%- end -%>
  <%- if local_assigns[:read_more] %><%= read_more_link(local_assigns) %><% end %>
<% end -%>
