<%
	@javascripts[:explore] = true
	@javascripts[:readmore] = true
	@javascripts[:masonry] = true
	@javascripts[:autocomplete] = true
	@title = t 'views.explore.heading'
-%>
<div id="browse" class="section top">

	<h2><%= t('views.browse.types.heading') %></h2>
		<ol>
			<%=
				render :partial => 'blog_posts/list',
				:locals => {
					:blog => 'europeana',
					:category => 'browse-types',
					:tag => :li,
					:relocale => true,
					:deblogger => true
				}
			%>
		</ol>

	<h2><%= t('views.browse.subjects.heading') %></h2>
		<ol>
			<%=
				render :partial => 'blog_posts/list',
				:locals => {
					:blog => 'europeana',
					:category => 'browse-subjects',
					:tag => :li,
					:relocale => true,
					:deblogger => true
				}
			%>
		</ol>

	<h2><%= t('views.browse.fronts.heading') %></h2>
		<ol>
			<%=
				render :partial => 'blog_posts/list',
				:locals => {
					:blog => 'europeana',
					:category => 'browse-fronts',
					:tag => :li,
					:relocale => true,
					:deblogger => true
				}
			%>
		</ol>

</div>
