


<h2><%= t('views.contributions.story.step1') %> - Telling your Story</h2>
	
	<form action="/en/story/step2">
		
		<fieldset>
			
			<legend><%= t('views.contributions.story.labels.tell') %></legend>
			
			<ol>
				
				<li>
					<label><%= t('views.contributions.story.labels.title') %></label><br/>
					<input type="text" />
					<span class="mandatory"><%= t('common.help_text.mandatory') %></span>
					<%= t('views.contributions.story.help_text.story_title') %><br/>
					<br/>
				</li>
			
				<li>
					<label><%= t('views.contributions.story.labels.story') %></label><br/>
					<textarea></textarea>
					<span class="mandatory"><%= t('common.help_text.mandatory') %></span>
					<%= t('views.contributions.story.help_text.story') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.story.labels.language') %></label><br/>
					<input type="checkbox" value="de" /> <%= t('languages.de') %><br/>
					<input type="checkbox" value="en" /> <%= t('languages.en') %><br/>
					<input type="checkbox" value="fr"/> <%= t('languages.fr') %><br/>
					<input type="checkbox" value="sl"/> <%= t('languages.sl') %><br/>
					<input type="checkbox" value="nl"/> <%= t('languages.nl') %><br/>
					<input type="checkbox" value="nl"/> <%= t('languages.ga') %><br/>
					<input type="checkbox" value="nl"/> <%= t('languages.da') %><br/>
					<input type="checkbox" /> <%= t('common.options.other_option') %><br/>
					<input type="text" /><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.story.labels.on_behalf') %></label><br/>
					<input type="text" /><br/>
					<br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.story.labels.story_begins') %></label><br/>
					<select>
						<option value=""><%= t('datetime.prompts.year') %></option>
						<option>1912</option>
						<option>1913</option>
						<option>1914</option>
						<option>1915</option>
						<option>1916</option>
						<option>1917</option>
						<option>1918</option>
						<option>1919</option>
						<option>1920</option>
						<option>1921</option>
						<option>1922</option>
						<option>1923</option>
					</select>
					<select>
						<option><%= t('datetime.prompts.month') %></option>
						<% @month_names = t('date.month_names') %>
						<% (1..12).each { |i| %>
							<option><%= @month_names[i] %></option>
						<% } %>
					</select>
					<select>
						<option><%= t('datetime.prompts.day') %></option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>
						<option>25</option>
						<option>26</option>
						<option>27</option>
						<option>28</option>
						<option>29</option>
						<option>30</option>
						<option>31</option>
					</select><br/>
					<%= t('views.contributions.story.help_text.story_begins') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.story.labels.story_ends') %></label><br/>
					<select>
						<option value=""><%= t('datetime.prompts.year') %></option>
						<option>1912</option>
						<option>1913</option>
						<option>1914</option>
						<option>1915</option>
						<option>1916</option>
						<option>1917</option>
						<option>1918</option>
						<option>1919</option>
						<option>1920</option>
						<option>1921</option>
						<option>1922</option>
						<option>1923</option>
					</select>
					<select>
						<option><%= t('datetime.prompts.month') %></option>
						<% (1..12).each { |i| %>
							<option><%= @month_names[i] %></option>
						<% } %>
					</select>
					<select>
						<option><%= t('datetime.prompts.day') %></option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>
						<option>25</option>
						<option>26</option>
						<option>27</option>
						<option>28</option>
						<option>29</option>
						<option>30</option>
						<option>31</option>
					</select><br/>
					<%= t('views.contributions.story.help_text.story_ends') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.story.labels.took_place') %></label><br/>
					<input type="text" /><br/>
					<%= t('views.contributions.story.help_text.took_place') %><br/>
					<br/>
				</li>
				
				<p><span class="highlight">[ sections below are collapsed by default for regular users, open for cataloguers ]</span></p>
				
				<li>
					
					<fieldset>
						
						<legend><%= t('views.contributions.story.labels.keywords') %></legend>
						
							<ol>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.antiwar') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.artillery') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.conscientious') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.gas') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.home_front') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.manufacture') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.medical') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.military_punishment') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.prisoners') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.propaganda') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.recruitment') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.rememberance') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.tanks') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.transport') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.trench_life') %></label>
								</li>
								
								<li>
									<input type="checkbox" value="antiwar">
									<label><%= t('views.contributions.story.options.women') %></label>
								</li>
							
							</ol>
							
						<%= t('views.contributions.story.help_text.keywords') %> <%= t('views.contributions.story.help_text.suggest_keyword') %>
						
					</fieldset>
					
					<br/>
				
				</li>
				
				
				<li>
					
					<fieldset>
						
						<legend><%= t('views.contributions.story.labels.front') %></legend>
						
						<ol>
							
							<li>
								<input type="checkbox" value="gallipoli_front" />
								<label><%= t('views.contributions.story.options.gallipoli_front') %></label>
							</li>
							
							<li>
								<input type="checkbox" value="african_wars" />
								<label><%= t('views.contributions.story.options.african_wars') %></label>
							</li>
							
							<li>
								<input type="checkbox" value="balkans" />
								<label><%= t('views.contributions.story.options.balkans') %></label>
							</li>
							
							<li>
								<input type="checkbox" value="italian_front" />
								<label><%= t('views.contributions.story.options.italian_front') %></label>
							</li>
							
							<li>
								<input type="checkbox" value="aerial_warfare" />
								<label><%= t('views.contributions.story.options.aerial_warfare') %></label>
							</li>
							
							<li>
								<input type="checkbox" value="middle_east" />
								<label><%= t('views.contributions.story.options.middle_east') %></label>
							</li>
							
							<li>
								<input type="checkbox" value="eastern_front"/>
								<label><%= t('views.contributions.story.options.eastern_front') %></label>
							</li>
							
							<li>
								<input type="checkbox" value="naval_warfare" />
								<label><%= t('views.contributions.story.options.naval_warfare') %></label>
							</li>
							
							<li>
								<input type="checkbox" value="western_front" />
								<label><%= t('views.contributions.story.options.western_front') %></label>
							</li>
							
						</ol>
						
						<%= t('views.contributions.story.help_text.relevant') %> <%= t('views.contributions.story.help_text.suggest_keyword') %>
						
					</fieldset>
					
					<br/>
					
				</li>
				
				<li>
					
					<fieldset>
						
						<legend><%= t('views.contributions.story.labels.cataloguer_only') %></legend>
						
						<ol>
							
							<li>
						
								<fieldset>
									
									<legend><%= t('views.contributions.story.labels.forces') %></legend>
									
									<ol>
										
										<li>
											<input type="checkbox" value="allied_forces">
											<label><%= t('views.contributions.story.options.allied_forces') %></label>
										</li>
										
										<li>
											<input type="checkbox" value="central_powers">
											<label><%= t('views.contributions.story.options.central_powers') %></label>
										</li>
										
										<li>
											<input type="checkbox" value="imperial_forces">
											<label><%= t('views.contributions.story.options.imperial_forces') %></label>
										</li>
										
									</ol>
									
									<%= t('views.contributions.story.help_text.relevant') %> <%= t('views.contributions.story.help_text.suggest_keyword') %>
									
								</fieldset>
								
								<br/>
								
							</li>
							
							<li>
								<input type="checkbox" /> <label><%= t('views.contributions.story.options.editors_pick') %></label><br/>
								<br/>
							</li>
							
							<li>
								[ default based on my login ]<br/>
								<label><%= t('views.contributions.story.labels.cataloguer') %></label><br/>
								
								<select>
									<option></option>
									<option>Alun</option>
									<option>Ylva</option>
								</select><br/>
								<br/>
							</li>
							
							<li>
								[ default based on config value ]<br/>
								<label><%= t('views.contributions.story.labels.collection_day') %></label><br/>
								<select>
									<option></option>
									<option>RG14</option>
								</select><br/>
								<br/>
							</li>
							
							<li>
								<label><%= t('views.contributions.story.labels.cataloguer_notes') %></label><br/>
								<textarea></textarea>
							</li>
							
						</ol>
						
					</fieldset>
					
					<br/>
					
				</li>
				
				<li>
					<input type="submit" value="<%= t('views.contributions.story.labels.save_story') %>" /><br/>
					<%= t('views.contributions.story.help_text.save_story') %>
				</li>
				
			</ol>
			
		</fieldset>
		
	</form>