<h2><span class="highlight">[ the story title you gave in step 1 ]</span></h2>

	<p><span class="highlight">[ only show this sentence if there is at least one attached item ]</span><br/>
	<%= raw t('views.contributions.digital_object.help_text.submit_contribution1') %></p>
	
	
	<div id="continue-to-submission" style="display: none">
	
		<form action="/en/contributions/complete" id="submit-your-story">
				
			<fieldset>
				
				<legend><%= t('views.contributions.digital_object.help_text.submit_your_story') %></legend>
						
				<ol>
					<li>
						<input type="checkbox" />
						<label><%= raw t('views.register.terms.accept', :terms => link_to( t('views.register.terms.terms'), page_path('about/terms') ) ) %></label><br/>
						<br/>
					</li>
				</ol>
				
				<%= raw t('views.contributions.digital_object.help_text.submit_contribution2') %><br/>
				<input type="submit" value="<%= t('views.contributions.digital_object.help_text.submit_story_button') %>" />
				
			</fieldset>
			
		</form>
		
	</div>

			
<h2><%= t('views.contributions.digital_object.step2') %></h2>
<% @nr_digital_objects = 0 %>

	<p>	
		<%= raw t( 'views.contributions.digital_object.help_text.add_attachment', :nr_digital_objects => @nr_digital_objects )%>
		<span class="highlight">[ only show this link if there is at least 1 item ]</span>
		<%= raw t('views.contributions.digital_object.help_text.view_attachments') %>
	</p>
	
	<form id="add-item" style="margin-top: 20px;">
		
		<fieldset>
			
			<legend><%= t('views.contributions.digital_object.help_text.describe_item') %></legend>
			
			<ol>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.upload') %></label><br/>
					<input type="file" />
					<span class="mandatory"><%= t('common.help_text.mandatory') %></span>
					<%= t('views.contributions.digital_object.help_text.upload') %><br/>
					<br/>
				</li>
				
				<li>
					
					<fieldset>
						
						<legend><%= t('views.contributions.story.labels.cataloguer_only') %></legend>						
						<input type="submit" value="<%= t('views.contributions.digital_object.labels.save_digital') %>"/>
						
					</fieldset>
					
					<br/>
					
				</li>
				
				<li>
					<input type="checkbox" />
					<label><%= t('views.contributions.digital_object.labels.cover_image') %></label><br/>
					<%= t('views.contributions.digital_object.help_text.cover_image') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.page_number') %></label><br/>
					<input type="text"/><br/>
					<%= t('views.contributions.digital_object.help_text.page_number') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.side') %></label><br/>
					<input type="radio" /> <%= t('views.contributions.digital_object.options.front') %>
					<input type="radio" /> <%= t('views.contributions.digital_object.options.back') %><br/>
					<%= t('views.contributions.digital_object.help_text.side') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('attributes.title') %></label><br/>
					<input type="text" /><br/>
					<%= t('views.contributions.digital_object.help_text.title') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.creators_surname') %></label><br/>
					<input type="text" /><br/>
					<br/>
					<label><%= t('views.contributions.digital_object.labels.creators_first_name') %></label><br/>
					<input type="text" /><br/>
					<%= t('views.contributions.digital_object.help_text.creators_name') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.description') %></label><br/>
					<textarea></textarea><br/>
					<%= t('views.contributions.digital_object.help_text.description') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.story.labels.language') %></label><br/>
					<input type="checkbox" value="de" /> <%= t('languages.de') %><br/>
					<input type="checkbox" value="en" /> <%= t('languages.en') %><br/>
					<input type="checkbox" value="fr"/> <%= t('languages.fr') %><br/>
					<input type="checkbox" value="sl"/> <%= t('languages.sl') %><br/>
					<input type="checkbox" value="nl"/> <%= t('languages.nl') %><br/>
					<input type="checkbox" value="nl"/> <%= t('languages.ga') %><br/>
					<input type="checkbox" value="nl"/> <%= t('languages.da') %><br/>
					<input type="checkbox" /> <%= t('common.options.other_option') %><br/>
					<input type="text" /><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('activerecord.attributes.metadata_field.field_type') %></label><br/>
					<select>
						<option></option>
						<option><%= t('views.contributions.digital_object.options.diary') %></option>
						<option><%= t('views.contributions.digital_object.options.letter') %></option>
						<option><%= t('views.contributions.digital_object.options.medal') %></option>
						<option><%= t('views.contributions.digital_object.options.photograph') %></option>
						<option><%= t('views.contributions.digital_object.options.poem') %></option>
					</select><br/>
					<%= t('views.contributions.digital_object.help_text.object_type') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.subject') %></label><br/>
					<input type="text" /><br/>
					<%= t('views.contributions.digital_object.help_text.subject') %><br/>
					<br/>
				</li>
				
			</ol>
			
		</fieldset>
		
		
		<fieldset class="collapsible">
			
			<legend><%= t('views.contributions.digital_object.help_text.where') %></legend>
			
			<ol>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.place_created') %></label><br/>
					<input type="text" /><br/>
					<%= t('views.contributions.digital_object.help_text.place_created') %><br/>
					<br/>
				</li>
				
			</ol>
			
		</fieldset>
		
		
		<fieldset class="collapsible">
			
			<legend><%= t('views.contributions.digital_object.help_text.when') %></legend>
				
			<ol>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.date_created') %></label><br/>
					<select>
						<option value=""><%= t('datetime.prompts.year') %></option>
						<option>1912</option>
						<option>1913</option>
						<option>1914</option>
						<option>1915</option>
						<option>1916</option>
						<option>1917</option>
						<option>1918</option>
						<option>1919</option>
						<option>1920</option>
						<option>1921</option>
						<option>1922</option>
						<option>1923</option>
					</select>
					<select>
						<option><%= t('datetime.prompts.month') %></option>
						<% @month_names = t('date.month_names') %>
						<% (1..12).each { |i| %>
							<option><%= @month_names[i] %></option>
						<% } %>
					</select>
					<select>
						<option><%= t('datetime.prompts.day') %></option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>
						<option>25</option>
						<option>26</option>
						<option>27</option>
						<option>28</option>
						<option>29</option>
						<option>30</option>
						<option>31</option>
					</select><br/>
					<%= t('views.contributions.digital_object.help_text.date_created') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.date_completed') %></label><br/>
					<select>
						<option value=""><%= t('datetime.prompts.year') %></option>
						<option>1912</option>
						<option>1913</option>
						<option>1914</option>
						<option>1915</option>
						<option>1916</option>
						<option>1917</option>
						<option>1918</option>
						<option>1919</option>
						<option>1920</option>
						<option>1921</option>
						<option>1922</option>
						<option>1923</option>
					</select>
					<select>
						<option><%= t('datetime.prompts.month') %></option>
						<% @month_names = t('date.month_names') %>
						<% (1..12).each { |i| %>
							<option><%= @month_names[i] %></option>
						<% } %>
					</select>
					<select>
						<option><%= t('datetime.prompts.day') %></option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>
						<option>25</option>
						<option>26</option>
						<option>27</option>
						<option>28</option>
						<option>29</option>
						<option>30</option>
						<option>31</option>
					</select><br/>
					<%= t('views.contributions.digital_object.help_text.date_completed') %><br/>
					
					<br/>
					<br/>
					
				</li>
				
			</ol>
			
		</fieldset>
		
		
		<fieldset class="collapsible">
			
			<legend><%= t('views.contributions.digital_object.labels.keywords') %></legend>
			
				<ol>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.antiwar') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.artillery') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.conscientious') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.gas') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.home_front') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.manufacture') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.medical') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.military_punishment') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.prisoners') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.propaganda') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.recruitment') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.rememberance') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.tanks') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.transport') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.trench_life') %></label>
					</li>
					
					<li>
						<input type="checkbox" value="antiwar">
						<label><%= t('views.contributions.story.options.women') %></label>
					</li>
				
				</ol>
				
			<%= t('views.contributions.story.help_text.keywords') %> <%= t('views.contributions.story.help_text.suggest_keyword') %>
			
		</fieldset>
		
		
		<fieldset class="collapsible">
			
			<legend><%= t('views.contributions.digital_object.labels.front') %></legend>
			
			<ol>
				
				<li>
					<input type="checkbox" value="gallipoli_front" />
					<label><%= t('views.contributions.story.options.gallipoli_front') %></label>
				</li>
				
				<li>
					<input type="checkbox" value="african_wars" />
					<label><%= t('views.contributions.story.options.african_wars') %></label>
				</li>
				
				<li>
					<input type="checkbox" value="balkans" />
					<label><%= t('views.contributions.story.options.balkans') %></label>
				</li>
				
				<li>
					<input type="checkbox" value="italian_front" />
					<label><%= t('views.contributions.story.options.italian_front') %></label>
				</li>
				
				<li>
					<input type="checkbox" value="aerial_warfare" />
					<label><%= t('views.contributions.story.options.aerial_warfare') %></label>
				</li>
				
				<li>
					<input type="checkbox" value="middle_east" />
					<label><%= t('views.contributions.story.options.middle_east') %></label>
				</li>
				
				<li>
					<input type="checkbox" value="eastern_front"/>
					<label><%= t('views.contributions.story.options.eastern_front') %></label>
				</li>
				
				<li>
					<input type="checkbox" value="naval_warfare" />
					<label><%= t('views.contributions.story.options.naval_warfare') %></label>
				</li>
				
				<li>
					<input type="checkbox" value="western_front" />
					<label><%= t('views.contributions.story.options.western_front') %></label>
				</li>
				
			</ol>
			
			<%= t('views.contributions.story.help_text.relevant') %> <%= t('views.contributions.story.help_text.suggest_keyword') %>
			
		</fieldset>
		
		
		<fieldset class="collapsible">
			
			<legend><%= t('views.contributions.story.labels.cataloguer_only') %></legend>
			
			<ol>
				
				<li>
		
					<fieldset>
						
						<legend><%= t('views.contributions.digital_object.labels.forces') %></legend>
						
						<ol>
							
							<li>
								<input type="checkbox" value="allied_forces">
								<label><%= t('views.contributions.story.options.allied_forces') %></label>
							</li>
							
							<li>
								<input type="checkbox" value="central_powers">
								<label><%= t('views.contributions.story.options.central_powers') %></label>
							</li>
							
							<li>
								<input type="checkbox" value="imperial_forces">
								<label><%= t('views.contributions.story.options.imperial_forces') %></label>
							</li>
							
						</ol>
						
						<%= t('views.contributions.story.help_text.relevant') %> <%= t('views.contributions.story.help_text.suggest_keyword') %>
						
					</fieldset>
					
					<br/>
					
				</li>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.source') %></label><br/>
					<select>
						<option value=""></option>
						<option value="14"><%= t('views.contributions.digital_object.options.other_option') %></option>
						<option value="5"><%= t('views.contributions.digital_object.options.artifact') %></option>
						<option value="10"><%= t('views.contributions.digital_object.options.leaf') %></option>
						<option value="6"><%= t('views.contributions.digital_object.options.book') %></option>
						<option value="7"><%= t('views.contributions.digital_object.options.film') %></option>
						<option value="8"><%= t('views.contributions.digital_object.options.folio') %></option>
						<option value="15"><%= t('views.contributions.digital_object.options.photograph') %></option>
						<option value="13"><%= t('views.contributions.digital_object.options.notebook') %></option>
						<option value="16"><%= t('views.contributions.digital_object.options.postcard') %></option>
						<option value="19"><%= t('views.contributions.digital_object.options.vinyl_record') %></option>
						<option value="17"><%= t('views.contributions.digital_object.options.tape') %></option>
						<option value="18"><%= t('views.contributions.digital_object.options.unknown') %></option>
						<option value="11"><%= t('views.contributions.digital_object.options.multiple') %></option>
						<option value="9"><%= t('views.contributions.digital_object.options.journal') %></option>
						<option value="12"><%= t('views.contributions.digital_object.options.newspaper') %></option>
					</select><br/>
					<%= t('views.contributions.digital_object.help_text.source') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.medium') %></label><br/>
					<select>
						<option></option>
						<option value="27"><%= t('views.contributions.digital_object.options.other_option') %></option>
						<option value="23"><%= t('views.contributions.digital_object.options.digital') %></option>
						<option value="29"><%= t('views.contributions.digital_object.options.photographic_paper') %></option>
						<option value="35"><%= t('views.contributions.digital_object.options.wood') %></option>
						<option value="21"><%= t('views.contributions.digital_object.options.card') %></option>
						<option value="22"><%= t('views.contributions.digital_object.options.ceramic') %></option>
						<option value="24"><%= t('views.contributions.digital_object.options.leather') %></option>
						<option value="20"><%= t('views.contributions.digital_object.options.canvas') %></option>
						<option value="25"><%= t('views.contributions.digital_object.options.metal') %></option>
						<option value="26"><%= t('views.contributions.digital_object.options.mixed') %></option>
						<option value="28"><%= t('views.contributions.digital_object.options.paper') %></option>
						<option value="34"><%= t('views.contributions.digital_object.options.vinyl') %></option>
						<option value="31"><%= t('views.contributions.digital_object.options.text_memoir') %></option>
						<option value="32"><%= t('views.contributions.digital_object.options.text_transcript') %></option>
						<option value="30"><%= t('views.contributions.digital_object.options.tape') %></option>
						<option value="33"><%= t('views.contributions.digital_object.options.unknown') %></option>
					</select><br/>
					<%= t('views.contributions.digital_object.help_text.medium') %><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.page_number_total') %></label><br/>
					<input type="text"/><br/>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.story.labels.cataloguer_notes') %></label><br/>
					<textarea></textarea><br/>
					<br/>
				</li>
				
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.media_type') %></label><br/>
					<select>
						<option><%= t('views.contributions.digital_object.options.text') %></option>
						<option><%= t('views.contributions.digital_object.options.image') %></option>
						<option><%= t('views.contributions.digital_object.options.video') %></option>
						<option><%= t('views.contributions.digital_object.options.audio') %></option>
						<option><%= t('views.contributions.digital_object.options.3d') %></option>
					</select>
					<span class="mandatory"><%= t('common.help_text.mandatory') %></span>
					<br/>
				</li>
				
				<li>
					<label><%= t('views.contributions.digital_object.labels.license') %></label><br/>
					<select>
						<option><%= t('views.contributions.digital_object.options.cc_by_sa') %></option>
						<option><%= t('views.contributions.digital_object.options.public_domain') %></option>
					</select><br/>
					<span class="mandatory"><%= t('common.help_text.mandatory') %></span>
				</li>
				
			</ol>
			
		</fieldset>
		
		
		<fieldset>
			
			<input type="submit" value="<%= t('views.contributions.digital_object.labels.save_item_draft') %>" />
			
		</fieldset>
		
	</form>
	
	
	<h3 id="digital-objects"><%= raw t('views.contributions.digital_object.heading') %></h3>
	<ul>
		<li><%= link_to( t('views.contributions.digital_object.links.add_another'), '#add-item' ) %></li>
		<li><%= link_to( t('views.contributions.digital_object.help_text.submit_your_story'), '#continue-to-submission' ) %></li>
	</ul>
	<p><%= raw t('views.contributions.digital_object.help_text.summary') %></p>
	
	
	<table>
		
		<thead>
			
			<th><%= t('attributes.title') %></th>
			<th><%= t('activerecord.attributes.contribution.attachments') %></th>
			<th><%= t('activerecord.attributes.attachment.file_created_at') %></th>
			<th><%= t('views.table.header.actions') %></th>
				
		</thead>
		
		<tbody>
		
			<tr>
				<td>attachment 1</td>
				<td><img src="http://www.europeana1914-1918.eu/attachments/32308/2491.32308.original.jpg?1325753253" width="70"/></td>
				<td>2012-01-19 19:19 GMT +1</td>
				<td><a href=""><%= t('actions.edit') %></a> <a href=""><%= t('actions.delete') %></td>
			</tr>
			
		</tbody>
		
	</table>