<%
  @javascripts[:attachments] = true
  @javascripts[:clone_metadata] = true
  @javascripts[:collapsible] = true
  @javascripts[:gmap_locate] = true
  @javascripts[:language_other] = true
%>
<%= semantic_form_for [ attachment.contribution, attachment ], :html => { :multipart => true } do |form| %>
  
  <%=
    form.inputs :attachment_upload,
    :id => 'attachment_upload',
    :title => t(attachment.new_record? ? 'formtastic.titles.attachment_upload' : 'formtastic.titles.attachment_replace'),
    :class => @attachment_upload_class,
    :style => @attachment_upload_style do
  %>
    
    <%=
      form.input :file,
      :label => t('formtastic.labels.attachment.metadata.attachment_file'),
      :hint => t(
          (attachment.new_record? ? 'formtastic.hints.attachment.new.file' : 'formtastic.hints.attachment.edit.file'),
          :max => max_upload_size,
          :file_types => allowed_file_types        
        ),
      :wrapper_html => { :style => @single_upload_style }
    %>
  
  <% end %>
  
  <%- if dropbox_configured? && @attachment.new_record? -%>
    <%= form.inputs :dropbox, :class => @fieldset_class, :style => @fieldset_style do %>
      <%- if dropbox_authorized? -%>
        <ul>
          <li><%= t('views.attachments._form.dropbox.connected_html', :user => dropbox_user) %></li>
          <li><%= link_to t('views.attachments._form.dropbox.disconnect'), dropbox_disconnect_path(:redirect => new_contribution_attachment_path(@attachment.contribution)) %></li>
          <li><%= link_to t('views.attachments._form.dropbox.refresh'), dropbox_refresh_path(:redirect => new_contribution_attachment_path(@attachment.contribution)) %></li>
        </ul>
        <% if dropbox_contents.size > 0 -%>
          <%= form.input :dropbox_path, :as => :select, :collection => dropbox_contents %>
        <%- else -%>
          <p><%= t('views.attachments._form.dropbox.empty') %></p>
        <% end -%>
      <%- else -%>
        <p><%= t('views.attachments._form.dropbox.connect_html', :href => dropbox_connect_path(:redirect => new_contribution_attachment_path(@attachment.contribution))) %></p>
      <%- end -%>
    <% end %>
  <%- end -%>
  
  <%= form.inputs :attachment_details, :id => 'attachment_details', :class => @fieldset_class, :style => @fieldset_style do %>
  
    <%= form.semantic_fields_for :metadata do |metadata| %>
      <%=
        render :partial => 'metadata_records/form_fields',
        :locals => { :form => metadata,
          :type => :attachment,
          :field_options => {
            :name => [ 'cover_image', 'page_number', 'object_side' ],
            :cataloguing => false,
            :attachment => true
          }
        }
      %>
    <% end %>
    
    <%= form.input :title %>
    
    <%= form.semantic_fields_for :metadata do |metadata| %>
       <%=
        render :partial => 'metadata_records/form_fields',
        :locals => {
          :form => metadata, :type => :attachment,
          :field_options => {
            :name => [ 'creator_given_name', 'creator_family_name', 'attachment_description', 'lang', 'lang_other', 'content', 'subject' ],
            :cataloguing => false,
            :attachment => true
          }
        }
      %>
    <% end %>
    
  <% end %>
  
  <%= form.inputs :attachment_dates, :class => @fieldset_class, :style => @fieldset_style do %>
    <%= form.semantic_fields_for :metadata do |metadata| %>
       <%= render :partial => 'metadata_records/form_fields', :locals => { :form => metadata, :type => :attachment, :field_options => { :name => [ 'date_from', 'date_to' ], :cataloguing => false, :attachment => true } } %>
    <% end %>
  <% end %>
  
  <%= form.inputs :attachment_location, :class => @fieldset_class, :id => 'attachment_location', :style => @fieldset_style do %>
    <%= form.semantic_fields_for :metadata do |metadata| %>
       <%= render :partial => 'metadata_records/form_fields', :locals => { :form => metadata, :type => :attachment, :field_options => { :name => [ 'location_placename', 'location_map', 'location_zoom' ], :cataloguing => false, :attachment => true } } %>
    <% end %>
  <% end %>
  
  <%= form.inputs :attachment_keywords, :class => @fieldset_class, :style => @fieldset_style do %>
    <%= form.semantic_fields_for :metadata do |metadata| %>
       <%= render :partial => 'metadata_records/form_fields', :locals => { :form => metadata, :type => :attachment, :field_options => { :name => [ 'keywords' ], :cataloguing => false, :attachment => true } } %>
    <% end %>
  <% end %>
  
  <%= form.inputs :attachment_front, :class => @fieldset_class, :style => @fieldset_style do %>
    <%= form.semantic_fields_for :metadata do |metadata| %>
       <%= render :partial => 'metadata_records/form_fields', :locals => { :form => metadata, :type => :attachment, :field_options => { :name => [ 'theatres' ], :cataloguing => false, :attachment => true } } %>
    <% end %>
  <% end %>
  
  <%- if current_user.may_catalogue_contribution?(attachment.contribution) -%>
    <%= form.inputs :cataloguing_metadata, :class => @fieldset_class, :style => @fieldset_style do %>
      <%= form.semantic_fields_for :metadata do |metadata| %>
        <%= render :partial => 'metadata_records/form_fields', :locals => { :form => metadata, :type => :attachment, :field_options => { :name => [ 'forces', 'source', 'format', 'page_total', 'notes', 'file_type', 'license' ], :cataloguing => true, :attachment => true } } %>
      <% end %>
    <% end %>
  <%- end -%>
  
  <%= form.buttons :style => @fieldset_style do %>
    <%= redirect_field %>
    <%= form.commit_button :label => 'Save' %>
    <%= link_to t('actions.cancel'), contributor_dashboard_path %>
  <% end %>
  
<% end %>

<%= javascript_tag do -%>
  if ( !window.RunCoCo ) { window.RunCoCo = {}; }
  RunCoCo.contribution = {
    title: '<%= attachment.contribution.title.gsub("'", "\\\\'") %>',
    metadata: <%= raw metadata_json(attachment.contribution) %>
  };
<% end -%>
