<%
  provide :title, t('views.admin.annotations.index.title')
%>
<div class="section top">

  <h2><%= yield :title %></h2>
  
  <%- if @annotations.present? -%>
    <table>
      <thead>
        <tr>
          <th scope="col"><%= t 'actions.created_at' %></th>
          <th scope="col"><%= t 'activerecord.models.user' %></th>
          <th scope="col"><%= t 'activerecord.models.contribution' %></th>
          <th scope="col">Annotation text</th>
          <th scope="col">Annotation type</th>
          <th scope="col"><%= t 'views.table.header.actions' %></th>
        </tr>
      </thead>
      <tbody>
        <%- for annotation in @annotations -%>
          <tr>
            <td><%= l annotation[:created_at], :format => :short %></td>
            <td><%= link_to annotation[:user_name], admin_user_path(annotation[:user]) %></td>
            <td><%= link_to truncate(annotation[:contribution].title, :length => 140, :separator => ' '), contribution_path(annotation[:contribution]) %></td>
            <td><%= truncate annotation[:text], :length => 140, :separator => ' ' %></td>
            <td><%= annotation[:type] %></td>
            <td><%= link_to t('actions.edit'), annotation[:edit], :class => 'edit-member' %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  <%- else -%>
    
  <%- end -%>

</div>
