<% provide :title, t('common.links.takedown_policy') %>

<div class='section top'>
	
	<h2><%= t('common.links.takedown_policy') %></h2>
	
	<p><%= t('views.about.takedown.p1') %></p>
	
	<ul>
		<li><%= t('views.about.takedown.item1') %></li>
		<li><%= t('views.about.takedown.item2') %></li>
		<li><%= t('views.about.takedown.item3') %></li>
		<li><%= t('views.about.takedown.item4') %></li>
		<li><%= t('views.about.takedown.item5') %></li>
	</ul>
	
</div>