<table class="member-record">
  <caption><%= t('views.users._summary.caption') %></caption>
  <tr>
    <th scope="row"><%= User.human_attribute_name(:email) %></th>
    <td><%= user.email %></td>
  </tr>
  <tr>
    <th scope="row"><%= t('views.register.labels.profile_photo') %></th>
    <td><%= image_tag user.picture.url(:thumb) %></td>
  </tr>
</table>
