<% @title = t('views.users.account.title') %>

<div class="action-links">
  <ul>
    <li><%= link_to t('views.users.account.links.edit_user'), edit_user_registration_path(:redirect => request_uri), :class => 'edit-member' %></li>
  </ul>
</div>
<%= render :partial => 'summary', :locals => { :user => current_user } %>

<% if current_user.contact -%>
  <div class="action-links">
    <ul>
      <li><%= link_to t('views.users.account.links.edit_contact'), edit_contact_path(current_user.contact, :redirect => request_uri), :class => 'edit-member' %></li>
      <li><%= link_to t('views.links.privacy_policy'), page_path('help/privacy') %></li>
    </ul>
  </div>
  <%= render :partial => '/contacts/summary', :locals => { :contact => current_user.contact, :caption => t('views.users.account.caption'), :email => false } %>
<% end -%>

