<% @title = t('views.admin.contributions.index.title') %>
<%- @javascripts[:collapsible] = true -%>

<% if @contributor -%>
  <div><strong><%= t 'activerecord.options.user.role_name.contributor' %></strong> <%= @contributor.contact.full_name %></div>
<% else -%>
 <p><%= t('views.admin.contributions.p1') %></p>
  <%= render :partial => '/shared/search_form', :locals => { :url => search_admin_contributions_path, :query => @query } %>
<% end -%>

<%= semantic_form_for(@options, :as => :options, :url => options_admin_contributions_path, :html => { :method => 'put' }) do |form| %>
  <%= form.inputs :fields, :class => 'inputs options collapsed' do %>
    <%= form.input :fields, :as => :check_boxes, :collection => contribution_fields, :label => false %>
    <%= form.commit_button %>
  <% end %>
<% end %>

<% if @contributions[:submitted].present? -%>
  <%= render :partial => 'table', :locals => { :contributions => @contributions[:submitted], :caption => t('views.admin.contributions.index.captions.submitted', :total => @contributions[:submitted].total_entries), :fields => @options.fields } %>
<% else -%>
  <%- if @query %>
    <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.search.submitted' %></p>
  <%- else %>
    <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.all.submitted' %></p>
  <%- end %>
<% end -%>

<% if @contributions[:draft].present? -%>
  <%= render :partial => 'table', :locals => { :contributions => @contributions[:draft], :caption => t('views.admin.contributions.index.captions.draft', :total => @contributions[:draft].total_entries), :fields => @options.fields } %>
<% else -%>
  <%- if @query %>
    <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.search.draft' %></p>
  <%- else %>
    <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.all.draft' %></p>
  <%- end %>
<% end -%>

<% if @contributions[:approved].present? -%>
  <%= render :partial => 'table', :locals => { :contributions => @contributions[:approved], :caption => t('views.admin.contributions.index.captions.approved', :total => @contributions[:approved].total_entries), :fields => @options.fields } %>
<% else -%>
  <%- if @query %>
    <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.search.approved' %></p>
  <%- else %>
    <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.all.approved' %></p>
  <%- end %>
<% end -%>

<% if @contributions[:rejected].present? -%>
  <%= render :partial => 'table', :locals => { :contributions => @contributions[:rejected], :caption => t('views.admin.contributions.index.captions.rejected', :total => @contributions[:rejected].total_entries), :fields => @options.fields } %>
<% else -%>
  <%- if @query %>
    <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.search.rejected' %></p>
  <%- else %>
    <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.all.rejected' %></p>
  <%- end %>
<% end -%>
