<% @title = t('views.admin.contributions.index.title') %>
<%- @javascripts[:collapsible] = true -%>

<% if @contributor -%>
  <div><strong><%= t 'activerecord.options.user.role_name.contributor' %></strong> <%= @contributor.contact.full_name %></div>
<% else -%>
 <p>These are the submitted contributions that are pending approval or have been approved. Click on a title to see details about a contribution. Once the details are displayed, you can opt to edit the metadata, delete the contribution, or (for contributions pending approval) approve the contribution.</p>
  <%= render :partial => '/shared/search_form', :locals => { :url => search_admin_contributions_path, :query => @query } %>
<% end -%>

<%= semantic_form_for(@options, :as => :options, :url => options_admin_contributions_path, :html => { :method => 'put' }) do |form| %>
  <%= form.inputs :fields, :class => 'inputs options collapsed' do %>
    <%= form.input :fields, :as => :check_boxes, :collection => contribution_fields, :label => false %>
    <%= form.commit_button %>
  <% end %>
<% end %>

<div class="admin-contributions-submitted">
  <% if @submitted.present? -%>
    <%= render :partial => '/contributions/table', :locals => { :contributions => @submitted, :caption => t('views.admin.contributions.index.captions.submitted', :total => @submitted.total_entries), :fields => @options.fields } %>
  <% else -%>
    <%- if @query %>
      <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.search.submitted' %></p>
    <%- else %>
      <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.all.submitted' %></p>
    <%- end %>
  <% end -%>
</div>

<div class="admin-contributions-approved">
  <% if @approved.present? -%>
    <%= render :partial => '/contributions/table', :locals => { :contributions => @approved, :caption => t('views.admin.contributions.index.captions.approved', :total => @approved.total_entries), :fields => @options.fields } %>
  <% else -%>
    <%- if @query %>
      <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.search.approved' %></p>
    <%- else %>
      <p class="empty-table-notice"><%= t 'views.admin.contributions.index.empty.all.approved' %></p>
    <%- end %>
  <% end -%>
</div>
