<h2><%= t 'about_us.page_title' %></h2>

	<h3><%= t 'about_us.background.heading' %></h3>
		
		<p><%= t 'about_us.background.p1' %></p>
		<p><%= raw t 'about_us.background.p2' %></p>
	
	
	<h3><%= t 'about_us.what_we_do.heading' %></h3>
		
		<p><%= t 'about_us.what_we_do.p1' %></p>
		
		<ol>
			<li><%= raw t 'about_us.what_we_do.item1' %></li>
			<li><%= raw t 'about_us.what_we_do.item2' %></li>
		</ol>
	
	
	<h3><%= t 'about_us.roadshows.heading' %></h3>
		
		<p><%= raw t 'about_us.roadshows.p1' %></p>
		
			<ul>
				<li><%= raw t 'about_us.roadshows.item1' %></li>
				<li><%= raw t 'about_us.roadshows.item2' %></li>
				<li><%= raw t 'about_us.roadshows.item3' %></li>
				<li><%= raw t 'about_us.roadshows.item4' %></li>
			</ul>
		
		
		<p><%= raw t 'about_us.roadshows.p2' %></p>
		
			<ul>
				<li><%= raw t 'about_us.roadshows.item5' %></li>
				<li><%= raw t 'about_us.roadshows.item6' %></li>
				<li><%= raw t 'about_us.roadshows.item7' %></li>
				<li><%= raw t 'about_us.roadshows.item8' %></li>
			</ul>
	
	
	<h3><%= t 'about_us.online_archive.heading' %></h3>
		
		<p><%= raw t 'about_us.online_archive.p1' %></p>
	
	
	<h3><%= t 'about_us.project_partners.heading' %></h3>
		
		<p><%= raw t 'about_us.project_partners.p1' %></p>
		
			<ul>
				<li><%= raw t 'about_us.project_partners.item1' %></li>
				<li><%= raw t 'about_us.project_partners.item2' %></li>
				<li><%= raw t 'about_us.project_partners.item3' %></li>
			</ul>
		
		<h4><%= raw t 'about_us.project_partners.local_partners.heading' %></h4>
		
			<p><%= raw t 'about_us.project_partners.local_partners.p1' %></p>
			
				<ul>
					<li><%= raw t 'about_us.project_partners.local_partners.item1' %></li>
					<li><%= raw t 'about_us.project_partners.local_partners.item2' %></li>
					<li><%= raw t 'about_us.project_partners.local_partners.item3' %></li>
					<li><%= raw t 'about_us.project_partners.local_partners.item4' %></li>
				</ul>
	
	
	<h3><%= t 'about_us.funding.heading' %></h3>
		
		<p><%= raw t 'about_us.funding.p1' %></p>
		
			<ul>
				<li><%= raw t 'about_us.funding.item1' %></li>
			</ul>
	
	
	<h3><%= t 'about_us.contact_details.heading' %></h3>
		
		<p><%= raw t 'about_us.contact_details.p1' %></p>
		
			<ul>
				<li><%= raw t 'about_us.contact_details.item1' %></li>
				<li><%= raw t 'about_us.contact_details.item2' %></li>
				<li><%= raw t 'about_us.contact_details.item3' %></li>
			</ul>