<h2><%= t('common.menus.main.about') %></h2>

	<h3><%= t('views.about.background.heading') %></h3>
		
		<p><%= raw t('views.about.background.p1') %></p>
		<p><%= raw t('common.links.project_website') %></p>
		<p><%= raw t('views.about.background.p2') %></p>
	
	
	<h3><%= t('views.about.what_we_do.heading') %></h3>
		
		<p><%= t('views.about.what_we_do.p1') %></p>
		
		<ol>
			<li><%= raw t('views.about.what_we_do.item1') %></li>
			<li><%= raw t('views.about.what_we_do.item2') %></li>
		</ol>
	
	
	<h3><%= t('views.about.collection_days.heading') %></h3>
		
		<p><%= raw t('views.about.collection_days.p1') %></p>
		<p><%= raw t('views.about.collection_days.p2') %> <%= raw t('common.links.project_website') %></p>
	
	
	<h3><%= t('views.about.online_collection.heading') %></h3>
		
		<p><%= t( 'views.about.online_collection.p1', :add_your_story => link_to( t('common.links.add_your_story'), page_path('contributor') ) ) %></p>
	
	
	<h3><%= t 'views.about.project_partners.heading' %></h3>
		
		<ul>
			<li><%= raw t('views.about.project_partners.item1') %></li>
			<li><%= raw t('views.about.project_partners.item2') %></li>
			<li><%= raw t('views.about.project_partners.item3') %></li>
			<li><%= raw t('views.about.project_partners.item4') %></li>
			<li><%= raw t('views.about.project_partners.item5') %></li>
			<li><%= raw t('views.about.project_partners.item6') %></li>
			<li><%= raw t('views.about.project_partners.item7') %></li>
		</ul>
			
		<p><%= raw t('common.links.project_website') %></p>
