<% @title = t('views.about.terms.heading') %>

	<h2><%= raw t('views.about.terms.user_contributions.heading') %></h2>
	
		<p><%= raw t('views.about.terms.user_contributions.p1') %></p>
		<p><%= raw t('views.about.terms.user_contributions.p2') %></p>
		<p><%= raw t('views.about.terms.user_contributions.p3') %></p>
		<p><%= raw t('views.about.terms.user_contributions.p4') %></p>
		
		<p><%= raw t('views.about.terms.user_contributions.p5') %></p>
		<ul>
			<li><%= raw t('views.about.terms.user_contributions.item1') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item2') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item3') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item4') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item5') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item6') %></li>
			<li><%= raw t('views.about.terms.user_contributions.item7') %></li>
		</ul>
		
		<p><%= raw t('views.about.terms.user_contributions.p6') %></p>
		
		<hr/>
		
			<p><%= raw t('views.about.terms.user_contributions.p7') %></p>
			<ul>
				<li><%= link_to( t('common.links.takedown_policy'), page_path('about/takedown') ) %></li>
				<li><%= link_to( t('common.links.privacy_policy'), page_path('about/privacy') ) %></li>
			</ul>
			
		<hr/>
	
	
	<h2><%= raw t('views.about.terms.summary.heading') %></h2>
	
		<p><%= raw t('views.about.terms.summary.p1') %></p>
		
		<p><%= raw t('views.about.terms.summary.p2') %></p>
		<ul>
			<li><%= raw t('views.about.terms.summary.item1') %></li>
			<li><%= raw t('views.about.terms.summary.item2') %></li>
			<li><%= raw t('views.about.terms.summary.item3') %></li>
			<li><%= raw t('views.about.terms.summary.item4') %></li>
			<li><%= raw t('views.about.terms.summary.item5') %></li>
		</ul>
		
		<p><%= raw t('views.about.terms.summary.p3') %></p>
	
	
	<h2><%= raw t('views.about.terms.full_details.heading') %></h2>
	
		<h3><%= raw t('views.about.terms.full_details.article1.heading') %></h3>
		
			<p><%= raw t('views.about.terms.full_details.article1.p1') %></p>
			<ol>
				<li><%= raw t('views.about.terms.full_details.article1.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item2') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item3') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item4') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item5') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item6') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item7') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item8') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item9') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item10') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item12') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item13') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item14') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item15') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item16') %></li>
				<li><%= raw t('views.about.terms.full_details.article1.item17') %></li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article2.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article2.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article2.item2') %></li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article3.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article3.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article3.item2') %></li>
				<li><%= raw t('views.about.terms.full_details.article3.item3') %></li>
				<li><%= raw t('views.about.terms.full_details.article3.item4') %></li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article4.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article4.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article4.item2') %></li>
				<li><%= raw t('views.about.terms.full_details.article4.item3') %></li>
				<li><%= raw t('views.about.terms.full_details.article4.item4') %></li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article4.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article4.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article4.item2') %></li>
				<li><%= raw t('views.about.terms.full_details.article4.item3') %></li>
				<li><%= raw t('views.about.terms.full_details.article4.item4') %></li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article5.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article5.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article5.item2') %>
					<ul>
						<li><%= raw t('views.about.terms.full_details.article5.subitem1') %></li>
						<li><%= raw t('views.about.terms.full_details.article5.subitem2') %></li>
					</ul>
				</li>
				<li><%= raw t('views.about.terms.full_details.article5.item3') %></li>
				<li><%= raw t('views.about.terms.full_details.article5.item4') %></li>
				<li><%= raw t('views.about.terms.full_details.article5.item5') %></li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article6.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article6.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article6.item2') %>
					<ul>
						<li><%= raw t('views.about.terms.full_details.article6.subitem1') %></li>
						<li><%= raw t('views.about.terms.full_details.article6.subitem2') %></li>
					</ul>
				</li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article7.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article7.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article7.item2') %>
					<ul>
						<li><%= raw t('views.about.terms.full_details.article7.subitem1') %></li>
						<li><%= raw t('views.about.terms.full_details.article7.subitem2') %></li>
						<li><%= raw t('views.about.terms.full_details.article7.subitem3') %></li>
						<li><%= raw t('views.about.terms.full_details.article7.subitem4') %></li>
						<li><%= raw t('views.about.terms.full_details.article7.subitem5') %></li>
						<li><%= raw t('views.about.terms.full_details.article7.subitem6') %></li>
						<li><%= raw t('views.about.terms.full_details.article7.subitem7') %></li>
						<li><%= raw t('views.about.terms.full_details.article7.subitem8') %></li>
						<li><%= raw t('views.about.terms.full_details.article7.subitem9') %></li>
						<li><%= raw t('views.about.terms.full_details.article7.subitem10') %></li>
						<li><%= raw t('views.about.terms.full_details.article7.subitem11') %></li>
					</ul>
				</li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article8.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article8.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article8.item2') %></li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article9.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article9.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article9.item2') %></li>
				<li><%= raw t('views.about.terms.full_details.article9.item3') %></li>
				<li><%= raw t('views.about.terms.full_details.article9.item4') %></li>
				<li><%= raw t('views.about.terms.full_details.article9.item5') %></li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article10.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article10.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article10.item2') %></li>
			</ol>
		
		
		<h3><%= raw t('views.about.terms.full_details.article11.heading') %></h3>
		
			<ol>
				<li><%= raw t('views.about.terms.full_details.article11.item1') %></li>
				<li><%= raw t('views.about.terms.full_details.article11.item2') %></li>
				<li><%= raw t('views.about.terms.full_details.article11.item3') %></li>
			</ol>