<% @javascripts[:prettyphoto] = true -%>
<%
colspan = 1
if attachments.present?
  if current_user.may_edit_attachment?(attachments.first)
    colspan = colspan + 1
  end
  if current_user.may_delete_attachment?(attachments.first)
    colspan = colspan + 1
  end
  if current_user.may_copy_attachment_metadata?(attachments.first)
    colspan = colspan + 1
  end
end
-%>
<% if attachments.present? %>
  <table class="collection-members attachments">
    <caption><%= t('views.attachments._table.caption') %></caption>
    <tr>
      <th scope="col"><%= t('activerecord.attributes.attachment.preview') %></th>
      <th scope="col"><%= t 'attributes.title' %></th>
      <th scope="col"><%= t 'activerecord.attributes.attachment.file_file_size' %></th>
      <%- if current_user.may_catalogue_contributions? -%>
        <th scope="col"><%= t 'formtastic.labels.contribution.metadata.ticket' %></th>
        <th scope="col"><%= t 'attributes.updated_at' %></th>
      <%- end -%>
      <th scope="col" colspan="<%= colspan %>"><%= t 'views.table.header.actions' %></th>
    </tr>
    <%- for attachment in attachments %>
      <%- unless attachment.new_record? %>
        <tr>
          <%- if attachment.file_file_name.blank? && attachment.file_file_size.present? -%>
            <td class="pending" data-attachment-id="<%= attachment.id %>" data-contribution-id="<%= attachment.contribution_id %>"><%= t 'views.attachments._table.no_thumbnail' %></td>
          <%- elsif attachment.file.present? -%>
            <td><%= link_to attachment_preview(attachment), attachment.file.url, :class => 'preview', :rel => (attachment.has_thumbnail?(:preview) ? "prettyPhoto[gal]" : nil) %></td>
          <% else %>
            <td><img src="/images/style/icons/mimetypes/unknown.png" alt="<%= t('media_types.unknown') %>" /></td>
          <%- end -%>
          <td><%= attachment.title %></td>
          <td><%= number_to_human_size(attachment.file.size, :precision => 2) %></td>
          <%- if current_user.may_catalogue_contributions? -%>
            <td><%= contribution_field_value(attachment.contribution, 'field_ticket') %></td>
            <td><%= l attachment.updated_at, :format => :short %></td>
          <%- end -%>
          <td>
            <%- if attachment.file.present? -%>
              <%= link_to t('actions.download'), attachment.file.url, :class => 'download-file' %>
            <%- end -%>
          </td>
          <%- if current_user.may_edit_attachment?(attachment) -%>
            <td><%= link_to t('actions.edit'), edit_contribution_attachment_path(attachment.contribution, attachment), :class => 'edit-member' %></td>
          <%- end -%>
          <%- if current_user.may_copy_attachment_metadata?(attachment) -%>
            <td><%= link_to t('actions.copy'), copy_contribution_attachment_path(attachment.contribution, attachment) %></td>
          <%- end -%>
          <%- if current_user.may_delete_attachment?(attachment) -%>
            <td><%= link_to t('actions.delete'), delete_contribution_attachment_path(attachment.contribution, attachment), :class => 'delete-member' %></td>
          <%- end -%>
        </tr>
      <%- end %>
    <%- end %>
  </table>
<% end %>

