<%- @javascripts[:uploadify] = true -%>
<% @title = t('views.contributions.digital_object.step2') %>
  
    <div class="action-links">
	<ul>
	  
	  <li><%= raw t('views.contributions.digital_object.help_text.attachment_count', :nr_digital_objects => @contribution.attachments.size ) %></li>
	  <li><%= link_to t('views.contributions.digital_object.links.edit_story'), edit_contribution_path(@contribution), :class => 'edit-member' %></li>
	  <li><%= link_to t('formtastic.actions.attachment.add_edit'), ( new_contribution_attachment_path(@contribution, :anchor => 'attachments', :anchor => 'attachments')) %> (<%= @contribution.attachments.size %>)</li>
	  
	</ul>	
  </div>
	
  <p>
  <%= raw t('views.contributions.digital_object.help_text.attachment_count', :nr_digital_objects => @contribution.attachments.size ) %>
  <% if @contribution.attachments.present? -%>
    <%= raw t('views.contributions.digital_object.help_text.view_attachments') %>
  <%- else -%>
    <%= raw t('views.contributions.digital_object.help_text.add_attachment') %>
  <% end -%>
  <br/>
  <%= link_to t('views.contributions.digital_object.links.edit_story'), edit_contribution_path(@contribution), :class => 'edit-member' %>
  </p>
  
  <% if configuration(:uploadify) -%>
  
  <%- javascript_tag do -%>
  
    RunCoCo.uploadify['script'] = '<%= contribution_attachments_path(@contribution) %>';
    
  <%- end -%>
  
  <% end -%>
  
  <% if @contribution.ready_to_submit? -%>
  
  <%= render :partial => '/contributions/submit_form', :locals => { :contribution => @contribution } %>
  
  <%- end %>
  
  <% if @attachment.file.dirty? -%>
  
  <%= render :partial => 'summary', :locals => { :attachment => @attachment, :caption => t('views.attachments.new.caption') } %>
  
  <% end -%>
  
  <%= render :partial => 'form', :locals => { :attachment => @attachment } %>


<h2 id="attachments"><%= t('views.contributions.digital_object.heading') %></h2>
  
  <p><%= t('views.contributions.digital_object.help_text.summary') %></p>
  
  <ul>
  <% if @contribution.attachments.present? -%>
    
    <li><%= link_to( t('views.contributions.digital_object.links.add_another'), :anchor => 'attachment_upload' ) %></li>
    
  <% else %>
    
    <li><%= link_to( t('views.contributions.digital_object.links.add_item'), :anchor => 'attachment_upload' ) %></li>
    
  <% end -%>
  
  <% if @contribution.ready_to_submit? -%>
    
    <li><%= link_to( t('formtastic.titles.submit'), :anchor => 'submit' ) %></li>
    
  <% end -%>
  </ul>
  
  <% if @contribution.attachments.present? -%>
  <%= render :partial => 'table', :locals => { :attachments => @contribution.attachments } %>
  <% else -%>
  <p><%= t'views.attachments.index.empty' %></p>
  <% end -%>
  
  <% unless @contribution.submitted? -%>
  <%= render :partial => '/contributions/progress', :locals => { :step => 2 } %>
  <% end -%>
