<%
  
  @javascripts[:uploadify] = true
  
  single_item_class = 'highlighted-option'
  multiple_item_class = ''
  submit_class = ''
  
  if 'cataloguer' === current_user.role.name
	single_item_class = ''
	multiple_item_class = 'highlighted-option'
	
	upload_fieldset_style = ''
    single_file_style = 'display: none;'
    fieldset_style = 'display: none;'
  end
  
  if @contribution.ready_to_submit?
	single_item_class = ''
	multiple_item_class = ''
	submit_class = 'highlighted-option'
	fieldset_style = 'display: none;'
	upload_fieldset_style = 'display: none;'
  end
    
%>


<% @title = t('views.contributions.digital_object.step2') %>
  
  <div class="action-links">
	
	<ul>
	  
	  <li><%= link_to t('views.contributions.digital_object.links.edit_story'), edit_contribution_path(@contribution), :class => 'edit-member' %></li>
	  <li><%= link_to t('formtastic.actions.contribution.delete'), delete_contribution_path(@contribution) %></li>
	  
	</ul>
	
  </div>
  
    <p>
    <%= raw t('views.contributions.digital_object.help_text.attachment_count', :nr_digital_objects => @contribution.attachments.size ) %>
    <% if !@contribution.attachments.present? -%>
	  <%= raw t('views.contributions.digital_object.help_text.add_attachment') %>
	<% end -%>
	You can choose to do one of the following:
    </p>
  
    <ol id="attachment-help">
	  
      
	  <li><a href="#single-item" id="single-item" class="<%= single_item_class %>"><%= t('views.attachments.attachment_help.item1') %></a>
		<ul>
		  <li><%= t('views.attachments.attachment_help.item1-subitem1') %></li>
		  <li><%= t('views.attachments.attachment_help.item1-subitem2') %></li>
		</ul>
	  </li>
	  
	  <li><a href="#multiple-items" id="multiple-items" class="<%= multiple_item_class %>"><%= t('views.attachments.attachment_help.item2') %></a>
		<ul>
		  <li><%= t('views.attachments.attachment_help.item2-subitem1') %></li>
		</ul>
	  </li>
	  
	  <% if @contribution.ready_to_submit? -%>
	  <li><a href="#submit-story" id="submit-story" class="<%= submit_class %>"><%= t('formtastic.titles.submit') %></a></li>
	  <% end %>
	  
    </ol>
  
  <% if @contribution.ready_to_submit? -%>
	<%= render :partial => '/contributions/submit_form', :locals => { :contribution => @contribution } %>
  <%- end %>
  
  <% if @attachment.file.dirty? -%>
  <%= render :partial => 'summary', :locals => { :attachment => @attachment, :caption => t('views.attachments.new.caption') } %>
  <% end -%>
  
  <%= render :partial => 'form', :locals => { :attachment => @attachment } %>


<h2 id="attachments"><%= t('views.contributions.digital_object.heading') %></h2>
  
  <p><%= t('views.contributions.digital_object.help_text.summary') %></p>
  
  <ul>
  <% if @contribution.attachments.present? -%>
    <li><a href="#attachment_upload"><%= t('views.contributions.digital_object.links.add_another') %></a></li>
  <% else %>    
    <li><a href="#attachment_upload"><%= t('views.contributions.digital_object.links.add_item') %></a></li>
  <% end -%>
  
  <% if @contribution.ready_to_submit? -%>
    <li><%= link_to( t('formtastic.titles.submit'), :anchor => 'submit' ) %></li>    
  <% end -%>
  </ul>
  
  <% if @contribution.attachments.present? -%>
  <%= render :partial => 'table', :locals => { :attachments => @contribution.attachments } %>
  <% else -%>
  <p><%= t 'views.attachments.index.empty' %></p>
  <% end -%>
  
  <% unless @contribution.submitted? -%>
  <%= render :partial => '/contributions/progress', :locals => { :step => 2 } %>
  <% end -%>
