<% @title = t('views.contributions.digital_object.step2') %>
  
  <% @nr_digital_objects = @contribution.attachments.size %>
  <p>
	<%= raw t('views.contributions.digital_object.help_text.add_attachment', :nr_digital_objects => @nr_digital_objects ) %>
	<% if @contribution.attachments.present? -%>
	  <%= raw t('views.contributions.digital_object.help_text.view_attachments') %>
	<% end -%>
	<br/>
	<%= link_to t('views.contributions.digital_object.links.edit_story'), edit_contribution_path(@contribution), :class => 'edit-member' %>
  </p>

  <% if configuration(:uploadify) && (current_user.role.name == 'cataloguer') -%>
	<%- javascript_tag do -%>
	  RunCoCo.uploadify['script'] = '<%= contribution_attachments_path(@contribution) %>';
	<%- end -%>
	<%- @javascripts[:uploadify] = true -%>
  <% end -%>
  
  <% if @contribution.attachments.present? && @contribution.draft? -%>
	<%= render :partial => '/contributions/submit_form', :locals => { :contribution => @contribution } %>
  <%- end %>
  
  <% if @attachment.file.dirty? -%>
	<%= render :partial => 'summary', :locals => { :attachment => @attachment, :caption => t('views.attachments.new.caption') } %>
  <% end -%>
  
  <%= render :partial => 'form', :locals => { :attachment => @attachment } %>


<h2 id="attachments"><%= t('views.contributions.digital_object.heading') %></h2>
  
  <p><%= t('views.contributions.digital_object.help_text.summary') %></p>
  
  <ul>
	<% if @contribution.attachments.present? -%>
	  <li><%= link_to( t('views.contributions.digital_object.links.add_another'), '#attachment_upload' ) %></li>
	<% else %>
	  <li><%= link_to( t('views.contributions.digital_object.links.add_item'), '#attachment_upload' ) %></li>
	<% end -%>
	<% if @contribution.attachments.present? -%>
	  <li><%= link_to( t('formtastic.titles.submit'), '#submit' ) %></li>
	<% end -%>
  </ul>
  
  <% if @contribution.attachments.present? -%>
	<%= render :partial => 'table', :locals => { :attachments => @contribution.attachments } %>
  <% else -%>
	<p><%= t'views.attachments.index.empty' %></p>
  <% end -%>
  
  <% unless @contribution.submitted? -%>
	<%= render :partial => '/contributions/progress', :locals => { :step => 2 } %>
  <% end -%>
