<% provide :title, t('views.attachments.copy.title') %>

<%= render :partial => 'summary', :locals => { :attachment => @attachment } %>

<p><%= t('views.attachments.copy.instructions') %></p>

<%= form_tag duplicate_contribution_attachment_path(@attachment.contribution, @attachment), :method => :put do -%>
  <table class="collection-members attachments">
    <caption><%= t('views.attachments._table.caption') %></caption>
    <tr>
      <th scope="col"></th>
      <th scope="col"><%= t('activerecord.attributes.attachment.preview') %></th>
      <th scope="col"><%= t 'attributes.title' %></th>
      <th scope="col"><%= t 'activerecord.attributes.attachment.file_file_size' %></th>
      <%- if current_user.may_catalogue_contribution? -%>
        <th scope="col"><%= t 'formtastic.labels.contribution.metadata.ticket' %></th>
      <%- end -%>
    </tr>
    <% for attachment in @attachment.contribution.attachments -%>
      <%- unless attachment.id == @attachment.id -%>
        <tr>
          <td><%= check_box_tag "targets[]", attachment.id %></td>
          <td>
            <%- if attachment.file.present? -%>
              <%= link_to attachment_preview(attachment), attachment.file.url, :class => 'preview', :rel => (attachment.image? ? "prettyPhoto[gal]" : nil) %>
            <% else %>
              <img src="/images/style/icons/mimetypes/unknown.png" alt="<%= t('media_types.unknown') %>" />
            <%- end -%>
          </td>
          <td><%= attachment.title %></td>
          <td><%= number_to_human_size(attachment.file.size, :precision => 2) %></td>
          <%- if current_user.may_catalogue_contributions? -%>
            <td><%= contribution_field_value(attachment.contribution, 'field_ticket') %></td>
          <%- end -%>
        </tr>
      <%- end %>
    <%- end %>
  </table>
  <div><%= submit_tag t('actions.submit') %></div>
<% end -%>

<%= render :partial => 'metadata_records/table', :locals => { :metadata => @attachment.metadata, :field_options => { :cataloguing => false, :attachment => true } } %>

<% if current_user.may_catalogue_contributions? -%>
  <%= render :partial => 'metadata_records/table', :locals => { :metadata => @attachment.metadata, :field_options => { :cataloguing => true, :attachment => true } } %>
<% end -%>
