<%
	@fieldset_class = 'collapsed'
	provide :title, t('views.contributions.story.step1')
	provide :javascripts_page, 'contributions-new'
	
	
	if 'cataloguer' == current_user.role.name
		@fieldset_class = 'collapsible'
	end
	
%>
<div class="section top">

	<h2><%= yield :title %></h2>
		
		<h3><%= t 'activerecord.options.user.role_name.contributor' %> : <%= current_user.username %></h3>
		<%= render :partial => 'form', :locals => { :contribution => @contribution } %>
		<%= render :partial => 'progress', :locals => { :step => 1 } %>

</div>
