<% @title = t 'views.home.heading' %>



<div id="featured">
	
	<dl class="slidedeck">
		
		<dt><h2 class="slidedeck-spine">stories from the archive</dt>
		
			<dd class="carousel">
				
				<a href="/<%= I18n.locale %>/contributions/1086" title="Munitions Factories, The First World War saw large numbers of women recruited all over Europe to help the war effort on the home front. In Germany this sat uneasily with policies intended to support the family, but demand for munitions grew rapidly.">
					<img src="/themes/v2/images/from-the-archive/400/munitions-factories.jpg" />
				</a>
				<a href="/<%= I18n.locale %>/contributions/1701" title="Christmas Postcard">
					<img src="/themes/v2/images/from-the-archive/400/christmas-postcard.jpg" />
				</a>
				<a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=rudolf+Kämmerer" title="Marien HK Berlin">
					<img src="/themes/v2/images/from-the-archive/400/marine-hk-berlin.jpg" />
				</a>
				
			</dd>
		
		<dt><h2 class="slidedeck-spine">tell us <b>your</b> story</h2></dt>
		
	</ul>
	
	
	<!--
	<dl>
		
		<dt>from the archive</dt>
		
		<dd id="carousel" class="carousel">
			
			<div class="carousel-container">
				
				<ul id="carousel" class="carousel">
					
					<li>
						<a href="/<%= I18n.locale %>/contributions/1086" title="Munitions Factories, The First World War saw large numbers of women recruited all over Europe to help the war effort on the home front. In Germany this sat uneasily with policies intended to support the family, but demand for munitions grew rapidly.">
							<img src="/themes/v2/images/from-the-archive/400/munitions-factories.jpg" />
						</a>
					</li>
					
					<li>
						<a href="/<%= I18n.locale %>/contributions/1701" title="Christmas Postcard">
							<img src="/themes/v2/images/from-the-archive/400/christmas-postcard.jpg" />
						</a>
					</li>
					
					<li>
						<a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=rudolf+Kämmerer" title="Marien HK Berlin">
							<img src="/themes/v2/images/from-the-archive/400/marine-hk-berlin.jpg" />
						</a>
					</li>
					
				</ul>
				
			</div>
			
		</dd>
	
	</dl>
	
	-->
	
	
	
</div>

<ul id="collection-days">
	
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=FR07"><b>Frankfurt</b> 31 March 2011</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=BE08"><b>Berlin</b> 2 April 2011</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=MU09"><b>Munich</b> 6 April 2011</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=ST10"><b>Stuttgart</b> 11 April 2011</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=EF11"><b>Erfurt</b> 14 June 2011</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=DD12"><b>Dresden</b> 20 June 2011</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=KI13"><b>Kiel</b> 29 June 2011</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=RG14"><b>Regensburg</b> 20 July 2011</a></li>
	
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=LU17"><b>Amberg</b> 26 January 2012</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=LU17"><b>Luxembourg</b> 6 March 2012</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=PR17"><b>Preston</b> 10 March 2012</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q="><b>Dublin</b> 21 March 2012</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q="><b>Nova Gorica</b> 28 March 2012</a></li>
	<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q="><b>Sonderborg Gorica</b> 24 April 2012</a></li>
	
</ul>