<% @javascripts[:index] = true -%>
<% @title = t 'views.home.heading' %>
  
<ol id="featured">

	<li>
		
		<h2>stories from the archive</h2>
		
			<%= render :partial => 'stories_from_the_archive', :locals => { :locale => I18n.locale } %>
		
	</li>
	
	<li>
		
		<h2>tell us <b>your</b> story</h2>
		
			<%= render :partial => 'tell_us_your_story', :locals => { :locale => I18n.locale } %>
		
	</li>

</ol>

<p><b>collection days</b>: see stories from past collection days, and learn how you can <b>bring your stories</b> to future days.</p>

<ul id="collection-days">
	
	<%= render :partial => 'collection_days', :locals => { :locale => I18n.locale } %>
	
</ul>

<div class="news-item">
  
  <h2><%= t('common.news_item.heading') %></h2>
	
	<%= render :partial => 'news_item', :locals => { :locale => I18n.locale } %>

</div>