<%

	@javascripts[:index] = true
	@javascripts[:carousel] = true
	@javascripts[:readmore] = true
	@title = t 'views.home.heading'
	require 'hpricot'
	
%>
<section class="top">
	
	<% doc = Hpricot( render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'index-introduction', :titles => true, :deblogger => true } ) %>
	
	<h2><%= (doc/'h3').inner_html %></h2>
	
	<div id="index-introduction" class="one-third-left">	
		<% (doc/'h3').remove %>
		<%= raw( (doc).to_html ) %>
	</div>
	
	<div id="index-featured" class="carousel two-thirds-right">	
		<ul>
			<%= render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'index-featured', :tag => :li, :relocale => true, :deblogger => true } %>
		</ul>
		<div class="carousel-overlay"></div>	
	</div>
	
	<div id="index-follow-us">
		Follow the project at:<br/>
		<a href="https://www.facebook.com/Europeana19141918" target="_blank" title="Follow us on Facebook!"><img src="/themes/v2/images/logos/facebook.png" alt="Follow us on Facebook!"></a>
		<a href="https://twitter.com/#!/Europeana1914" target="_blank" title="Follow us on Twitter!"><img src="/themes/v2/images/logos/twitter.png" alt="Follow us on Twitter!"></a>
		<a href="http://blog.europeana.eu/category/europeana1914-1918/" target="_blank" title="Europena 1914-1918 Blog"><img src="/themes/v2/images/icons/blog.png" alt="Europena 1914-1918 Blog"></a>
	</div>
	
</section>


<section class="border-top">
	
	<div id="upcoming-collection-days" class="one-third-left-boxed box-gradient">
		
		<%= render :partial => '/blog_posts/list', :locals => { :category => 'upcoming-collection-days', :titles => true, :deblogger => true } %>
		
	</div>
	
	
	<div id="news-articles">
	  
	  <h2>News Items</h2>
			
			<%= render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'news', :tag => :article, :titles => true, :limit => 2, :deblogger => true, :read_more => true } %>
		
	</div>
	
</section>