<%

	@javascripts[:images_loaded] = true
	@javascripts[:index] = true
	@javascripts[:carousel] = true
	@javascripts[:readmore] = true
	@title = t 'views.home.heading'
	require 'hpricot'
	
%>
<div class='section top'>
	
	<% doc = Hpricot( render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'index-introduction', :titles => true, :deblogger => true } ) %>
	
	<h2><%= (doc/'h3').inner_html %></h2>
	
	<div id='index-featured' class='carousel two-thirds-right'>	
		<ul>
			<li>
				<video poster='/themes/v2/images/banners/otto-bernard.jpg' controls preload='none'>
					<source type='video/mp4' src='/videos/otto-bernard-international.mp4'/>
					<source type='video/ogg' src='/videos/otto-and-bernard.ogv'/>
					<div class='html5-video-fallback' style='background-image:url(/themes/v2/images/banners/otto-bernard.jpg);'><div>Your browser does not support html5 video<a href='http://vimeo.com/21385414' target='_blank'>Try watching this video on vimeo</a></div></div>
				</video>
			</li>
			<%= render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'index-featured', :tag => :li, :relocale => true, :deblogger => true } %>
		</ul>
		<div class='carousel-overlay'></div>	
	</div>
	
	<div id='index-introduction' class='one-third-left'>
		<% (doc/'h3').remove %>
		<%= raw( (doc).to_html ) %>		
		<div id='index-call-to-action'>
			<a href='<%= current_user.role.name == 'guest' ? contributor_dashboard_path : new_contribution_path %>' class='button'><%= t('common.links.add-your-story') %></a><a href='<%= page_path('explore') %>' class='button'><%= t('common.links.explore-the-stories') %></a>
		</div>		
	</div>
	
</div>


<div class='section border-top'>
	
	<div id='index-aside' class='one-third-left-boxed box-gradient'>
		
		<%= render :partial => '/blog_posts/list', :locals => { :category => 'index-aside', :titles => true, :deblogger => true } %>
		
	</div>
	
	
	<div id='news-articles'>
	  
		<h2><%= t('common.news') %></h2>
		
			<div id='index-follow-us'>
				<%= render :partial => '/blog_posts/list', :locals => { :category => 'index-follow-us', :titles => false, :deblogger => true } %>
			</div>
			
			<%= render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'news', :tag => :div, :html_class => 'article', :titles => true, :limit => 2, :deblogger => true, :read_more => true } %>
		
	</div>
	
</div>