  
    <% if (tags.length > 0) || current_user.may_tag_contribution?(contribution) -%>
    
        <div class="add-tags">
            <h3><%= t('views.contributions.show.headings.tags') %></h3>
        
    <%- end -%>
  
    <% if (tags.length > 0) -%>
      
        <div class="panel tags-panel">
            <ul class="tags clearfix">
                
                <%- for tag in tags -%>
                    <li>
                        <%= link_to tag.name, search_contributions_path(:tag => tag.name) %>
                        <%- if current_user.may_untag_contribution?(contribution, tag) || current_user.may_flag_contribution_tag?(contribution, tag) -%>
                            <div class="action-links">
                                <ul>
                                    <%- if current_user.may_untag_contribution?(contribution, tag) -%>
                                        <li>
                                            <%= link_to t('actions.delete'), delete_contribution_tag_path(contribution, tag.name), :confirm => t('views.tags.delete.question'), :method => :put, :class => 'delete' %>
                                        </li>
                                    <%- end -%>
                                    <%- if current_user.may_flag_contribution_tag?(contribution, tag) -%>
                                        <li>
                                            <%= link_to t('actions.flag'), flag_contribution_tag_path(contribution, tag.name), :title => t('formtastic.actions.tag.flag'), :confirm => t('views.tags.flag.question'), :method => :put %>
                                        </li>
                                    <%- end -%>
                                </ul>
                            </div>
                        <%- end -%>
                    </li>
                <%- end -%>
                
            </ul>
        </div>
        
    <%- end -%>
    
  
    <%- if current_user.may_tag_contribution?(contribution) -%>
        <%= form_tag contribution_tags_path(contribution), :method => :post, :id => "add_tags_form" do %>
            <div class="panel add-tag-panel">
                <label for="tags">Add tags (optional)</label>
                <%= text_field_tag "tags", "", :size => 50 %>
            </div>
        <% end %>
    <%- end -%>
  
  
    <% if (tags.length > 0) || current_user.may_tag_contribution?(contribution) -%>
    
    	<%# CLOSE DIV %>
    	
        </div>
        
    <%- end -%>
  
  
