<%
	# note, the <dt class="translate"> tags are purposefullt hard-coded to english
	# the idea is that the user will use the microsoft translate tool to
	# translate the <dt> content
-%>
<div class="col-cell">
	<h2 class="dcTitle hide-on-phones"> <%= edm_proxy_field(proxy, 'dcTitle') %></h2>

	<div class="translate-area"></div>

	<% if dcContributor = edm_proxy_field(proxy, 'dcContributor') -%>
	  <dt class="translate"><b>Contributor</b></dt>
    <dd class="subtext translate"><%= dcContributor %></dd>
	<% end -%>

	<% if dcDescription = edm_proxy_field(proxy, 'dcDescription') -%>
		<dd class="translate"><%= dcDescription %></dd>
		<hr/>
	<% end -%>
</div>

<%
  # vals have:of fields - all must be present to show
  #    name (the key of the hash)
  #    label (translate key)
  #    source (read from proxy or aggregation)
  #    required (optional list )

  # portal search strings for test data:
  #    europeana_aggregation_edm_country:*
  #    proxy_dc_date:*
  #    proxy_dc_type:*
  #    proxy_dcterms_extent:*
  #    europeana_aggregation_edm_language:*
  #    provider_aggregation_edm_provider:*
  #    provider_aggregation_edm_dataProvider:*
  # check here for others:
  # /home/andy/git/corelib/corelib-solr/src/test/resources/solr/search/conf/schema.xml
    

  edmVals = [
    	{
    		"name" => "dcCoverage",
    		"ns" => "dc",
    		"label" => "coverage",
    		"source" => proxy
    	},
    	{
			"name" => "dcDate",
		    "ns" => "dc",
			"label" => "date",
			"source" => proxy
    	},
    	{
			"name" => "dcIdentifier",
		    "ns" => "dc",
			"label" => "identifier",
			"source" => proxy
    	},
    	{
    		"name" => "dcLanguage",
    		"ns" => "dc",
    		"label" => "language",
    		"source" => proxy,
    		"expand" => 'languageLabel(readVal)'
    	},
    	{
    		"name" => "dcPublisher",
    		"ns" => "dc",
    		"label" => "publisher",
    		"source" => proxy
    	},
  		{
    		"name" => "dctermsAlternative",
		    "ns" => "dc",
    		"label" => "terms_alternative",
    		"source" => proxy
    	},
    	{
			"name" => "dctermsExtent",
		    "ns" => "dc",
			"label" => "terms_extent",
			"source" => proxy
    	},
    	{
    		"name" => "dcSubject",
    		"ns" => "dc",
    		"label" => "subject",
    		"source" => proxy
    	},
    	{
			"name" => "dcType",
		    "ns" => "dc",
			"label" => "type",
			"source" => proxy
    	},

    	{
			"name" => "edmCountry",
		    "ns" => "edm",
			"label" => "country",
			"source" => euAggregation,
			"href" => (controller.controller_name == 'europeana' ? (search_europeana_url + "?qf[]=COUNTRY:") : nil),
			"capitalise" => true 
    	},    	
    	{
    		"name" => "edmDataProvider",
    		"ns" => "edm",
    		"label" => "data_provider",
    		"source" => aggregation,
    		"href" => (controller.controller_name == 'europeana' ? (search_europeana_url + "?qf[]=DATA_PROVIDER:") : nil),
    	},
    	{
			"name" => "edmLanguage",
		    "ns" => "edm",
			"label" => "language",
			"source" => euAggregation,
			"href" => (controller.controller_name == 'europeana' ? (search_europeana_url + "?qf[]=LANGUAGE:") : nil),
			"href" => home_url + '/europeana/search?qf[]=LANGUAGE:',
			"expand" => 'languageLabel(readVal)'
    	},                
    	{
    		"name" => "edmProvider",
            "ns" => "edm",
    		"label" => "provider",
    		"source" => aggregation,
    		"href" => (controller.controller_name == 'europeana' ? (search_europeana_url + "?qf[]=PROVIDER:") : nil),
    	},
    	{
    		"name" => "edmProvider",
    		"name2" => "edmIsShownAt",
    		"ns" => "edm",
    		"label" => "partner_site",
    		"source" => aggregation,
    		"target" => "_new"
    	},
    	{
    		"name" => "edmRights",
       		"ns" => "edm", 		
    		"label" => "rights",
    		"source" => aggregation,
    		"target" => "_new",
    		"rights" => "true",
  			"expand" => 'rightsLabel(readVal)'    		
    	}    	
   ]

%>

  
  <%- edmVals.each do |edmVal| -%>
    
	<%- if readVal = edm_proxy_field(edmVal["source"], edmVal["name"]) -%>

	    <%- if edmVal["name2"] -%>
			<%- name2 = edm_proxy_field(edmVal["source"], edmVal["name2"]) -%>
	        <%- next if !name2 -%>
     	<% end -%>

	    <%- if edmVal["capitalise"] -%>	    
	      <%- readVal = readVal.split(' ').map {|w| w.capitalize }.join(' ') -%>
     	<% end -%>

	    <%- if edmVal["href"] ||  edmVal["name2"] ||  edmVal["rights"]  -%>
	      <%- if edmVal["name2"] -%>
		      <%- href = name2 -%>
	      <%- elsif edmVal["rights"] -%>
		      <%- href = readVal -%>
	      <%- else -%>
		      <%- href = edm_proxy_field(edmVal["source"], edmVal["name"]) -%>
		      <%- href = href.index(' ') ? href.clone.gsub!(' ', '+') : href -%>
		      <%- href = edmVal["href"] + href -%>
          <%- end -%>
          
	      <%- readVal = edmVal["expand"] ? eval(edmVal["expand"]) : readVal -%>
	      <%- readVal = edmVal["rights"] ? '<span class="icon-copyright"> ' + readVal + '</span>'  : readVal -%>
	      <%- readVal = ('<a href="' + href + '"' +  (edmVal["target"] ? ' target="' + edmVal["target"] + '"' : ' ')   + '>' + readVal + '</a>').html_safe -%>
     	<% end -%>
	
		<dt><b><%= t('formtastic.labels.content.metadata.' + edmVal["ns"] + '.' + edmVal["label"]) -%></b></dt>
		<dd>
			<%= readVal %>
		</dd>
	<% end -%>
    
  <%- end -%>

