<% @title = t 'views.home.heading' %>
  
  <% @javascripts[:flowplayer] = true -%>
  
  <ul class="link-buttons">
	<li><%= link_to( t('common.links.add_your_story'), page_path('contributor') ) %></li>
	<li><%= link_to( t('common.links.explore_stories'), page_path('explore') ) %></li>
	<li><%= link_to( t('common.menus.main.about'), page_path('about') ) %></li>
  </ul>
  
  <div class="news-item">
	
	<h2><%= t('common.news_item.heading') %></h2>
	  
	  <%= render :partial => 'news_item', :locals => { :locale => I18n.locale } %>
	  <p>&nbsp;</p>
	  <p><%= raw t( 'common.editors_pick.more_stories', :explore_stories => link_to( t( 'common.links.explore_stories' ), page_path('explore') ) ) %></p>
  
  </div>


  <h2><%= raw t('views.home.otto.heading') %></h2>
  
	<div class="film-highlight">
	
	  <a href="<%= video_path('OttoBernard-FakePassport-English.flv') %>" id="player" class="flowplayer"><%= image_tag 'Europeana_Appeal_English_WebPurposes _WPlay.jpg' %></a>
	  
	</div>
	
	<div class="text-highlight">
	  
	  <p><%= raw t( 'views.home.otto.p1', :add_your_story => link_to( t( 'common.links.add_your_story' ), contributor_dashboard_path ) ) %></p>
	
	</div>
	
	