<% @title = 'World War One in pictures, letters and memories' %>
<% @javascripts[:flowplayer] = true -%>

<p><strong>Do you have pictures, letters, postcards, souvenirs or other items from 1914-1918? Do you have a story or anecdote to tell about those involved or affected? Please add it to the online archive so the world can see it. Our <%= link_to 'step-by-step video guide', page_path('help/demo') %> will help.</strong></p>
<p>The <em>Europeana&nbsp;1914-1918</em> project is managed and coordinated by <a href="http://www.europeana.eu/">Europeana</a>, Europe's digital archive, library and museum and <a href="http://www.ox.ac.uk/">Oxford&nbsp;University</a>.</p>

<ul class="link-buttons">
  <li><a href="/en/contributor">Add to the archive</a></li>
	<li><a href="/en/browse">Explore the archive</a></li>
	<li><a href="/en/about">About us</a></li>
</ul>
	

<div class="news-item">
  <h2>New Family History Roadshows</h2>
  <%= render :partial => 'news_item', :locals => { :locale => I18n.locale } %>

<p>&nbsp;</p>

<p><strong>More stories on the <%= link_to 'Explore the archive', page_path('browse') %> page.</strong></p>
</div>

<h2>Otto and Bernard</h2>

<div class="film-highlight">

  <a href="<%= video_path('OttoBernard-FakePassport-English.flv') %>" id="player" class="flowplayer"><%= image_tag 'Europeana_Appeal_English_WebPurposes _WPlay.jpg' %></a>
  <script type="text/javascript">
    flowplayer("player", "<%= javascript_path("flowplayer/flowplayer-3.2.7.swf") %>");
  </script>
</div>


<!--<object type="application/x-shockwave-flash" width="425" height="355" wmode="transparent" data="http://dev.europeana.eu/objects/flvplayer.swf?file=Europeana-master.flv&amp;autoStart=FALSE"><param name="movie" value="http://dev.europeana.eu/objects/flvplayer.swf?file=Europeana-master.flv&amp;autoStart=false" /><param name="wmode" value="transparent" /></object>-->

<div class="text-highlight"><p>If you have more information about Otto Arndt, please <%= link_to 'Add to the archive', contributor_dashboard_path %> and share it with us.</p></div>

<!--

<% if current_user.may_search_contributions? -%>
  <%= render :partial => '/shared/search_form', :locals => { :query => @query } %>
<% end -%>
-->
