<% @title = '100 Jahre Erster Weltkrieg' %>
<% @javascripts[:flowplayer] = true -%>

<p><em>Europeana 1914-1918</em> (Erster Weltkrieg in Alltagsdokumenten)  sammelt momentan Dokumente, die aus Deutschland stammen oder einen Bezug zu Deutschland aufweisen.</p>

<p><strong>Haben Sie Erinnerungsstücke aus dem Ersten Weltkrieg? Briefe, Fotografien, Tagebücher, Tonaufnahmen oder Filme?Haben Sie eine Geschichte oder Anekdote über jemanden zu erzählen, der vom Ersten Weltkrieg betroffen war? Unterstützen Sie das Projekt beim Aufbau einer virtuellen Sammlung zum Ersten Weltkrieg. Unser <%= link_to 'Videoguide', page_path('help/demo') %> wird Ihnen Schritt für Schritt dabei helfen.</strong></p>

<p>Das <em>Europeana 1914-1918</em> Projekt wird koordiniert durch die folgenden Institutionen: <a href="http://www.europeana.eu/">Europeana</a>, Europas digitale Archive, Bibliotheken und Museen, <a href="http://www.ox.ac.uk/">Oxford University</a> und die <a href="http://www.d-nb.de/">Deutsche Nationalbibliothek</a>.</p>

<ul class="link-buttons">
  <li><a href="/de/contributor" class="button">Mitmachen</a></li>
  <li><a href="/de/browse" class="button">Ansehen</a></li>
  <li><a href="/de/about" class="button">Über uns</a></li>
</ul>

<div class="editors-pick">
  <h2>Editor's pick</h2>
  <%= render :partial => 'editors_pick', :locals => { :locale => 'de' } %>
  <p>&nbsp;</p>

  <p><strong>Lesen Sie mehr über besondere Stücke unter <%= link_to 'Ansehen', page_path('browse') %>.</strong></p>
</div>

<h2>Otto und Bernard</h2>

<div class="film-highlight">

  <a href="<%= video_path('OttoBernard-FakePassport-German.flv') %>" id="player" class="flowplayer"><%= image_tag 'Europeana_Appeal_German_WebPurposes_WPlay.jpg' %></a>
  <script type="text/javascript">
    flowplayer("player", "<%= javascript_path("flowplayer/flowplayer-3.2.7.swf") %>");
  </script>
</div>

<div class="text-highlight"><p>Wenn Sie mehr Informationen über Otto Arndt haben, machen Sie mit und teilen Sie sie mit uns.
 <%= link_to 'Mitmachen', contributor_dashboard_path %>.</p></div>
