<%
  provide :title, collection_day_summary(@collection_day)
  provide :javascripts_page, 'collection-days-show'
  provide :javascripts_europeana_leaflet, true
%>

<div class="section top">

  <h2><%= yield :title %></h2>

  <% if current_user.may_administer_metadata_fields? -%>
    <div class="action-links">
      <ul>
        <li><%= link_to t('actions.edit'), edit_admin_collection_day_path(@collection_day, :redirect => collection_day_path(@collection_day)) %></li>
      </ul>
    </div>
  <% end -%>

  <% if @collection_day.image.present? -%>
    <div class="collection-day-image"><%= image_tag(@collection_day.image.url(:medium)) %></div>
  <% end -%>
  <% unless @collection_day.description.blank? -%>
    <p><%= @collection_day.description %></p>
  <% end -%>
  <p><%= link_to @collection_day.url, @collection_day.url %></p>
  <p><%= @collection_day.contact.full_name %></p>
  <p><address>
    <%= @collection_day.contact.street_address %><br />
    <%= @collection_day.contact.locality %><br />
    <% unless @collection_day.contact.region.blank? -%>
      <%= @collection_day.contact.region %><br />
    <% end -%>
    <%= @collection_day.contact.postal_code %><br />
    <%= @collection_day.contact.country %>
  </address></p>
  <p><%= link_to t('activerecord.models.contribution').pluralize, explore_collection_path('collection_day', @collection_day.code, :qf => { :index => 'c' }) %></p>
  <% if @collection_day.map_latlng.present? -%>
    <% provide :map_latlng, @collection_day.map_latlng -%>
    <div class="col-cell">
      <div id="map-container">
        <div id="map"></div>
      </div>
    </div>
  <% end -%>
  <% if @collection_day.map_zoom.present? -%>
    <% provide :map_zoom, @collection_day.map_zoom.to_s -%>
  <% end -%>

</div>
