<div id='footer' class='section'>
  <ul id='navigation-footer' class='menu'>
    <li><a href='/<%= I18n.locale%>/about/terms'><%= t('views.about.terms.heading') %></a></li>
    <li><%= link_to t('common.links.statistics'), statistics_path %></li>
    <li><a href='/<%= I18n.locale %>/contact'><%= t('common.links.contact_us') %></a></li>
    <li><a href='/<%= I18n.locale %>/about'><%= t('common.menus.main.about') %></a></li>
    <li class='last-child'><%= t('common.labels.co_funded') %> <img src='<%= image_path("europeana-theme/application/eu-flag.gif") %>' alt='European Union Flag' width='20' height='14' /></li>
  </ul>
</div>