<% @javascripts[:collapsible] = true %>
<% @javascripts[:language_other] = true %>
<% collapsible_class = (current_user.role.name == 'cataloguer' ? 'collapsible' : 'collapsed') %>

<%= semantic_form_for contribution do |form| %>
  <%= form.inputs :story_basics do %>
    <%= form.input :title, :hint => raw('<span class="mandatory">'+ t('common.help_text.mandatory') + '</span>' + t('formtastic.hints.contribution.title')) %>
    <%= form.semantic_fields_for :metadata do |metadata| %>
       <%= render :partial => '/metadata_records/form_fields', :locals => { :form => metadata, :type => :contribution, :field_options => { :name => [ 'description', 'lang', 'lang_other', 'contributor_behalf' ], :cataloguing => false, :contribution => true } } %>
    <% end %>
  <% end %>
  
  <p>&nbsp;</p>
  <p><%= t('views.contributions.story.help_text.sections') %></p>
  
  <fieldset class="<%= collapsible_class %>">
    <legend><%= t 'formtastic.titles.story_characters' %></legend>
    <p><%= t('views.contributions.story.labels.people') %></p>
    <%= form.inputs :story_character1 do %>
      <%= form.semantic_fields_for :metadata do |metadata| %>
         <%= render :partial => '/metadata_records/form_fields', :locals => { :form => metadata, :type => :contribution, :field_options => { :name => [ 'character1_family_name', 'character1_given_name' ], :cataloguing => false, :contribution => true } } %>
      <% end %>
    <% end %>
    <%= form.inputs :story_character2 do %>
      <%= form.semantic_fields_for :metadata do |metadata| %>
         <%= render :partial => '/metadata_records/form_fields', :locals => { :form => metadata, :type => :contribution, :field_options => { :name => [ 'character2_family_name', 'character2_given_name' ], :cataloguing => false, :contribution => true } } %>
      <% end %>
    <% end %>
  </fieldset>
  
  <%= form.inputs :story_dates, :class => collapsible_class do %>
    <%= form.semantic_fields_for :metadata do |metadata| %>
       <%= render :partial => '/metadata_records/form_fields', :locals => { :form => metadata, :type => :contribution, :field_options => { :name => [ 'date_from', 'date_to' ], :cataloguing => false, :contribution => true } } %>
    <% end %>
  <% end %>
  
  <%= form.inputs :story_location, :class => collapsible_class do %>
    <%= form.semantic_fields_for :metadata do |metadata| %>
       <%= render :partial => '/metadata_records/form_fields', :locals => { :form => metadata, :type => :contribution, :field_options => { :name => [ 'location_placename', 'location_map' ], :cataloguing => false, :contribution => true } } %>
    <% end %>
  <% end %>
  
  <%= form.inputs :story_keywords, :class => collapsible_class do %>
    <%= form.semantic_fields_for :metadata do |metadata| %>
       <%= render :partial => '/metadata_records/form_fields', :locals => { :form => metadata, :type => :contribution, :field_options => { :name => [ 'keywords' ], :cataloguing => false, :contribution => true } } %>
    <% end %>
  <% end %>
  
  <%= form.inputs :story_front, :class => collapsible_class do %>
    <%= form.semantic_fields_for :metadata do |metadata| %>
       <%= render :partial => '/metadata_records/form_fields', :locals => { :form => metadata, :type => :contribution, :field_options => { :name => [ 'theatres' ], :cataloguing => false, :contribution => true } } %>
    <% end %>
  <% end %>
  
  <%- if current_user.may_catalogue_contribution?(contribution) -%>
    <%= form.inputs :cataloguing_metadata, :class => collapsible_class do %>
      <%= form.semantic_fields_for :metadata do |metadata| %>
        <%= render :partial => '/metadata_records/form_fields', :locals => { :form => metadata, :type => :contribution, :field_options => { :name => [ 'forces', 'editor_pick', 'cataloguer', 'collection_day', 'notes' ], :cataloguing => true, :contribution => true } } %>
      <% end %>
    <% end %>
  <%- end -%>
  
  <%= form.buttons do %>
    <li><%= redirect_field %></li>
    <%= form.commit_button :label => (form.object.submitted? ? t('formtastic.actions.contribution.update') : t('formtastic.actions.contribution.save_draft')) %>
    <li><%= t('views.contributions.story.help_text.save_story') %></li>
  <% end %>
<% end %>

