<%= will_paginate contributions %>
<table class="search-results">
  <caption><%= local_assigns[:query].present? ? t('views.contributions.search.captions.matching', :query => query) : t('views.contributions.search.captions.all') %></caption>
  <tr>
    <th scope="col"><%= t('common.captions.preview') %></th>
    <th scope="col"><%= t('common.captions.title') %></th>
    <th scope="col"><%= t('common.captions.contributor') %></th>
    <%- for field in listing_fields -%>
      <th scope="col"><%= field.title %></th>
    <%- end -%>
  </tr>
  <%- for contribution in contributions.each -%>
    <tr>
      <td>
        <%- if contribution.attachments.present? -%>
          <%= link_to attachment_preview(contribution.attachments.first), contribution, :title => t('views.contributions.search.links.titles.show_contribution') %>
        <%- end -%>
      </td>
      <td><%= link_to contribution.title, contribution, :title => t('views.contributions.search.links.titles.show_contribution') %></td>
      <td><%= contact_name(contribution.contact) %></td>
      <%- for field in listing_fields -%>
        <td><%= metadata_record_field_value(contribution.metadata, field) %></td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>
<%= will_paginate contributions %>
