<% collapsible_class = 'collapsible' %>

<%= semantic_form_for contribution, :url => submit_contribution_path(contribution) do |form| %>

  <%= form.inputs :submit, :id => 'submit', :class => collapsible_class do %>
  
    <%= form.input :terms, :as => :boolean, :label => ( raw t( 'views.register.terms.accept', :terms => link_to( t('views.register.terms.terms'), :anchor => 'terms-conditions', :id => 'terms-conditions' ) ) ) %>
    
    <div id="terms-of-use">
      <%= render :partial => 'devise/registrations/terms' %>
    </div>
    
    <p><%= raw t('views.contributions.digital_object.help_text.submit_contribution2') %></p>
    
    <%= form.buttons do %>
      <%=
        form.commit_button :label => t('formtastic.actions.contribution.submit'),
        :button_html => {
          :confirm => t('views.contributions.show.button_confirm')
        }
      %>
    <%- end %>
    
  <% end %>
  
<%- end %>
