<table class="member-record">
  <caption><%= t('views.contributions._summary.caption') %></caption>
  <tr>
    <th scope="row"><%= t('attributes.title') %></th>
    <td>
      <%= contribution_title(contribution) %>
      <%- if !contribution.valid? %>
        <%= inline_errors_for(contribution, :title, { :content_tag => :div } ) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th scope="row"><%= t('activerecord.attributes.contribution.contributor') %></th>
    <td>
      <%- if current_user.may_administer_users? -%>
        <%- if contribution.by_guest? -%>
          <%= link_to contact_name(contribution.contact), edit_contact_path(contribution.contact, :redirect => request_uri) %> (guest)
        <%- else -%>
          <%= link_to contact_name(contribution.contact), admin_user_path(contribution.contributor) %>        
        <% end -%>
      <%- else -%>
        <%= contact_name(contribution.contact) %>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th scope="row"><%= t('views.contributions.status.label') %></th>
    <td>
      <%= contribution_status(contribution) %>
      <%- if current_user.may_view_contribution_status_log?(contribution) -%>
        <br /><%= current_page?(status_contribution_path(contribution)) ? '' : link_to( t('views.contributions.status.title'), status_contribution_path(contribution) ) %>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th scope="row"><%= t('activerecord.attributes.contribution.created_at') %></th>
    <td><%= l contribution.created_at, :format => :short %></td>
  </tr>
  <%- if current_user.may_catalogue_contributions? -%>
    <tr>
      <th scope="row"><%= t('activerecord.attributes.contribution.catalogued_by') %></th>
      <td><%= contribution.cataloguer.present? ? contribution.cataloguer.contact.full_name : '' %></td>
    </tr>
  <%- end -%>
</table>
