<% @title = t('views.contributions.story.step1') %>

<% if current_user.may_delete_contribution?(@contribution) -%>
    <ul class="action-links">
      
      <li><%= link_to t('formtastic.actions.contribution.delete'), delete_contribution_path(@contribution) %></li>
      <li><%= link_to t('formtastic.actions.attachment.add_edit'), ( new_contribution_attachment_path(@contribution, :anchor => 'attachments', :anchor => 'attachments')) %> (<%= @contribution.attachments.size %>)</li>
      
    </ul>
<% end -%>

<%= render :partial => 'form', :locals => { :contribution => @contribution } %>

<% if @contribution.draft? -%>
  <%= render :partial => 'progress', :locals => { :step => 1 } %>
<% end -%>
