<% @title = t('views.contributions.show.title') %>

<%= render :partial => 'summary', :locals => { :contribution => @contribution } %>

<%= render :partial => '/metadata_records/table', :locals => { :metadata => @contribution.metadata, :field_options => { :cataloguing => false, :contribution => true } } %>

<% if current_user.may_catalogue_contribution?(@contribution) -%>
  <%= render :partial => '/metadata_records/table', :locals => { :metadata => @contribution.metadata, :field_options => { :cataloguing => true, :contribution => true } } %>
<% end -%>

<% if @contribution.attachments.present? -%>
  <%= render :partial => '/attachments/table', :locals => { :attachments => @contribution.attachments } %>
  <%- if current_user.may_create_contribution_attachment?(@contribution) %>
    <div><h3><%= link_to t('views.contributions.show.links.new_attachment'), new_contribution_attachment_path(@contribution), :class => 'attachment' %></h3></div>
  <%- end -%>
<% else -%>
  <%- if current_user.may_create_contribution_attachment?(@contribution) %>
    <p><%= t('views.contributions.show.empty_attachments') %> <%= link_to t('views.contributions.show.links.new_attachment'), new_contribution_attachment_path(@contribution), :class => 'attachment' %></p>
  <%- else %>
    <p><%= t('views.contributions.show.empty_attachments') %></p>
  <%- end %>
<% end -%>

<% if @contribution.draft? -%>
  <%= render :partial => 'submit_form', :locals => { :contribution => @contribution } %>
<% end -%>

<% if current_user.may_edit_contribution?(@contribution) || current_user.may_delete_contribution?(@contribution) || current_user.may_approve_contributions? -%>
  <div class="action-links">
    <ul>
      <% if current_user.may_edit_contribution?(@contribution) %>
        <% if @contribution.draft? %>
          <%= form_previous_step_link edit_contribution_path(@contribution) %>
        <% end %>
        <li><%= link_to t('actions.edit'), edit_contribution_path(@contribution) %></li>
      <% end %>
      <% if current_user.may_edit_contribution?(@contribution) %><li><%= link_to t('actions.delete'), delete_contribution_path(@contribution) %></li><% end %>
      <%- if current_user.may_approve_contributions? && @contribution.submitted? && !@contribution.approved? %>
        <li><%= button_to t('actions.approve'), approve_contribution_path(@contribution), :method => :put %></li>
      <%- end %>
    </ul>
  </div>
<% end -%>

<% if @contribution.draft? && current_user.may_edit_contribution?(@contribution) -%>
  <%#= render :partial => 'progress', :locals => { :step => 4 } %>
<% end -%>
