<ul id="navigation-user" class="menu">
  <%- if current_user.role.name != 'guest' -%>
    <li class="username"><%= current_user.email %></li>
  <%- end -%>
  <li class="lang-item">
    <%= form_tag do %>
      <%= select_tag 'dd_lang', options_for_select([ [ t('common.menus.main.select_language'), '' ] ] + configuration(:ui_locales).collect { |locale| [ t('locale', :locale => locale), url_for(url_options.merge({:locale => locale})) ] }.sort { |a, b| a.first <=> b.first }, ''), { :onchange => "if (this.options[selectedIndex].value != '') window.location = this.options[selectedIndex].value" } %>
    <% end %>
  </li>
  <%- if current_user.role.name == 'guest' -%>
    <li><a href="<%= page_path('users/sign-in') %>"><%= t('common.menus.main.sign_in') %></a></li>
    <li><a href="<%= page_path('users/register') %>"><%= t('common.links.register') %></a></li>
  <%- end -%>
</ul>
<% if current_user.role.name != 'guest' -%>
  <ul id="navigation-user-menu" class="menu">
    <li><%= link_to (t('common.links.my_stories') + '<span class="underline"></span>').html_safe, contributor_dashboard_path %></li>
    <li><%= link_to (t('common.links.my_account') + '<span class="underline"></span>').html_safe, user_account_path %></li>
    <%- if current_user.may_access_admin_area? -%>
    <li><%= link_to (t('layout.navigation.admin') + '<span class="underline"></span>').html_safe, admin_root_path %></li>
    <% end %>
    <li class="log-out"><a href="<%= page_path('users/sign-out') %>"><%= t('common.menus.main.sign_out') %> <span class="underline"></span></a></li>
  </ul>
<%- end -%>
