<%
if local_assigns[:caption].nil?
  caption = Contact.model_name.human
end
if local_assigns[:email].nil?
  email = true
end
%>
<table class="member-record">
  <caption><%= caption %></caption>
  <tbody title="<%= t('formtastic.titles.contact_name') %>">
    <tr>
      <th scope="row"><%= Contact.human_attribute_name(:full_name) %></th>
      <td><%= contact.full_name %></td>
    </tr>
    <tr>
      <th scope="row"><%= Contact.human_attribute_name(:age) %></th>
      <td><%= contact.age %></td>
    </tr>
    <tr>
      <th scope="row"><%= Contact.human_attribute_name(:gender) %></th>
      <td><%= { t('activerecord.options.contact.gender.female') => 'F', t('activerecord.options.contact.gender.male') => 'M' }.index(contact.gender) %></td>
    </tr>
  </tbody>
  <tbody title="<%= t('formtastic.titles.contact_address') %>">
    <tr>
      <th scope="row"><%= Contact.human_attribute_name(:street_address) %></th>
      <td class="pre-formatted"><%= contact.street_address %></td>
    </tr>
    <tr>
      <th scope="row"><%= Contact.human_attribute_name(:locality) %></th>
      <td><%= contact.locality %></td>
    </tr>
    <tr>
      <th scope="row"><%= Contact.human_attribute_name(:region) %></th>
      <td><%= contact.region %></td>
    </tr>
    <tr>
      <th scope="row"><%= Contact.human_attribute_name(:postal_code) %></th>
      <td><%= contact.postal_code %></td>
    </tr>
    <tr>
      <th scope="row"><%= Contact.human_attribute_name(:country) %></th>
      <td><%= contact.country %></td>
    </tr>
  </tbody>
  <tbody title="<%= t('formtastic.titles.contact_other') %>">
    <tr>
      <th scope="row"><%= Contact.human_attribute_name(:tel) %></th>
      <td><%= contact.tel %></td>
    </tr>
    <%- if email %>
      <tr>
        <th scope="row"><%= Contact.human_attribute_name(:email) %></th>
        <td><%= contact.email %></td>
      </tr>
    <%- end %>
  </tbody>
  <%- if contact.user.present? -%>
    <tr>
      <th scope="row"><%= t('views.register.labels.profile_photo') %></th>
      <td>
        <%- if contact.user.picture.present? -%><%= image_tag(contact.user.picture.url(:thumb)) %><%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>
