<li>
  <h3><%= link_to facet_label("provider"), '', :class => "facet-section icon-arrow-7", :rel => "nofollow" %></h3>
  <ul>
    <%- for provider in [ 'contributions', 'europeana' ] -%>
      <li>
        <h4>
          <%- if controller.controller_name == provider -%>
            <%= radio_button_tag "provider", provider, true %>
            <%= search_provider_name(provider) %>
          <%- else -%>
            <%= radio_button_tag "provider", provider %>
            <%= link_to_search_provider(provider) %>
          <%- end -%>
        </h4>
      </li>
    <%- end -%>
  </ul>
</li>

<% unless facets.blank? -%>

  <%- for facet in facets -%>
  
    <%# @todo Normalize the two facet types below %>
  
    <%- if facet.respond_to? :rows -%><%# UGC facet %>
      
      <%- if facet.rows.present? -%>
      
        <li>
          <h3><%= link_to facet_label(facet.name), '', :class => "facet-section icon-arrow-7", :rel => "nofollow" %></h3>
          <ul>
            <%- for row in facet.rows -%>
              <li>
                <h4>
                  <%- if facet_row_selected?(facet.name, row.value) -%>
                    <%= check_box_tag "facets[#{facet.name}][]", row.value, true %>
                    <strong><%= facet_row_label(facet.name, row.value) %></strong>
                    <%= link_to image_tag('style/icons/cancel.png', :alt => t('actions.remove')), remove_facet_row_url_options(facet.name, row.value), { :title => t('actions.remove') } %>
                  <%- else -%>
                    <%= check_box_tag "facets[#{facet.name}][]", row.value %>
                    <%= link_to_facet_row(facet.name, row.value) %> (<%= row.count %>)
                  <%- end -%>
                </h4>
              </li>
            <%- end -%>
          </ul>
        </li>
        
      <%- end -%>
      
    <%- else -%><%# Europeana facet %>
      
      <li>
        <h3><%= link_to facet['name'], '', :class => "facet-section icon-arrow-7", :rel => "nofollow" %></h3>
        <ul>
          <%- for row in facet['fields'] -%>
            <li>
              <h4>
                <%- if facet_row_selected?(facet['name'], row['label']) -%>
                  <%= check_box_tag "facets[#{facet['name']}][]", row['label'], true %>
                  <strong><%= row['label'] %></strong>
                  <%= link_to image_tag('style/icons/cancel.png', :alt => t('actions.remove')), remove_facet_row_url_options(facet['name'], row['label']), { :title => t('actions.remove') } %>
                <%- else -%>
                  <%= check_box_tag "facets[#{facet['name']}][]", row['label'] %>
                  <%= link_to_facet_row(facet['name'], row['label']) %> (<%= row['count'] %>)
                <%- end -%>
              </h4>
            </li>
          <%- end -%>
        </ul>
      </li>
    
    <%- end -%>
  
  <%- end -%>
  
<% end -%>
