<li>
  <h3><%= link_to t("views.search.facets.contributions.provider"), '', :class => "facet-section icon-arrow-7", :rel => "nofollow" %></h3>
  <ul>
    <%- for provider in [ '/contributions', '/europeana', '/federated_search/digitalnz', '/federated_search/dpla', '/federated_search/trove' ] -%>
      <%- if search_provider_link = link_to_search_provider(provider) -%>
        <li>
          <h4>
            <%- if controller.controller_name == provider.split("/").last -%>
              <%= radio_button_tag "provider", provider, true %>
              <%= search_provider_name(provider) %>
            <%- else -%>
              <%= radio_button_tag "provider", provider %>
              <%= search_provider_link %>
            <%- end -%>
          </h4>
        </li>
      <%- end -%>
    <%- end -%>
  </ul>
</li>

<% unless facets.blank? -%>

  <%- for facet in facets -%>
  
    <li>
      <h3><%= link_to facet['label'], '', :class => "facet-section icon-arrow-7", :rel => "nofollow" %></h3>
      <ul>
        <%- for row in facet['fields'] -%>
          <li>
            <h4>
              <%- if controller.controller_name == "trove" && facet["name"] == "zone" -%><%# Trove "zone" pseudo-facet %>
                <%- if facet_row_selected?(facet["name"], row["search"]) -%>
                  <%= radio_button_tag "facets[#{facet["name"]}][]", row["search"], true %>
                  <strong><%= row["label"] %></strong>
                <%- else -%>
                  <%= radio_button_tag "facets[#{facet["name"]}][]", row["search"] %>
                  <%= link_to_facet_row(facet["name"], row["search"], row["label"], false) %>
                <%- end -%>
              <%- else -%>
                <%- if facet_row_selected?(facet['name'], row['search']) -%>
                  <%= check_box_tag "facets[#{facet['name']}][]", row['search'], true %>
                  <strong><%= row['label'] %></strong>
                  <%= link_to image_tag('style/icons/cancel.png', :alt => t('actions.remove')), remove_facet_row_url_options(facet['name'], row['search']), { :title => t('actions.remove') } %>
                <%- else -%>
                  <%= check_box_tag "facets[#{facet['name']}][]", row['search'] %>
                  <%= link_to_facet_row(facet['name'], row['search'], row['label']) %> (<%= row['count'] %>)
                <%- end -%>
              <%- end -%>
            </h4>
          </li>
        <%- end -%>
      </ul>
    </li>
  
  <%- end -%>
  
<% end -%>
