<li>
  <h3><%= link_to "Provider", '', :class => "facet-section icon-arrow-7", :rel => "nofollow" %></h3>
  <ul>
    <%- for provider in [ 'contributions', 'europeana' ] -%>
      <li>
        <h4>
          <%= radio_button_tag "facets[provider]", provider, controller.controller_name == provider %>
          <%= link_to_search_provider(provider) %>
        </h4>
      </li>
    <%- end -%>
  </ul>
</li>

<% unless facets.blank? -%>

  <%- for facet in facets %>
  
    <%- if facet.rows.present? -%>
      <li>
        <h3><%= link_to facet_label(facet.name), '', :class => "facet-section icon-arrow-7", :rel => "nofollow" %></h3>
        <ul>
          <%- for row in facet.rows -%>
            <li>
              <h4>
                  <%= check_box_tag "facets[#{facet.name}][#{row.value}]" %>
                  <%= link_to_facet_row(facet.name, row.value) %> (<%= row.count %>)
              </h4>
            </li>
          <%- end -%>
        </ul>
      </li>
    <%- end -%>
  
  <%- end -%>
  
<% end -%>
