<li>
  <h3><%= link_to "Provider", '', :class => "facet-section icon-arrow-7", :rel => "nofollow" %></h3>
  <ul>
    <li>
      <h4>
        <%= radio_button_tag "facets[provider]", "ugc", controller.controller_name == 'contributions' %>
        <%= link_to "1914-1918", request.parameters.merge(:page => 1, :controller => 'contributions', :facets => {}) %>
      </h4
    </li>
    <li>
      <h4>
        <%= radio_button_tag "facets[provider]", "europeana", controller.controller_name == 'europeana' %>
        <%= link_to "Europeana portal", request.parameters.merge(:page => 1, :controller => 'europeana', :facets => {}) %>
      </h4>
    </li>
  </ul>
</li>

<% unless facets.blank? -%>

  <%- for facet in facets %>
  
    <%- if facet.rows.present? -%>
      <li>
        <h3><%= link_to facet_label(facet.name), '', :class => "facet-section icon-arrow-7", :rel => "nofollow" %></h3>
        <ul>
          <%- for row in facet.rows -%>
            <li>
              <h4>
                  <%= check_box_tag "facets[#{facet.name}][#{row.value}]" %>
                  <%= link_to_facet_row(facet.name, row.value) %> (<%= row.count %>)
              </h4>
            </li>
          <%- end -%>
        </ul>
      </li>
    <%- end -%>
  
  <%- end -%>
  
<% end -%>
