<% if results.size == 0 -%>

  <p><%= t('views.contributions.search.no_matches') %></p>

<% else -%>

  <%= will_paginate results, { :class => "nav nav-top" } %>

  <div id="result-tabs" class="accordion-tabs">


    <%- for provider in [ '/contributions', '/europeana', '/federated_search/digitalnz', '/federated_search/dpla', '/federated_search/trove' ] -%>
      <%- if search_provider_link = link_to_search_provider(provider) -%>

        <%- if controller.controller_name == provider.split("/").last -%>
          <a class="tab-header active" data-stem="<%= provider.split("/").last %>" href="<%= search_provider_href(provider) %>"><%= search_provider_name(provider) %></a>
          <div class="section active">

            <div class="content">
            
              <div class="results">
                <ul class="stories"><% @results.each_with_index do |result, index| %><li class="<%= 'col-' + ((index+1) % 2 == 0 ? 'even' : 'odd').to_s %> <%= 'col-' + ((index % 3) + 1).to_s %>"><span class="story">
                  <%- cache search_result_fragment_key(result), :expires_in => (@contribution ? nil : 1.day) do -%>
                    <%- record = search_result_to_edm(result) -%>
                    <%- title = record['title'].blank? ? '' : record['title'].first -%>
                    
                    
                    <a href="<%= local_edm_record_path(record['guid']) %>" title="<%= title %>">
                      <%- if edm_preview = search_result_preview(record) -%>
                        <%= edm_preview %><br />
                      <%- end -%>
                      <%- unless title.blank? -%>
                        <b class="story-title"><%= title %></b>
                      <%- end -%>
                      <%- unless record['dcCreator'].blank? -%>
                        <br/><span class="story-creator"><%= record['dcCreator'].first %></span>
                      <%- end -%>
                      <%- unless record['year'].blank? -%>
                        <%- if record['year'].size == 2 -%>
                          <br/><%= record['year'].first %>&ndash;<%= record['year'].last %>
                        <%- else -%>
                          <%- record['year'].each do |field_value| -%>
                            <br/><%= field_value %>
                          <%- end -%>
                        <%- end -%>
                      <%- end -%>
                      <%- [ 'dctermsAlternative', 'dataProvider', 'provider' ].each do |field_name| -%>
                        <%- unless record[field_name].blank? -%>
                          <%- record[field_name].each do |field_value| -%>
                            <span class="story-provider"><%= field_value %></span>
                          <%- end -%>
                        <%- end -%>
                      <%- end -%>
                    </a>
                    
                    
                    
                  <%- end -%>
                </span></li><%- end -%></ul>
              </div>
            </div>


          </div>

        <%- else -%>
        
          <a class="tab-header" data-stem="<%= provider.split("/").last %>" href="<%= search_provider_href(provider) %>"><%= search_provider_name(provider) %></a>
          <div class="section">
            <div class="content">
            
              <div class="results">
                <ul class="stories"></ul>
              </div>
            
            </div>
          </div>

        
        <%- end -%>


    <%- end -%>
  <%- end -%>

    </div>


    </div>
<!-- 

-->
    
  <%= will_paginate results, { :class => "nav nav-bottom" } %>

<% end -%>
