<% if results.size == 0 -%>

  <p><%= t('views.contributions.search.no_matches') %></p>

<% else -%>

  <%= raw will_paginate results, { :class => "nav nav-top" } %>

  <div id="results">

    <ul class="stories">
      <%- for result in results -%>
        <li>
          <%- cache search_result_fragment_key(result) do -%>
            <%- record = search_result_to_edm(result) -%>
            <%- title = record['title'].blank? ? '' : record['title'].first -%>
            <a href="<%= record['link'] %>" title="<%= title %>">
              <%- if edm_preview = search_result_preview(record) -%>
                <%= edm_preview %><br />
              <%- end -%>
              <%- unless title.blank? -%>
                <b><%= title %></b>
              <%- end -%>
              <%- unless record['dcCreator'].blank? -%>
                <br/><%= record['dcCreator'] %>
              <%- end -%>
              <%- unless record['year'].blank? -%>
                <%- if record['year'].size == 2 -%>
                  <br/><%= record['year'].first %>&ndash;<%= record['year'].last %>
                <%- else -%>
                  <%- record['year'].each do |field_value| -%>
                    <br/><%= field_value %>
                  <%- end -%>
                <%- end -%>
              <%- end -%>
              <%- [ 'dctermsAlternative', 'dataProvider', 'provider' ].each do |field_name| -%>
                <%- unless record[field_name].blank? -%>
                  <%- record[field_name].each do |field_value| -%>
                    <br/><%= field_value %>
                  <%- end -%>
                <%- end -%>
              <%- end -%>
            </a>
          <%- end -%>
        </li>
      <%- end -%>
    </ul>
  
  </div>
    
  <%= raw will_paginate results, { :class => "nav nav-bottom" } %>

<% end -%>
