<%
  @javascripts[:autocomplete] = true
  @javascripts[:masonry] = true
  @javascripts[:search] = true
  @title = t('views.contributions.search.heading')
  @stylesheets['search'] = true 
%>


<div class="container">

  <nav class="off-canvas-navigation">
    <ul>
      <li class="menu-item"><a href="#facet-menu" class="menu-button">Menu</a></li>    
    </ul>
  </nav>
    
  <div role="navigation" id="facet-menu">
    <div id="facets-actions" class="shadow-panel">
    
      <%= form_tag( {}, { :method => :get }) do %>
      
        <div>
          <%= hidden_field_tag 'q', @query %>
          <%= hidden_field_tag 'count', @count %>
        </div>
             
        <ul id="facets">  
          
          <li>
            <h3>
              <%= t('views.contributions.search.facets.refine' ) %>
            </h3>
              
            <div class="keywords h-flex-container">
              <input id="newKeyword" type="text" name="qf" class="h-flex-fill"/>
              <span class="h-flex-fixed">
                <input type="submit" value="+ Add"/>
              </span>
            </div>
                  
            <span>
              <%= t('views.contributions.search.facets.add_keyword' ) %>
            </span>
          </li>
                
          <%= render :partial => '/search/facets', :object => @facets %>
          
        </ul>
          
        <div><%= submit_tag t('actions.submit'), :name => nil %></div>
        
      <% end %>
        
      <br/>
      <br/>
      <br/>

      <h4>
        <%= t('views.contributions.search.facets.share.label' ) %>
      </h4>

      <div id="shareicons">
        <span class='st_sharethis_large' displayText='Share on Social Media'></span>
          
        <span class="share-label">
          <%= t('views.contributions.search.facets.share.sidetext') %>
        </span>
      </div>
    </div>
  </div>
    

  <section role="main">
    <%=
      render :partial => '/search/results', :locals => {
        :results => @results,
        :query => @query,
        :term => @term
      }
    %>
  </section>

</div>
