<% provide :title, t('views.admin.institutions.delete.title') %>

<p><%= raw t 'views.admin.institutions.delete.question', :name => "<strong>#{@institution.name}</strong>" %></p>

<p><%= raw t 'views.admin.institutions.delete.warning' %></p>

<p><%= t 'views.common.permanent' %></p>

<%= semantic_form_for [ 'admin', @institution ], :html => { :method => :delete } do |form| %>
  <%= form.buttons do %>
    <%= redirect_field %>
    <%= form.commit_button :label => t('formtastic.actions.delete') %>
    <%= form_cancel_link admin_institutions_path %>
  <% end %>
<% end %>

