<%= form_tag({}, { :method => :get }) do %>
<ul id="facets">
  <%- if search_filters_present? -%>
    <li class="filter-section"><%= render :partial => '/search/filters', :locals => { :query => query, :facets => facets } %></li>
  <%- end -%>
  <%- unless facets.blank? -%>
  
    <!-- TODO: translate this -->
  
    <li class="refine-section"><h2>Refine your results:</h2></li>
  
    <%- for facet in facets -%>
    
      <%- if facet['fields'].present? -%>
      
        <li>
          <h3><%= link_to facet['label'], '', :class => "facet-section icon-arrow-7", :rel => "nofollow" %></h3>
          <ul>
            <%- for row in facet['fields'] -%>
              <li>
                <h4>
                  <%- if facet_is_single_select?(facet["name"]) -%><%# Single selection pseudo-facet %>
                    <%- if facet_row_selected?(facet["name"], row["search"]) -%>
                      <%= radio_button_tag "qf[]", "#{facet['name']}:#{row['search']}", true %>
                      <label class="bold"><%= row['label'] %></label>
                    <%- else -%>
                      <%= radio_button_tag "qf[]", "#{facet['name']}:#{row['search']}" %>
                      <%= link_to_facet_row(facet['name'], row['search'], "<label>#{row['label']}</label>".html_safe) %>
                    <%- end -%>
                  <%- else -%>
                  
                    <%# checkboxes -%>
                  
                    <%- if facet_row_selected?(facet['name'], row['search']) -%>
                    
                      <%= check_box_tag "qf[]", "#{facet['name']}:#{row['search']}", true %>
                      <%= link_to_remove_facet_row(facet['name'], row['search'], "<label class=\"bold\">#{row['label']}</label>".html_safe, { :title => t('actions.remove'), :class => 'remove-facet bold' }) %>

                    <%- else -%>
                      
                      <%= check_box_tag "qf[]", "#{facet['name']}:#{row['search']}" %>
                      <%= link_to_facet_row(facet['name'], row['search'], "<label>#{row['label']}</label>".html_safe) %> (<%= row['count'] %>)
                      
                    <%- end -%>
                  <%- end -%>
                </h4>
              </li>
            <%- end -%>
          </ul>
        </li>
      
      <%- end -%>
    
    <%- end -%>
    <%= submit_tag t('actions.submit'), :name => nil, :style => "visibility:hidden" %>
  <%- end -%>
</ul>
<%- end -%>
