  
  <ul class="stories">
	<li class="result-count"><b><%= t('views.contributions.search.matches-for') %></b> <%= query || term %> ( <%= results.total_entries %> results )</li>

    <%- for result in results -%>
      <%- cache search_result_fragment_key(result), :expires_in => (@contribution ? nil : 1.day) do -%>
        <%- record = search_result_to_edm(result) -%>
        <%- title = record['title'].blank? ? '' : record['title'].first -%>
        <li>
          <a href="<%= record['guid'] %>" title="<%= title %>">
            <%- if edm_preview = search_result_preview(record) -%>
              <%= edm_preview %><br />
            <%- end -%>
            <%- unless title.blank? -%>
              <b class="story-title"><%= title %></b>
            <%- end -%>
            <%- unless record['dcCreator'].blank? -%>
              <br/><span class="story-creator"><%= record['dcCreator'].first %></span>
            <%- end -%>
            <%- unless record['year'].blank? -%>
              <%- if record['year'].size == 2 -%>
                <br/><%= record['year'].first %>&ndash;<%= record['year'].last %>
              <%- else -%>
                <%- record['year'].each do |field_value| -%>
                  <br/><%= field_value %>
                <%- end -%>
              <%- end -%>
            <%- end -%>
            <%- [ 'dctermsAlternative', 'dataProvider', 'provider' ].each do |field_name| -%>
              <%- unless record[field_name].blank? -%>
                <%- record[field_name].each do |field_value| -%>
                  <%- if field_value != 'Europeana 1914 - 1918' %>
                    <br/><br/><span class="story-provider"><%= field_value %></span>
                  <%- end %>
                <%- end -%>
              <%- end -%>
            <%- end -%>
          </a>
        </li>
      <%- end %>
    <%- end -%>
  </ul>
  
<%= will_paginate results %>