<%
  @javascripts[:autocomplete] = true
  @javascripts[:masonry] = true
  @javascripts[:search] = true
  @title = t('views.contributions.search.heading')
%>

<%
 
rightsLabels = {
  "http://www.europeana.eu/rights/rr-f/" => "Free Access - Rights Reserved",
  "http://www.europeana.eu/rights/rr-r/" => "Restricted Access - Rights Reserved",
  "http://www.europeana.eu/rights/unknown/" => "Unknown copyright status",
  "http://www.europeana.eu/rights/rr-p/" => "Paid Access - Rights Reserved",

  "http://creativecommons.org/publicdomain/mark/1.0/" => "Public Domain marked",
  "http://creativecommons.org/publicdomain/zero/1.0/" => "CC0",

  "http://creativecommons.org/licenses/by/" => "CC BY",
  "http://creativecommons.org/licenses/by/3.0/" => "CC BY 3.0",
  
  "http://creativecommons.org/licenses/by-sa/" => "CC BY-SA",
  "http://creativecommons.org/licenses/by-sa/3.0" => "CC BY-SA 3.0",
  "http://creativecommons.org/licenses/by-sa/3.0/us/" => "CC BY-SA 3.0 US",
  
  "http://creativecommons.org/licenses/by-nc/" => "CC BY-NC",
  "http://creativecommons.org/licenses/by-nc/2.0/uk/" => "CC BY-NC 2.0 UK",
  "http://creativecommons.org/licenses/by-nc/3.0/pt/" => "CC BY-NC 3.0 PT",
  
  "http://creativecommons.org/licenses/by-nc-nd/" => "CC BY-NC-ND",
  "http://creativecommons.org/licenses/by-nc-nd/1.0/" => "CC BY-ND-NC 1.0",
  "http://creativecommons.org/licenses/by-nc-nd/2.0/uk/" => "CC BY-NC-ND 2.0 UK",
  "http://creativecommons.org/licenses/by-nc-nd/3.0/" => "CC BY-NC-ND 3.0",
  "http://creativecommons.org/licenses/by-nc-nd/3.0/nl/" => "CC BY-NC-ND 3.0 NL",
 
  "http://creativecommons.org/licenses/by-nc-sa/" => "CC BY-NC-SA",
  "http://creativecommons.org/licenses/by-nc-sa/3.0/" => "CC BY-NC-SA 3.0",
  
  "http://creativecommons.org/licenses/by-nd/" => "CC BY-ND",
  "http://creativecommons.org/licenses/by-nd/2.5/" => "CC BY-ND 2.5"
}

%>

<div class="section top">
  
  <h2 class="search-results-title"><%= @title %></h2>
    
  <ul id="results-tabs">
    <%- for provider in [ '/contributions', '/europeana', '/federated_search/digitalnz', '/federated_search/dpla', '/federated_search/trove' ] -%>
      <%- if provider_stem = search_provider_stem(provider) -%>
        <li><%= link_to search_provider_name(provider), search_provider_href(provider), :id => "results-tab-#{provider_stem}", :'data-search-action' => search_provider_href(provider), :'data-content-id' => "#results-#{provider_stem}", :'data-hash' => "##{provider_stem}", :class => (provider_stem == current_search_provider_stem ? 'active' : '') %></li>
      <%- end -%>
    <%- end -%>
  </ul>
  
  <div id="results">
    
    <%- for provider in [ '/contributions', '/europeana', '/federated_search/digitalnz', '/federated_search/dpla', '/federated_search/trove' ] -%>
      <%- provider_stem = search_provider_stem(provider) -%>
      <div id="results-<%= provider_stem %>">
        <%- if provider_stem == current_search_provider_stem -%>
          <% if @results.size == 0 -%>
            <p><%= t('views.contributions.search.no_matches') %></p>
          <% else -%>
            <div id="results-items">
              <%=
              render :partial => '/search/results',
                :locals => {
                  :results => @results,
                  :query => @query,
                  :term => @term
                }
              %>
            </div>
            
            <div id="results-facets">
              <%= render :partial => '/search/facets', :object => @facets, :locals => { :query => @query, :provider => provider, :rightsLabels => rightsLabels } %>
            </div>
            
          <% end -%>
        <%- end -%>
      </div>
    <%- end -%>
  
  </div>
  
</div>
