<% provide :title, t('views.admin.users.index.title') %>
<p>Use this page to add new users, to see and edit user details and permissions, or to see all contributions by a particular user.</p>
<ul><li>To add a new user, click 'New user'</li>
<li>To edit user details or change permissions, click on their username and then select 'Edit user account'. </li>
<li>To see all contributions by someone, click on their username and then select 'Contributions'</li></ul>
<%= form_tag admin_users_path, { :method => :get } do %>
  <div>
    <%= hidden_field_tag 'order', @order %>
    <%= hidden_field_tag 'sort', @sort %>
    <%= text_field_tag 'q', @query, :size => 30 %> <%= select_tag 'role', user_role_options_for_select(@role), :title => t('activerecord.attributes.user.role_name') %> <%= submit_tag t('actions.filter'), :name => nil %>
  </div>
<% end %>

<div class="action-links">
<ul>
  <li><%= link_to t('views.admin.users.index.links.new'), new_admin_user_path, :class => 'new-member' %></li>
</ul>
</div>

<% if @users.present? -%>
  <table class="collection-members admins">
    <caption><%= t('views.admin.users.index.caption') %></caption>
    <tr>
      <th scope="col"><%= link_to t('activerecord.attributes.contact.full_name'), admin_users_url(index_params('sort' => 'name')) %></th>
      <th scope="col"><%= link_to t('attributes.username'), admin_users_url(index_params('sort' => 'username')) %></th>
      <th scope="col"><%= link_to t('attributes.email'), admin_users_url(index_params('sort' => 'email')) %></th>
      <th scope="col"><%= link_to t('activerecord.attributes.user.created_at'), admin_users_url(index_params('sort' => 'created_at')) %></th>
      <th scope="col"><%= t 'activerecord.attributes.user.role_name' %></th>
      <th scope="col" colspan="2"><%= t 'views.table.header.actions' %></th>
    </tr>
    <% for user in @users %>
      <tr>
        <td><%= link_to contact_name(user.contact), ['admin', user], :title => t('views.admin.users.index.links.show.title') %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.role.name.titleize %></td>
        <td><%= link_to t('actions.edit'), edit_admin_user_path(user), :class => 'edit-member' %></td>
        <td><%= link_to t('actions.delete'), delete_admin_user_path(user), :class => 'delete-member' %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @users %>
<% else -%>
  <p><%= t 'views.admin.users.index.empty' %></p>
<% end -%>

