<div id="footer">

  <ul class="sitemap">
    
    <li><a href="/<%= I18n.locale%>/about/terms"><%= t('views.about.terms.heading') %></a></li>  
    <li><a href="/<%= I18n.locale %>/contact"><%= t('common.links.contact_us') %></a></li>
    <li><a href="/<%= I18n.locale %>/about#project-partners"><%= t('views.about.project_partners.heading') %></a></li>
    <li><%= t('common.labels.co_funded') %> <img src="/images/europeana-theme/application/eu-flag.gif" alt="European Union Flag" /></li>
    
  </ul>
  
</div>
