<div id="footer">
    
  <ul id="navigation-footer" class="menu">
    
    <li><a href="/<%= I18n.locale%>/about/terms"><%= t('views.about.terms.heading') %></a></li>  
    <li><a href="/<%= I18n.locale %>/contact"><%= t('common.links.contact_us') %></a></li>
    <li><a href="/<%= I18n.locale %>/about"><%= t('common.menus.main.about') %></a></li>
    <li><a href="/<%= I18n.locale %>/about#project-partners"><%= t('views.about.project_partners.heading') %></a></li>
    
  </ul>

  <div id="eu-credit"><%= t('common.labels.co_funded') %> <img src="/images/europeana-theme/application/eu-flag.gif" alt="European Union Flag" width="20" height="14" /></div>
  
</div>
<%= controller.controller_name %><br/>
<%= controller.action_name %><br/>
<%= controller.url_for %>