<ul id="navigation-user" class="menu">
  
  <li>
	
	<%= form_tag do %>
	  <%= select_tag 'dd_lang', options_for_select([ [ 'Select a language', '' ] ] + configuration(:ui_locales).collect { |locale| [ t('locale', :locale => locale), url_for(url_options.merge({:locale => locale})) ] }, ''), { :onchange => "if (this.options[selectedIndex].value != '') window.location = this.options[selectedIndex].value" } %>
	<% end %>
	
  </li>
  
  <% if current_user.role.name == 'guest' %>
	
	<li>
	  <a href="<%= page_path('users/sign-in') %>"><%= t('common.menus.main.sign_in') %></a>
	</li>
	
	<li>
	  <a href="<%= page_path('users/register') %>"><%= t('common.links.register') %></a>
	</li>
  
  <% else %>
	
	<li>
	  <a href="<%= page_path('users/sign-out') %>"><%= t('common.menus.main.sign_out') %></a>
	</li>
	
  <% end %>
  
</ul>
