<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<%= csrf_meta_tag %>
<%= render '/layouts/links' %>
<link rel="icon" href="<%= image_path('favicon.ico') %>" type="image/x-icon" />
<link rel="shortcut icon" href="<%= image_path('favicon.ico') %>" type="image/x-icon" />
<title><%= configuration(:site_name) %><%= @title.nil? ? '' : ' - ' + @title %></title>
</head>
<body>
	
	<%= render '/layouts/header' %>
	
	<div id="content">
		
		<%= flash_message(:alert) unless flash[:alert].blank? %>
		<%= flash_message(:notice) unless flash[:notice].blank? %>
		<%= yield :layout %>
		
	</div>
	
	<%= render '/layouts/footer' %>
	<%= render '/layouts/scripts' %>
	
</body>
</html>