<%
  @javascripts[:page] = 'search'
  content_for :title, t('views.contributions.search.heading')
  @stylesheets['search'] = true 
%>

<script type="text/javascript">
	var rightsLabels   = <%= rightsLabel('', false, true).html_safe %>;
	var languageLabels = <%= languageLabel('', true).html_safe %>;
</script>

<div class="container">

  <nav class="off-canvas-navigation">
    <ul>
      <li class="menu-item"><a href="#facet-menu" class="menu-button">Menu</a></li>    
    </ul>
  </nav>
    
  <div role="navigation" id="facet-menu">
    <div id="facets-actions" class="shadow-panel">
    
      <%= form_tag( {}, { :method => :get }) do %>
      
        <div>
          <%= hidden_field_tag 'q', @query %>
          <%= hidden_field_tag 'count', @count %>
        </div>
             
        <ul id="facets">  
          
          <script type="text/javascript">
          	var filterSectionLabel = "<%= t('views.search.facets.matches_for' ) %>";
          </script>
          
          <%- unless @query.blank? && @facets.blank? -%>
          
            <li class="filter-section"><%= render :partial => 'search/filters', :locals => { :query => @query, :facets => @facets, :provider => "/" + current_search_provider_stem }%></li>
          <%- end -%>
          
          <li class="refinements-section">
            <h3>
              <a class="facet-section icon-arrow-7"><%= t('views.contributions.search.facets.refine' ) %></a>
            </h3>
              
            <ul class="keywords">
            	<li>
            		<a><span>
              			<%= t('views.contributions.search.facets.add_keyword' ) %>
            		</span></a>
            	</li>
            	<li  class="h-flex-container">
	              	<input id="newKeyword" type="text" name="qf" class="h-flex-fill"/>
    	          		<span class="h-flex-fixed">
        	        	<input type="submit" value="+ Add"/>
            	  </span>
            	</li>
            </ul>
                  
          </li>

          <%- unless @facets.blank? -%>
            <%= render :partial => 'search/facets', :object => @facets, :locals => { :provider => "/" + current_search_provider_stem } %>
            
          <%- end -%>
          
        </ul>
          
        <div><%= submit_tag t('actions.submit'), :name => nil %></div>
        
      <% end %>
        
      <br/>
      <br/>
      <br/>

      <h4>
        <%= t('views.contributions.search.facets.share.label' ) %>
      </h4>

      <div id="shareicons">
        <span class='st_sharethis_large' displayText='Share on Social Media'></span>
          
        <span class="share-label">
          <%= t('views.contributions.search.facets.share.sidetext') %>
        </span>
      </div>
    </div>
  </div>
    

  <section role="main">
    <%=
      render :partial => 'search/results', :locals => {
        :results => @results,
        :query => @query,
        :term => @term
      }
    %>
  </section>

</div>
