<% @title = t 'views.explore.heading' %>

	<p><%= raw t 'views.explore.p1' %></p>
	<% if current_user.may_search_contributions? -%>
	  <%= render :partial => 'shared/search_form', :locals => { :query => @query } %>
	<% end -%>
	
	<p><%= raw t('views.explore.p2') %></p>
	<p><%= raw t('views.explore.p3') %></p>

	<p>
		<%= raw t('views.explore.search_for') %><br/>
		[ <%= raw t('views.explore.links.postcard') %> ]&nbsp;
		[ <%= raw t('views.explore.links.diary') %> ]&nbsp;
		[ <%= raw t('views.explore.links.military_passport') %> ]&nbsp;
		[ <%= raw t('views.explore.links.medal') %> ]&nbsp;
		[ <%= raw t('views.explore.links.family') %> ]&nbsp;
		[ <%= raw t('views.explore.links.eastern_front') %> ]&nbsp;
		[ <%= raw t('views.explore.links.flanders') %> ]&nbsp;
		[ <%= raw t('views.explore.links.trenches') %> ]
	</p>
	
	<p><%= raw t('views.explore.p5') %></p>
		
		<ul>
			
			<li><%= raw t('views.explore.links.roadshows.preston_2012_03') %></li>
			<li><%= raw t('views.explore.links.roadshows.luxembourg_2012_03') %></li>
			<li><%= raw t('views.explore.links.roadshows.amberg_2012_01') %></li>
			<li><%= raw t('views.explore.links.roadshows.frankfurt_2011_03') %></li>
			<li><%= raw t('views.explore.links.roadshows.berlin_2011_04') %></li>
			<li><%= raw t('views.explore.links.roadshows.munich_2011_04') %></li>
			<li><%= raw t('views.explore.links.roadshows.stuttgart_2011_04') %></li>
			<li><%= raw t('views.explore.links.roadshows.erfurt_2011_06') %></li>
			<li><%= raw t('views.explore.links.roadshows.dresden_2011_06') %></li>
			<li><%= raw t('views.explore.links.roadshows.kiel_2011_06') %></li>
			<li><%= raw t('views.explore.links.roadshows.regensburg_2011_07') %></li>
			
		</ul>
		
	</p>
	
	<div class="editors-pick">
		
		<h2><%= t('common.editors_pick.heading') %></h2>
		<div class="feedcontent">
  		<%= render :partial => 'blog_posts/list', :locals => { :blog => 'gwa', :titles => true } %>
		</div>
		<p>&nbsp;</p>
		<p><%= raw t('common.editors_blog.more_stories') %></p>
		
	</div>
