<div id='footer' class='section'>
  <ul id='navigation-footer'>
    <li><a href='/<%= I18n.locale%>/about/terms'><%= t('views.about.terms.heading') %></a></li>  
    <li><a href='/<%= I18n.locale %>/contact'><%= t('common.links.contact_us') %></a></li>
    <li><a href='/<%= I18n.locale %>/about'><%= t('common.menus.main.about') %></a></li>
    <li class='last-child'><%= t('common.labels.co_funded') %> <img src='/images/europeana-theme/application/eu-flag.gif' alt='European Union Flag' width='20' height='14' /></li>
  </ul>
  <div id='footer-logos'>
  
    <a href="http://www.ox.ac.uk/" title="University of Oxford" target="_blank"><img src="/themes/<%=session[:theme]%>/images/logos/university-of-oxford.gif" alt="University of Oxford" width="180" height="56"/></a><a href="http://www.europeana-collections-1914-1918.eu/" title="europeana collections 1914-1918" target="_blank"><img src="/themes/<%=session[:theme]%>/images/logos/europeana-collections-1914-1918.png" alt="europeana collections 1914-1918" width="180" height="100"/></a><a href="http://project.efg1914.eu/" title="european film gateway 1914" target="_blank"><img src="/themes/<%=session[:theme]%>/images/logos/european-film-gateway-1914.png" alt="european film gateway 1914" width="180" height="47"/></a>
  </div>
</div>

