
<div id='navigation-all'>
	<%= render :partial => '/layouts/navigation/main' %>
	<%= render :partial => '/layouts/navigation/user' %>
</div>

<div id='header' class='section'>

	

	
	<a href='#' id='navigation-mobile-trigger'><%= t('common.menus.menu') %><span class="icon-mobilemenu" alt="navigation-mobile" style="font-size:2.5em; position:relative; top:0.3em;"/></a>
	
	
	<% if(!current_page?(home_path))  %>
	
		<table class="t-logo-search">
			<tr>
				<td class="td-logo">
			
					<h1 id='logo'  <%= current_page?(home_path) ? 'class=landing' : '' %> >
						<a href='<%= home_path %>' title='<%= t('views.home.heading') %>'></a>
					</h1>

				</td>
			
				<td id="search-form-wrapper">
					<%= render :partial => '/search/form', :locals => { :query => @query, :count => 48 } %>
				</td>
			</tr>
		</table>
		
	<% end %>
	
</div>
