

<div id='header' class='section'>

	<div id='navigation-all'>
		<%= render :partial => '/layouts/navigation/main' %>
		<%= render :partial => '/layouts/navigation/user' %>
	</div>
	
	<a href='#' id='navigation-mobile-trigger'><%= t('common.menus.menu') %><img src="/themes/<%=session[:theme]%>/images/icons/navigation-mobile.png" alt="navigation-mobile" width="24" height="18"/></a>
	
	<table class="t-logo-search">
		<tr>
			<td class="td-logo">
			
				<h1 id='logo'  <%= current_page?(home_path) ? 'class=landing' : '' %> >
					<a href='<%= home_path %>' title='<%= t('views.home.heading') %>'></a>
				</h1>

			</td>
			
			<td id="search-form-wrapper">
				<%= render :partial => '/shared/search_form', :locals => { :query => @query, :count => 48 } %>
			</td>
		</tr>
	</table>
	
</div>
