<% provide :title, t('views.statistics.index.title') %>

<div class="section top">

  <style type="text/css">
    .google-analytics-statistics {
      float: left;
      width: 45%;
      background-color: #EEEEEE;
      border: 1px solid #DADADA;
      margin: 0 1% 1% 0;
      padding: 1%;
    }
  </style>
  
  <h2><%= t 'views.statistics.index.contributions.heading' %></h2>
  
  <div class="google-analytics-statistics">
    <h3><%= t 'views.statistics.index.contributions.ugc' %></h3>
    <ul>
      <li><%= t('activerecord.models.contribution').pluralize %>: <%= number_with_delimiter(Contribution.published.count, :delimiter => ',') %></li>
      <li><%= t('activerecord.models.attachment').pluralize %>: <%= number_with_delimiter(Attachment.published.count, :delimiter => ',') %></li>
    </ul>
  </div>
  
  <div class="google-analytics-statistics">
    <h3><%= t 'views.statistics.index.contributions.institutional' %></h3>
    <ul>
      <%- for provider in [ 'europeana', 'dpla', 'digitalnz', 'trove' ] -%>
        <%- if provider_count = send(:"count_all_#{provider}_items") -%>
          <li><%= t "views.statistics.index.providers.#{provider}" %>: <%= number_with_delimiter(provider_count, :delimiter => ',') %></li>
        <%- end -%>
      <%- end -%>
    </ul>
  </div>
  
  <h2><%= yield :title %></h2>
  
  <%- if @results.present? -%>
  
    <%- @results.each_pair do |interval, statistics| -%>
    
      <div class="google-analytics-statistics">
        <h3><%= t interval, :scope => "views.statistics.index.intervals" %></h3>
        <% if statistics[:label] %><p><%= statistics[:label] %></p><% end %>
        <ul>
          <li><%= t 'views.statistics.index.metrics.visits' %>: <%= number_with_delimiter(statistics[:visits]) %></li>
          <li><%= t 'views.statistics.index.metrics.avgtimeonsite' %>: <%= distance_of_time_in_words(statistics[:avgTimeOnSite]) %></li>
          <li><%= t 'views.statistics.index.metrics.object_pageviews' %>: <%= number_with_delimiter(statistics[:object_pageviews]) %></li>
          <li><%= t 'views.statistics.index.metrics.europeana_pageviews' %>: <%= number_with_delimiter(statistics[:europeana_pageviews]) %></li>
        </ul>
      </div>
    
    <%- end -%>
    
  <%- else -%>
    <p><%= t 'views.statistics.index.no_results' %></p>
  <%- end -%>

</div>
