<% provide :title, t('views.statistics.index.heading') %>

<div class="section top">
  
  <h2><%= yield :title %></h2>
  
  <%- if @results.present? -%>
  
  <style type="text/css">
    .google-analytics-statistics {
      float: left;
      width: 30%;
      background-color: #EEEEEE;
      border: 1px solid #DADADA;
      margin: 0 1% 1% 0;
      padding: 1%;
    }
  </style>
  
    <%- @results.each_pair do |interval, statistics| -%>
    
      <div class="google-analytics-statistics">
        <h3><%= t interval, :scope => "views.statistics.index.intervals" %></h3>
        <ul>
          <li><%= t 'views.statistics.index.metrics.visits' %>: <%= number_with_delimiter(statistics[:visits]) %></li>
          <li><%= t 'views.statistics.index.metrics.avgtimeonsite' %>: <%= distance_of_time_in_words(statistics[:avgTimeOnSite]) %></li>
          <li><%= t 'views.statistics.index.metrics.object_pageviews' %>: <%= number_with_delimiter(statistics[:object_pageviews]) %></li>
          <li><%= t 'views.statistics.index.metrics.europeana_pageviews' %>: <%= number_with_delimiter(statistics[:europeana_pageviews]) %></li>
        </ul>
      </div>
    
    <%- end -%>
    
  <%- else -%>
    <p><%= t 'views.statistics.index.no_results' %></p>
  <%- end -%>
  
</div>
