<% @title = t('views.admin.statistics.index.title') %>
<div class="section top">

  <h2><%= @title %></h2>

  <p><%= t('views.admin.statistics.index.introduction') %></p>

  <%= form_tag admin_statistics_path, { :method => :get } do %>
    <div>
      <%= select_tag 'year', options_for_select(collection_years.first..Date.today.year, @year), :title => t('datetime.prompts.year') %>
      <%= select_tag 'collection_day', collection_day_options_for_select(@collection_day), :title => t('formtastic.labels.contribution.metadata.collection_day') %>
      <%= submit_tag t('actions.submit'), :name => nil %>
    </div>
  <% end %>
  
  <table>
    <thead>
      <tr>
        <th scope="col"><%= t('datetime.prompts.month') %></th>
        <th scope="col" class="number"><%= t('activerecord.models.contribution').pluralize %></th>
        <th scope="col" class="number"><%= t('activerecord.models.attachment').pluralize %></th>
      </tr>
    </thead>
    <tbody>
      <%- @statistics.each do |month_stats| -%>
        <tr>
          <td><%= month_stats[:month] %></td>
          <td class="number"><%= number_with_delimiter(month_stats[:contributions], :delimiter => ',') %></td>
          <td class="number"><%= number_with_delimiter(month_stats[:attachments], :delimiter => ',') %></td>
        </tr>
      <%- end -%>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row"><%= t('common.other.total') %></th>
        <td class="number"><%= number_with_delimiter(@totals[:contributions], :delimiter => ',') %></td>
        <td class="number"><%= number_with_delimiter(@totals[:attachments], :delimiter => ',') %></td>
      </tr>
    </tfoot>
  </table>

</div>
