<% @title = t('views.statistics.index.heading') %>

<div class="section top">
  
  <h2><%= @title %></h2>
  
  <table>
    <thead>
      <tr>
        <th scope="col">Interval</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Visits</th>
        <th scope="col">Time on site</th>
        <th scope="col">Object page views</th>
      </tr>
    </thead>
    <tbody>
      <%- @results.each_pair do |interval, statistics| -%>
        <tr>
          <th scope="row"><%= @labels[interval] %></th>
          <td><%= l(@interval_date_params[interval][:start_date], :format => '%d/%m/%Y %H:%M') %></td>
          <td><%= l(@interval_date_params[interval][:end_date], :format => '%d/%m/%Y %H:%M') %></td>
          <td><%= number_with_delimiter(statistics[:visits]) %></td>
          <td><%= distance_of_time_in_words(statistics[:timeonsite]) %></td>
          <td><%= number_with_delimiter(statistics[:object_pageviews]) %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
  
</div>
