<% @title = t('views.statistics.index.heading') %>

<div class="section top">
  
  <h2><%= @title %></h2>
  
  <table>
    <thead>
      <tr>
        <th scope="col">Interval</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Visits</th>
        <th scope="col">Time on site</th>
      </tr>
    </thead>
    <tbody>
      <%- @results.each_pair do |key, interval| -%>
        <tr>
          <th scope="row"><%= @labels[key] %></th>
          <td><%= l(@interval_date_params[key][:start_date], :format => :short) %></td>
          <td><%= l(@interval_date_params[key][:end_date], :format => :short) %></td>
          <td><%= number_with_delimiter(interval.totals_for_all_results['visits']) %></td>
          <td><%= distance_of_time_in_words(interval.totals_for_all_results['timeonsite']) %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
  
</div>
