<% @javascripts[:explore] = true -%>
<%- @title = t 'views.explore.heading' -%>

<div id="explore-introduction">

	<%= render :partial => 'pages/explore/explore_introduction', :locals => { :locale => I18n.locale } %>

</div>


<ol id="stories-from-the-archive">
	
	<%= render :partial => 'stories_from_the_archive', :locals => { :locale => I18n.locale } %>
	
</ol>

<div id="explore-by">
	
	<div id="explore-by-object">
		
		<h2 class="section-heading">explore by story <b>object</b></h2>
		
		<%= render :partial => 'pages/explore/explore_by_object', :locals => { :locale => I18n.locale } %>
		
	</div>
		
	<div id="explore-by-theme">
		
		<h2 class="section-heading">explore by story <b>theme</b></h2>
		
		<%= render :partial => 'pages/explore/explore_by_theme', :locals => { :locale => I18n.locale } %>
		
	</div>

</div>

	
<div id="editors-picks">
	
	<h2><%= t('common.editors_pick.heading') %></h2>
	<%= render :partial => 'editors_picks', :locals => { :locale => I18n.locale } %>
	<p>&nbsp;</p>
	<p><%= raw t('common.editors_blog.more_stories') %></p>
	
</div>