<% @javascripts[:explore] = true -%>
<%- @title = t 'views.explore.heading' -%>

<div id="explore-introduction">

	<%= render :partial => '/blog_posts/index', :locals => { :category => 'explore-introduction' } %>

</div>


<ol id="stories-from-the-archive" class="two-thirds-right boxed">
	
	<%= render :partial => '/blog_posts/list', :locals => { :category => 'stories-from-the-archive', :tag => :li, :relocale => true } %>
	
</ol>

<div id="explore-by">
	
	<div id="explore-by-object">
		
		<h2 class="section-heading">explore by story <b>object</b></h2>
		
		<ol>
  	  <%= render :partial => '/blog_posts/list', :locals => { :category => 'explore-by-object', :tag => :li, :relocale => true } %>
	  </ol>
		
	</div>
		
	<div id="explore-by-theme">
		
		<h2 class="section-heading">explore by story <b>theme</b></h2>
		
		<ol>
  		<%= render :partial => '/blog_posts/list', :locals => { :category => 'explore-by-theme', :tag => :li, :relocale => true } %>
		</ol>
		
	</div>

</div>

	
<div id="editors-picks">
	
	<h2><%= t('common.editors_pick.heading') %></h2>
	<%= render :partial => '/blog_posts/list', :locals => { :blog => 'gwa', :titles => true } %>
	<p>&nbsp;</p>
	<p><%= raw t('common.editors_blog.more_stories') %></p>
	
</div>
