<% @javascripts[:explore] = true -%>
<%- @title = t 'views.explore.heading' -%>

<div id="explore-introduction">

	<p><%= raw t 'views.explore.p1' %></p>
	<p><%= raw t('views.explore.p2') %></p>
	<p><%= raw t('views.explore.p3') %></p>

</div>
	
<ol id="editors-picks">
	
	<%= render :partial => 'editors_picks', :locals => { :locale => I18n.locale } %>
	
</ol>

<div id="explore-by-object">
	
	<div class="section-heading">explore by story <b>object</b></div>
	
	<ol>
		<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=Postkarte" title="Postcard"><img src="/attachments/40374/2961.40374.preview.jpg" alt="Postcard" /></a></li>
		<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=Tagebuch" title="Postcard"><img src="/attachments/17200/1524.17200.preview.jpg" alt="Diary" /></a></li>
		<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=Militärpass" title="Passport"><img src="/attachments/34968/2724.34968.preview.jpg" alt="Passport" /></a></li>
		<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=Orden" title="Medal"><img src="/attachments/33884/2676.33884.preview.jpg" alt="Medal" /></a></li>
	</ol>
	
</div>

<div id="explore-by-theme">
	
	<div class="section-heading">explore by story <b>theme</b></div>
	
	<ol>
		<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=Familie" title="Family"><img src="/attachments/38422/3090.38422.preview.jpg" alt="Family" /></a></li>
		<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=Flandern" title="Flanders"><img src="/attachments/28691/2170.28691.preview.jpg" alt="Flanders" /></a></li>
		<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=Ostfront" title="Eastern Front"><img src="/attachments/33416/2631.33416.preview.jpg" alt="Eastern-Front" /></a></li>
		<li><a href="/<%= I18n.locale %>/contributions/search?utf8=✓&q=Schützengraben" title="Trenches"><img src="/attachments/39254/3131.39254.preview.jpg" alt="Trenches" /></a></li>
	</ol>
	
</div>