<%

	@javascripts[:explore] = true
	@javascripts[:carousel] = true
	@javascripts[:readmore] = true
	@javascripts[:masonry] = true
	@title = t 'views.explore.heading'

%>
<section class="top">
	
	<div id="explore-introduction" class="one-third-left">		
		<%= render :partial => '/shared/search_form', :locals => { :query => @query } %>
		<%= render :partial => '/blog_posts/list', :locals => { :category => 'explore-introduction', :titles => true } %>
	</div>
	
	<div id="explore-featured" class="carousel two-thirds-right">		
		<ul>
			<%= render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'explore-the-archive', :tag => :li, :relocale => true } %>
		</ul>
		<div class="carousel-overlay"></div>
	</div>
	
</section>


<section id="explore-featured-categories" class="border-top">
	
	<h2>Browse Featured Categories</h2>
	
		<ol>
			<%=
				render :partial => '/blog_posts/list',
				:locals => {
					:blog => 'europeana',
					:category => 'explore-featured-categories',
					:tag => :li,
					:relocale => true,
					:deblogger => true
				}
			%>
		</ol>

</section>


<section class="border-top">
	
	<h2>Browse Collection Days</h2>
	
		<div id="explore-collection-days" class="carousel">
			<ul>
				<%=
					render :partial => '/blog_posts/list',
					:locals => {
						:category => 'collection-days',
						:tag => :li,
						:relocale => true,
						:deblogger => true
					}
				%>
			</ul>
			<div class="carousel-overlay"></div>
		</div>

	
</section>


<section id="explore-editors-picks" class="border-top">
	
	<h2><%= t('common.editors_pick.heading') %></h2>
		
		<%= render :partial => '/blog_posts/list', :locals => { :blog => 'gwa', :tag => 'article', :titles => true, :limit => 2, :deblogger => true, :read_more => true } %>
	
</section>