<% provide :title, t('views.admin.users.delete.title') %>
<div class="section top">
  
  <h2><%= yield :title %></h2>
  
    <p><%= raw t 'views.admin.users.delete.question', :email => "<strong>#{@user.email}</strong>" %></p>
    
    <p><%= raw t 'views.admin.users.delete.warning' %></p>
    
    <p><%= t 'views.common.permanent' %></p>
    
    <%= semantic_form_for [ 'admin', @user ], :html => { :method => :delete } do |form| %>
      <%= form.buttons do %>
        <%= redirect_field %>
        <%= form.commit_button :label => t('formtastic.actions.user.delete'), :button_html => { :confirm => t('views.admin.users.delete.button_confirm') }  %>
        <%= form_cancel_link admin_users_path %>
      <% end %>
    <% end %>

</div>