<% fields = metadata_record_fields(local_assigns[:field_options] || {}) -%>

<% unless fields.blank? -%>
  
  <% fields.each do |field| %>
    
    <%- if field.field_type == 'date' %>
    
      <%=
        form.input field.form_input_name,
        :label => metadata_field_label(field, local_assigns[:type]),
        :hint => metadata_field_hint(field, local_assigns[:type]),
        :as => :string_date,
        :start_year => 1800,
        :end_year => 2012
      %>
    
    <%- elsif field.name == 'location_placename' %>
    
      <%=
        form.input field.form_input_name,
        :label => metadata_field_label(field, local_assigns[:type]),
        :hint => metadata_field_hint(field, local_assigns[:type]),
        :required => field.required?
      %>
      
      <li id="gmap-container">
        <label><%= raw t('common.google_maps.label') %></label>
        <input type="text" id="google-places" />
        <input type="button" id="google-places-button" value="<%= I18n.t('javascripts.gmap.search.button') %>" />
        <ul class="inline-hints google">
          <%= raw t('common.google_maps.help_text') %>
        </ul>
        <div id="gmap-locate"></div>
      </li>
    
    <%- elsif field.name == 'location_map' %>
      
      <%=
        form.input field.form_input_name,
        :label => metadata_field_label(field, local_assigns[:type]),
        :hint => metadata_field_hint(field, local_assigns[:type]),
        :as => :hidden
      %>
      
      <li>
        <label><%= t('formtastic.labels.contribution.metadata.location_map') %></label>
        <div id="location-map-placholder"></div>
      </li>
    
    <%- elsif field.name == 'location_zoom' %>
      
      <%=
        form.input field.form_input_name,
        :label => metadata_field_label(field, local_assigns[:type]),
        :hint => metadata_field_hint(field, local_assigns[:type]),
        :as => :hidden
      %>
      
      <li>
        <label><%= t('formtastic.labels.contribution.metadata.location_zoom') %></label>
        <div id="location-zoom-placholder"></div>
      </li>
      
    <%- elsif field.field_type == 'taxonomy' %>
      
      <%- if field.multi -%>
      
        <%=
          form.input field.form_input_name,
          :label => metadata_field_label(field, local_assigns[:type]),
          :hint => metadata_field_hint(field, local_assigns[:type]),
          :as => :check_boxes,
          :collection => metadata_field_taxonomy_terms(field),
          :member_label => :translated_term,
          :required => field.required?
        %>
        
      <%- else -%>
      
        <%=
          form.input field.form_input_name,
          :label => metadata_field_label(field, local_assigns[:type]),
          :hint => metadata_field_hint(field, local_assigns[:type]),
          :as => :select,
          :collection => metadata_field_taxonomy_terms(field),
          :member_label => :translated_term,
          :required => field.required?,
          :include_blank => true,
          :input_html => { :multiple => false }
        %>
        
      <%- end -%>
      
    <%- else %>
      
      <%=
        form.input field.form_input_name,
        :label => metadata_field_label(field, local_assigns[:type]),
        :hint => metadata_field_hint(field, local_assigns[:type]),
        :required => field.required?
      %>
      
    <%- end %>
    
  <% end %>
  
<% end -%>
