<% @javascripts[:about] = true -%>
<% @stylesheets[:item] = true -%>

  <div class="container">
    <div class="col left">
	    <div class="col -cell">
	      &nbsp;
		</div>
    </div>
    <div class="col middle">
	    <div class="col-cell">
			<h2><%= raw t('views.about_us.europeana.heading') %></h2>
			
			<p><%= raw t('views.about_us.europeana.p1') %></p>
			<p><%= raw t('views.about_us.europeana.p2') %></p>
			
			<p>
				<%= raw t('views.about_us.europeana.p3') %>
				<%= raw t('common.links.national_collections') %>
			</p>
			
			<p>
				<%= raw t('views.about_us.europeana.p4') %>
				<%= raw t('common.links.efg') %>
			</p>
		

			<h2><%= raw t('views.about_us.get_involved.heading') %></h2>
		
			<h3><%= raw t('views.about_us.events.heading') %></h3>
				<p><%= raw t('views.about_us.get_involved.events.p1') %></p>
				<p><%= raw t('views.about_us.get_involved.events.p2') %> <%= raw t('common.links.contact_us_email') %></p>
	
			<h3><%= raw t('views.about_us.get_involved.contribute_online.heading') %></h3>
				<p><%= raw t('views.about_us.get_involved.contribute_online.p1') %></p>
	
			<h3><%= raw t('views.about_us.get_involved.reuse.heading') %></h3>
				<p><%= raw t('views.about_us.get_involved.reuse.p1') %></p>
	
			<h3><%= raw t('views.about_us.get_involved.education.heading') %></h3>
				<p><%= raw t('views.about_us.get_involved.education.p1') %></p>

		</div>
    </div>

  </div>


