<% content_for :title, raw t('common.links.privacy_policy') %>

<div class='section top'>
	
	<h2><%= t('common.links.privacy_policy') %></h2>
	<p><%= raw t('views.about.privacy_policy.p1') %></p>
	<p><%= raw t('views.about.privacy_policy.p2') %></p>
	<p><%= raw t('views.about.privacy_policy.p3') %></p>
	<p><%= raw t('views.about.privacy_policy.p4') %></p>
	
</div>