<%
	record = @object

	proxy          = record['proxies'][0]
	aggregation    = record['aggregations'] ? record['aggregations'][0] : {}
	edmIsShownBy   = aggregation['edmIsShownBy'] ? aggregation['edmIsShownBy'] : nil
	euAggregation  = record['europeanaAggregation']
	edmPreview     = euAggregation['edmPreview'] ? euAggregation['edmPreview'] : nil
	edmProvider    = aggregation['edmProvider'] ? edm_proxy_field(aggregation, 'edmProvider') : nil

	if edmProvider.blank? || (edmProvider != "Europeana 1914 - 1918")
		mediaplayer    = false
		title          = proxy ? edm_proxy_field( proxy, 'dcTitle' ) : 'unknown'
		type           = record['type'] ? record['type'] : nil


		if edmIsShownBy
			if /.flv/.match( edmIsShownBy ) || /.mp4/.match( edmIsShownBy )
				mediaplayer = true
				html = video_tag edmIsShownBy, :controls => true, :preload => 'none', :poster => edmPreview, :style => 'width:100%;height:100%;'
			elsif type == 'IMAGE'
				html = '<img src="' + edmIsShownBy + '"/>'
			else
				html = '<iframe id="iframe" src="' + edmIsShownBy + '" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
			end
		end
	end
-%>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<% if mediaplayer -%>
<%= stylesheet_link_tag 'mediaelementplayer' %>
<% end -%>
<title><%= title -%></title>
<% if type == 'IMAGE' -%>
<style>html{width:100%;height:100%;}body{background: url('<%= theme_image_path("icons/loading-animation.gif") %>') center center no-repeat;}img{display:block;margin:auto;}</style>
<% else -%>
<style>html{width:100%;height:100%;}body{width:100%;height:100%;margin:0;padding:0;overflow:hidden;}iframe{width:99%;height:99%;overflow:hidden;background-color:#fff;}.mejs-container{max-height:480px;margin:auto;}body{background: url('<%= theme_image_path("icons/loading-animation.gif") %>') center center no-repeat;}</style>
<% end -%>
</head>
<body>
<%= html.html_safe -%>
<% if mediaplayer -%>
<%= theme_javascript_include_tag 'eu/europeana/pages/edm-video' %>
<script>
(function() {
	function startMejs() {
		console.log('initializing mejs');
		$('video').mediaelementplayer({
			pluginPath:'/assets/mediaelement/',
			enablePluginDebug: true
		});
	}
	function initEdmVideo() {
		if ( !window.mejs ) {
			setTimeout(
				initEdmVideo,
				100
			);
		} else {
			startMejs();
		}
	}
	initEdmVideo();
}());
</script>
<% end -%>
</body>
</html>
