<div id="footer">

  <ul class="sitemap">
    
    <li><a href="/<%= I18n.locale%>/about/terms"><%= t('views.about.terms.heading') %></a></li>  
    <li><a href="/<%= I18n.locale %>/contact"><%= t('common.links.contact_us') %></a></li>
    <li><a href="http://www.dnb.de/" title="Deutsche Nationalbibliothek"><img src="/images/DNB_logo.png" alt="Deutsche Nationalbibliothek"></a></li>
    <li><a href="http://www.europeana.eu/portal/" title="Europeana"><img src="/images/europeana_logo_German_landscape.png" alt="Europeana" ></a></li>
    <li><a href="http://www.oucs.ox.ac.uk/ww1lit/gwa" title="<%= t('common.links.titles.great_war') %>"><img src="/images/ox_brand.gif" alt="University of Oxford" /></a></li>
    <li class="signoff"><%= t('common.labels.co_funded') %> <img src="/images/europeana-theme/application/eu-flag.gif" alt="" /></li>
    
  </ul>
  
</div>
