<% if current_page_parent?(contributor_dashboard_path) || current_page_parent?(contributions_path) || current_page_parent?(admin_root_path) -%>
<div id="side-nav">
<% if user_signed_in? -%>
  <h3><%= current_user.email %></h3>
<% end -%>
<ul>
<% if user_signed_in? -%>
  <li><%= link_to 'Übersicht', contributor_dashboard_path %></li>
  <li><%= link_to 'Konto', user_account_path %></li>
  <li><%= link_to 'Abmelden', destroy_user_session_path %></li>
  <%- if current_user.may_access_admin_area? -%>
    <li><%= link_to t('layout.navigation.admin'), admin_root_path %></li>
  <%- end -%>
<% else -%>
  <li><%= link_to 'Einloggen', new_user_session_path %></li>
  <li><%= link_to 'Registrieren', new_user_registration_path %></li>
<% end -%>
</ul>
</div>
<% end -%>
