<%
		@javascripts[:images_loaded] = true
		@javascripts[:index] = true
		
	#	@javascripts[:carousel] = true
	
		@javascripts[:readmore] = true
		@javascripts[:masonry] = true
		@title = t 'views.home.heading'
		require 'hpricot'	
%>

<% 
	@stylesheets['index'] = true 
%>

<div class='section top'>
	
	<% doc = Hpricot( render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'index-introduction', :titles => true, :deblogger => true } ) %>
	<% docTitle = doc/'h3' %>

	<% (doc/'h3').remove %>
	

	<div id='index-featured' style="position:relative;">
		 
		<%= render :partial => 'carousel_text_overlay',
			:locals => { 
				:doc => doc/'p:nth(1)',
				:docTitle => docTitle,
				:mobile => false			
			}
		 %>
	
		<img src="themes/v3/images/splash-img.jpg" />
		
	</div>
	


	<%= render :partial => 'carousel_text_overlay',
		:locals => { 
			:doc => doc,
			:docTitle => docTitle,
			:mobile => true
		}
	 %>

	
</div>


<div class="section main h-flex-container h-flex-collapse">
	<div class="h-flex-fill h-flex-collapse">
		<div id="featured-categories">
			<ul><li>
					<a title="Trench Life" href="javascript:alert('links not working yet');">
						<img src="http://deanbirkett.name/playground/europeana/1914-1918/img/landingblock1.png" border="0"/>
						<div class="subtitle">Trench Life</div>
					</a>
				</li><li>
					<a title="Propaganda" href="javascript:alert('links not working yet');">
						<img src="http://deanbirkett.name/playground/europeana/1914-1918/img/landingblock2.png" border="0"/>
						<div class="subtitle">Propaganda</div>
					</a>
				</li><li>
					<a title="Home Front" href="javascript:alert('links not working yet');">
						<img src="http://deanbirkett.name/playground/europeana/1914-1918/img/landingblock3.png" border="0"/>
						<div class="subtitle">Home Front</div>
					</a>
				</li><li>
					<a title="Jewelry Box" href="javascript:alert('links not working yet');">
						<img src="http://deanbirkett.name/playground/europeana/1914-1918/img/landingblock4.png" border="0"/>
						<div class="subtitle">Jewelry Box</div>
					</a>
				</li><li>
					<a title="Prisoners of War" href="javascript:alert('links not working yet');">
						<img src="http://deanbirkett.name/playground/europeana/1914-1918/img/landingblock5.png" border="0"/>
						<div class="subtitle">Prisoners of War</div>
					</a>
				</li><li>
					<a title="Letters" href="javascript:alert('links not working yet');">
						<img src="http://deanbirkett.name/playground/europeana/1914-1918/img/landingblock6.png" border="0"/><div class="subtitle">Letters</div>
					</a>
				</li></ul>
	
		</div>
	</div>
	
	
	<div class="h-flex-fixed h-flex-collapse right-col">

		<div class="recent-activity" >
	
			<div class="head">
				<h3><%= number_with_delimiter(Contribution.published.count, :delimiter => ',') %></h3>
				stories added so far
			</div>

			<ul>
				<li>
					<a href="">Benjamin</a> has added a story called <a href="">The Silver Bugle</a>
				</li>
				<li>
					<a href="">Marcus</a> has commented on a story <a href="">Fliegerphotos</a>
				</li>
				<li>
					<a href="">Alexander</a> has updated a story called <a href="">Fliegerphotos</a>
				</li>
				<li>
					<a href="">Marcus</a> has favourited a story called <a href="">Schmuckbehalter aus Glas und Metall, 1914</a>
				</li>
				<li>
					<a href="">Benjamin</a> has shared a story called <a href="">Schmuckbehalter aus Glas und Metall, 1914</a>
				</li>
				<li>
					We may need infinite scroll here if there's tons of activity
				</li>
			
				<li>
					<a href="">Benjamin</a> has added a story called <a href="">The Silver Bugle</a>
				</li>
				<li>
					<a href="">Marcus</a> has commented on a story <a href="">Fliegerphotos</a>
				</li>
				<li>
					<a href="">Alexander</a> has updated a story called <a href="">Fliegerphotos</a>
				</li>
				<li>
					<a href="">Marcus</a> has favourited a story called <a href="">Schmuckbehalter aus Glas und Metall, 1914</a>
				</li>
				<li>
					<a href="">Benjamin</a> has shared a story called <a href="">Schmuckbehalter aus Glas und Metall, 1914</a>
				</li>
			</ul>
		</div>
	</div>
	
	
</div>







<%
=begin %>


<div class='section border-top'>
	
	<div id='index-aside' class='one-third-left-boxed box-gradient'>
		
		<%= render :partial => '/blog_posts/list', :locals => { :category => 'index-aside', :titles => true, :deblogger => true } %>
		
	</div>
	
	
	<div id='news-articles'>
	  
		<h2><%= t('common.news') %></h2>
		
			<div id='index-follow-us'>
				<%= render :partial => '/blog_posts/list', :locals => { :category => 'index-follow-us', :titles => false, :deblogger => true } %>
			</div>
			
			<%= render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'news', :tag => :div, :html_class => 'article', :titles => true, :limit => 2, :deblogger => true, :read_more => true } %>
		
	</div>
	
</div>


<%
=end %>
