<%
		@javascripts[:images_loaded] = true
		@javascripts[:index] = true
		
	#	@javascripts[:carousel] = true
	
		@javascripts[:readmore] = true
		@javascripts[:masonry] = true
		@title = t 'views.home.heading'
		require 'hpricot'	
%>

<div class='section top'>
	
	<% doc = Hpricot( render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'index-introduction', :titles => true, :deblogger => true } ) %>
	<% docTitle = doc/'h3' %>

	<% (doc/'h3').remove %>
	

	<div id='index-featured' XXXclass='carousel'  style="position:relative;">
		
		<%= render :partial => 'carousel_text_overlay',
			:locals => { 
				:doc => doc,
				:docTitle => docTitle,
				:mobile => false			
			}
		 %>
	
		<img src="themes/v3/images/splash-img.jpg" />
		
	</div>
	


	<%= render :partial => 'carousel_text_overlay',
		:locals => { 
			:doc => doc,
			:docTitle => docTitle,
			:mobile => true
		}
	 %>

	
</div>


<div class='section border-top'>
	
	<div class='three-quarters-left'>
		<div id='featured-categories'>
		<ul>
			<li>
				<a title="Trench Life" href="javascript:alert('links not working yet');">
					<img src="http://2.bp.blogspot.com/-GnAQiaZRtFs/T6eA80jxX_I/AAAAAAAAACQ/szYr90F2avA/s400/Trench-Life.png" />
					<div class="caption">Trench Life</div>
				</a>
			</li>
			
			<li>
				<a title="Propaganda" href="javascript:alert('links not working yet');">
					<img src="http://3.bp.blogspot.com/-tmLXikVpz3U/T6eHaOmlDNI/AAAAAAAAAEs/pmf2IIOig5A/s400/Propaganda.png" />
					<div class="caption">Propaganda</div>
				</a>
			</li>
			
			<li>
				<a title="Home Front" href="javascript:alert('links not working yet');">
					<img src="http://3.bp.blogspot.com/-_M0atLcPEsE/T6eEKNu5OJI/AAAAAAAAADA/mTDXWZ4D0l4/s400/Home-Front.png" />
					<div class="caption">Home Front</div>
				</a>
			</li>
			
			<li>
				<a title="Jewelry Box" href="javascript:alert('links not working yet');">
					<img src="http://www.europeana1914-1918.eu/attachments/12864/1369.12864.medium.JPG?1308070809" />
					<div class="caption">Jewelry Box</div>
				</a>
			</li>
			
			<li>
				<a title="Prisoners of War" href="javascript:alert('links not working yet');">
					<img src="http://2.bp.blogspot.com/-qCq9O3ld0k8/T6eZJHDcL4I/AAAAAAAAAFg/V29lCFNTK80/s400/Prisoners-of-War.png" />
					<div class="caption">Prisoners of War</div>
				</a>
			</li>
			
			<li>
				<a title="Letters" href="javascript:alert('links not working yet');">
					<img src="http://4.bp.blogspot.com/-tvrk_OjtN2M/T6eFINNSKMI/AAAAAAAAADk/AMTnZnkWMjY/s400/Letters.png" />
					<div class="caption">Letters</div>
				</a>
			</li>
			
		</ul>

		</div>
	</div>
	
	
	<div class="one-quarter-right">

		<div class="recent-activity shadow-panel">
	
			<div class="head">
				<h3>1,236</h3>
				stories added so far
			</div>

			<ul>
				<li>
					<a href="">Benjamin</a> has added a story called <a href="">The Silver Bugle</a>
				</li>
				<li>
					<a href="">Marcus</a> has commented on a story <a href="">Fliegerphotos</a>
				</li>
				<li>
					<a href="">Alexander</a> has updated a story called <a href="">Fliegerphotos</a>
				</li>
				<li>
					<a href="">Marcus</a> has favourited a story called <a href="">Schmuckbehalter aus Glas und Metall, 1914</a>
				</li>
				<li>
					<a href="">Benjamin</a> has shared a story called <a href="">Schmuckbehalter aus Glas und Metall, 1914</a>
				</li>
				<li>
					We may need infinite scroll here if there's tons of activity
				</li>
			
				<li>
					<a href="">Benjamin</a> has added a story called <a href="">The Silver Bugle</a>
				</li>
				<li>
					<a href="">Marcus</a> has commented on a story <a href="">Fliegerphotos</a>
				</li>
				<li>
					<a href="">Alexander</a> has updated a story called <a href="">Fliegerphotos</a>
				</li>
				<li>
					<a href="">Marcus</a> has favourited a story called <a href="">Schmuckbehalter aus Glas und Metall, 1914</a>
				</li>
				<li>
					<a href="">Benjamin</a> has shared a story called <a href="">Schmuckbehalter aus Glas und Metall, 1914</a>
				</li>
			</ul>
		</div>
	</div>
	
	
</div>







<%
=begin %>


<div class='section border-top'>
	
	<div id='index-aside' class='one-third-left-boxed box-gradient'>
		
		<%= render :partial => '/blog_posts/list', :locals => { :category => 'index-aside', :titles => true, :deblogger => true } %>
		
	</div>
	
	
	<div id='news-articles'>
	  
		<h2><%= t('common.news') %></h2>
		
			<div id='index-follow-us'>
				<%= render :partial => '/blog_posts/list', :locals => { :category => 'index-follow-us', :titles => false, :deblogger => true } %>
			</div>
			
			<%= render :partial => '/blog_posts/list', :locals => { :blog => 'europeana', :category => 'news', :tag => :div, :html_class => 'article', :titles => true, :limit => 2, :deblogger => true, :read_more => true } %>
		
	</div>
	
</div>


<%
=end %>
